<h1>Editing tag_context</h1>

<% form_for(@tag_context) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tag_context %> |
<%= link_to 'Back', tag_contexts_path %>