<h1>Listing tag_contexts</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @tag_contexts.each do |tag_context| %>
  <tr>
    <td><%=h tag_context.name %></td>
    <td><%= link_to 'Show', tag_context %></td>
    <td><%= link_to 'Edit', edit_tag_context_path(tag_context) %></td>
    <td><%= link_to 'Destroy', tag_context, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tag_context', new_tag_context_path %>