
<%= render_cell "venues/manage", :javascript %>

<%= render_cell "venues/venue_list", :javascript,
    :caption => "Venues",
    :selectNotifyMethod => "RoomApp.RoomManagement.selectRoom", # select the display
    # :clearNotifyMethod => "ParticipantApp.PeopleManagement.clearDetails" # Clear the display
    %>

<%= render_cell "venues/room_list", :javascript,
    :caption => "Rooms",
    # :selectNotifyMethod => "ParticipantApp.PeopleManagement.showDetails", # select the display
    # :clearNotifyMethod => "ParticipantApp.PeopleManagement.clearDetails" # Clear the display
    %>

<!--
    On Select we want to change the URL for the room grid so that only the rooms for that venue are shown
    When the room grid is first displayed we do not want to display any rooms unless a venue is selected
    -->    

<div class="row-fluid">
    <div class="span4">
        <%= render_cell "venues/venue_list", :display %>
    </div>
    <div class="span8" >
        <%= render_cell "venues/room_list", :display %>
    </div>
</div>

<div class="row-fluid">
    <div class="span12 well">
        <%= render_cell "venues/setup_list", :display %>
    </div>
</div>