
<script type="text/template" id="room-setup-layout-template">
<section>
    <div id="room-setup-control-div"></div>
    <div id="room-setup-region-div"></div>
</section>
</script>

<script type="text/template" id="room-control-template">
    <button class="add-model-button btn btn-primary btn-xs pull-left"><%= t 'new-room' %></button>
</script>

<script type="text/template" id="room-setup-control-template">
    <h5 class="venues"><%= t "config-room-setups"%>
    <button class="add-model-button btn btn-xs btn-primary pull-right ">
        <%= t 'add-room-setup' %>
    </button>
    </h5>
</script>

<script type="text/template" id="room-setup-template">
    <div class="row">
        <div class="clearfix col-md-8">
            <div class="caption" class="pull-left">
                <button class="model-delete-button btn btn-primary btn-xs pull-right">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
                <button class="model-edit-button btn btn-primary btn-xs pull-right">
                    <i class="glyphicon glyphicon-pencil"></i>
                </button>
                <small>
                    <dl class="dl-horizontal-small">
                        
                        {{= isdefault ? '<div class="default-label pull-right"><span class="glyphicon glyphicon-ok"></span> <%= t "default" %></div>' : ''}}
                        <dt><%= t 'setup' %></dt>
                        <dd>{{= setup_type_name ? setup_type_name : "&nbsp;" }}</dd>
                        <dt><%= t 'capacity' %></dt>
                        <dd>{{= capacity ? capacity : "&nbsp;" }}</dd>
                        <!--
                        <dt><%= t 'isdefault' %></dt>
                        <dd>{{= id == room.setup_id  }}</dd>
                        -->
                    </dl>
                </small>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="venue-layout-template">
<section>
    <h3 class="h3-underlined"><%= t 'venues' %></h3>
    <div id="venue-control-div"></div>
    <div class="voffset10"></div>
    <div id="venue-region-div"></div>
</section>
</script>

<script type="text/template" id="venue-template">
    <a href="#venue-tab" class="list-group-item model-select-button">
        {{= name}}
        <button class="model-delete-button btn btn-primary btn-xs pull-right"><small><i class="glyphicon glyphicon-trash"></i></small></button>
    </a>
</script>

<script type="text/template" id="venue-control-template">
    <div class="row">
        <div class="col-md-12">
            <button class="add-model-button btn btn-primary pull-right clearfix">
                <%= t 'add-venue' %>
            </button>
        </div>
    </div>
</script>
