
<div class='line'><div class='field_name'>Street Text:</div><div class='field_value'><%= address_detail.question %></div></div>
<div class='line'><div class='field_name'>City Text:</div><div class='field_value'><%= address_detail.question1 %></div></div>
<div class='line'><div class='field_name'>State Text:</div><div class='field_value'><%= address_detail.question2 %></div></div>
<div class='line'><div class='field_name'>Zip Text:</div><div class='field_value'><%= address_detail.question3 %></div></div>
<div class='line'><div class='field_name'>Country Text:</div><div class='field_value'><%= address_detail.question4 %></div></div>
<br/>
