
<%= fields_for address_form do |f| %>
    <div class='line'><div class='field_name'>Street Text:</div><div class='field_value'><%= f.text_field :question %></div></div>
    <div class='line'><div class='field_name'>City Text:</div><div class='field_value'><%= f.text_field :question1 %></div></div>
    <div class='line'><div class='field_name'>State Text:</div><div class='field_value'><%= f.text_field :question2 %></div></div>
    <div class='line'><div class='field_name'>Zip Text:</div><div class='field_value'><%= f.text_field :question3 %></div></div>
    <div class='line'><div class='field_name'>Country Text:</div><div class='field_value'><%= f.text_field :question4 %></div></div>
<%end%>
