<!-- %= error_messages_for :surveyQuestion % -->
<%= form_for [@survey,@group,@question], :html => {:class => "question-form", :id => "question_form-questionid-" + @question.id.to_s, :'accept-charset' => 'UTF-8'} do |f| %>
<div class='group_form'>
    <div class='line'>
        <div class='field_name'>Question Type:</div>
        <input name="survey_question[question_type]" value="<%= @question.question_type%>" style='display : none'/>
        <div class='field_value'><%= @question.question_type %></div>
    </div>
    
    <%
    # ------------------------------------------------------------------------
    # Render the correct form for the question type
    %>
    <%= render :partial => @question.question_type.to_s + '_form', :object => @question %>
    <%
    # ------------------------------------------------------------------------
    %>

    <fieldset class="coolfieldset survey_question_advanced">
        <legend>Advanced</legend>
        <div class='line'><div class='field_name'>Sort Order:</div><div class='field_value'><%= f.text_field :sort_order %></div></div>
        <div class='line'><div class='field_name'>Tag Label:</div><div class='field_value'><%= f.text_field :tags_label %></div></div>
        <div class='line'><div class='field_name'>Additional:</div><div class='field_value'><%= f.text_field :additional %></div></div>
        <div class='line'><div class='field_name'>Mandatory:</div><div class='field_value'><%= f.check_box :mandatory %></div></div>
        <div class='line'><div class='field_name'>Text Size:</div><div class='field_value'><%= f.text_field :text_size %></div></div>
        <div class='line'>
            <div class='field_name'>Mapping:</div>
            <div class='field_value'><%= f.select :questionmapping_id,QuestionMapping.find(:all).collect {|s| [s.name,s.id] },{:include_blank => false} %></div>
        </div>
    </fieldset>

    <%
    # ------------------------------------------------------------------------
    # The input area for format information
    %>
    <fieldset class="coolfieldset survey_question_format">
        <legend>Formatting</legend>
        <%= render :partial => 'surveys/format_form', :locals => {:param => 'survey_question[survey_format_attributes]'}, :object => @question.survey_format %>
    </fieldset>
    <%
    # ------------------------------------------------------------------------
    %>

    <%
    # ------------------------------------------------------------------------
    # The input area for answers (if applicable)
    %>
    <% answersstyle = ((@question.question_type.to_s.include? 'text') || (@question.question_type.to_s == 'availability')) ? 'none' : 'block' %>
    <% answersid = "survey_answers_#{@question.id}" %>
    <div class='question-answers' style='<%= "display: #{answersstyle};"%>'>
        <fieldset class="coolfieldset survey_question_answers" >
            <legend>Answers</legend>
            <div id="<%= answersid %>">
                <%= render :partial => 'answer_form', :collection => @question.survey_answers %>
            </div>
            <div>
                <%=link_to_function "Add an Answer", "$('##{answersid}').append(\"#{escape_javascript(render 'answer_form')}\")" %>
            </div>
        </fieldset>
    </div>
    <%
    # ------------------------------------------------------------------------
    %>
    
    <div class='form-buttons'>
        <%= f.submit "Submit" %>
        <%if @question.id != nil %>
            <%= link_to "Cancel", survey_survey_group_survey_question_path(@survey,@group,@question), {:class =>'cancel-link'} %> <!-- TODO - change to a button ... -->
        <%else%>
            <%= link_to "Cancel", survey_survey_group_survey_questions_path(@survey,@group), {:class =>'cancel-link'} %> <!-- TODO - change to a button ... -->
        <%end%>
    </div>
</div>
<% end %>
