<%= error_messages_for :surveyQuestion %>
<% form_for [@survey,@group,@question], :html => {:class => "question-form", :id => "question_form-questionid-" + @question.id.to_s} do |f| %>
<div class='group_form'>
	<div class='line'><div class='field_name'>Title:</div><div class='field_value'><%= f.text_field :title %></div></div>
	<div class='line'><div class='field_name'>Question:</div><div class='field_value'><%= f.text_field :question %></div></div>
	<!-- TODO - change to add answers if the user selects a non-text question -->
	<div class='line'><div class='field_name'>Question Type:</div><div class='field_value'>
		<%= f.select :question_type, [:textfield, :textbox, :singlechoice, :multiplechoice, :selectionbox], {}, {:class =>'question-type'} %>
	</div></div>
    <fieldset class="coolfieldset survey_question_advanced">
        <legend>Advanced</legend>
	<div class='line'><div class='field_name'>Tag Label:</div><div class='field_value'><%= f.text_field :tags_label %></div></div>
	<div class='line'><div class='field_name'>Additional:</div><div class='field_value'><%= f.text_field :additional %></div></div>
	<div class='line'><div class='field_name'>Validation:</div><div class='field_value'><%= f.text_field :validation %></div></div>
    </fieldset>
	<!-- format information -->
    <fieldset class="coolfieldset survey_question_format">
        <legend>Formatting</legend>
	  <% f.fields_for :survey_format do |ff| %>
			<div class='line'><div class='field_name'>CSS</div><div class='field_value'><%= ff.text_field :style %></div></div>
			<div class='line'><div class='field_name'>Order</div><div class='field_value'><%= ff.text_field :sort_order %></div></div>
			<div class='line'><div class='field_name'>Help Text</div><div class='field_value'><%= ff.text_field :help %></div></div>
			<div class='line'><div class='field_name'>Text Size</div><div class='field_value'><%= ff.text_field :textfield_size %></div></div>
	  <%end%>
	</fieldset>
	<% if @question.question_type.to_s.include? 'text' %>
        <div class='question-answers' style='display: none;'>
	<% else %>
        <div class='question-answers' style='display: block;'>
	<% end%>
    <fieldset class="coolfieldset survey_question_answers" >
        <legend>Answers</legend>
    </fieldset>
	</div>
	<div class='form-buttons'>
		<%= f.submit "Submit" %>
		<%if @question.id != nil %>
			<%= link_to "Cancel", survey_survey_group_survey_question_path(@survey,@group,@question), {:class =>'cancel-link'} %> <!-- TODO - change to a button ... -->
		<%else%>
			<%= link_to "Cancel", survey_survey_group_survey_questions_path(@survey,@group), {:class =>'cancel-link'} %> <!-- TODO - change to a button ... -->
		<%end%>
	</div>
</div>
<% end %>
