<div class="container_12">
<%= object.error_messages %>
</div>
<div class="clear"></div>
<div class="container_12">
<%= form.label "First Name:", nil ,:class => "grid_2" %>
<%= form.text_field :first_name, :class => "grid_5" %>
</div>
<div class="clear"></div>
<div class="container_12">
<%= form.label "Last Name:", nil ,:class => "grid_2" %>
<%= form.text_field :last_name, :class => "grid_5" %>
</div>
<div class="clear"></div>
<div class="container_12">
<%= form.label "Key:", nil ,:class => "grid_2" %>
<%= form.text_field :key, :class => "grid_1" %>
</div>
<div class="clear"></div>
<div class="container_12">
<%= form.submit button, :class => "grid_3" %>
<%= submit_tag "I will not attend", :name => "cancel", :confirm => "Are you sure", :class => "grid_3" %>
</div>
<div class="clear"></div>
