

<div class="row">
    <div class="col-sm-12">
        <fieldset>
            <div class="row row-buffered">
                <div class="form-group">
                <%= form.label "First Name:", nil ,:class => "control-label col-sm-3" %>
                <%= text_field_tag :first_name, nil, :class => "col-sm-5" %>
                <div class="col-sm-1">
                    <a class="survey-help" href="#" data-original-title="Enter your first name as it appears in your invitation e-mail. You can change this in the questionnaire itself if needed."><i class='glyphicon glyphicon-info-sign'></i></a>
                </div>
                </div>
            </div>
            <div class="row row-buffered">
                <div class="form-group">
                <%= form.label "Last Name:", nil ,:class => "control-label col-sm-3" %>
                <%= text_field_tag :last_name, nil, :class => "col-sm-5" %>
                <div class="col-sm-1">
                    <a class="survey-help" href="#" data-original-title="Enter your last name as it appears in your invitation e-mail.  You can change this in the questionnaire itself if needed."><i class='glyphicon glyphicon-info-sign'></i></a>
                </div>
                </div>
            </div>
            <div class="row row-buffered">
                <div class="form-group">
                <%= form.label "Invitation Code:", nil ,:class => "control-label col-sm-3" %>
                <%= text_field_tag :key, nil, :class => "col-sm-2" %>
                <div class="col-sm-1">
                    <a class="survey-help" href="#" data-original-title="Enter the invitation code as it appears in your invitation e-mail. If the mail did not include an invitation code or if the invitation code did not work, write to <%= @ourEmail %> so we can send you the correct code."><i class='glyphicon glyphicon-info-sign'></i></a>
                </div>
                </div>
            </div>
            <div class="row row-buffered">
                <div class="col-sm-3 col-sm-offset-2">
                    <%= form.submit button, :class => 'btn btn-primary' %>
                    <a class="survey-help" href="#" data-original-title="Select this button if you accept the invitation from <%= @site_config.name%>. Selecting the button will take you to the next page in the form."><i class='glyphicon glyphicon-info-sign'></i></a>
                </div>
                <div class="col-sm-3">
                    <%= submit_tag "I decline the invitation", :name => "cancel", :confirm => "Are you sure?", :class => 'btn btn-primary' %>
                    <a class="survey-help" href="#" data-original-title="Select this button if you do not accept the invitation for <%= @site_config.name%>."><i class='glyphicon glyphicon-info-sign'></i></a>
                </div>
            </div>
        </fieldset>
            <div class="row row-buffered">
                <div class="col-sm-12">
                    <p>
                    The small blue <a class="survey-help" href="#"><i class='glyphicon glyphicon-info-sign'></i></a> icon provides a link to informational help text.
                    If you're unsure what to do, hover over the help icon.
                    If you read the help text and are still uncertain what to do, write to our <a href='mailto:<%= @ourEmail %>'>organiser(s) at <%= @site_config.name%></a>
                    </p>
                </div>
            </div>
    </div>
</div>
