<div class="container_12">
<!-- %= object.error_messages % -->
<%=
    if flash[:error]
      content_tag(:div, content_tag(:p, flash[:error]), :class => "error grid_10")
    end
%>
</div>
<div class="clear"></div>
<div class="container_12">
	<div class="grid_10">
	<p>
	Please complete this questionnaire if you want to participate in the <%= SITE_CONFIG[:conference][:name]%> Program. 
	If you cannot attend or do not want to be on Program, simply fill in your name, Invitation code and click the "I do not wish to be on program" button.
	<p/>
	</div>
</div>
<div class="clear"></div>
<div class="container_12">
<%= form.label "First Name:", nil ,:class => "grid_2" %>
<%= text_field_tag :first_name, nil, :class => "grid_5" %>
<a title='Enter your first name as it appears in your invitation e-mail. You can change this in the questionnaire itself if needed.' ><img src="/images/smerf_help.gif" alt="Help"></a>
</div>
<div class="clear"></div>
<div class="container_12">
<%= form.label "Last Name:", nil ,:class => "grid_2" %>
<%= text_field_tag :last_name, nil, :class => "grid_5" %><a title='Enter your last name as it appears in your invitation e-mail.  You can change this in the questionnaire itself if needed.' ><img src="/images/smerf_help.gif" alt="Help"></a>
</div>
<div class="clear"></div>
<div class="container_12">
	<div class="grid_10">
	</div>
</div>
<div class="clear"></div>
<div class="container_12">
<%= form.label "Invitation Code:", nil ,:class => "grid_2" %>
<%= text_field_tag :key, nil, :class => "grid_1" %><a title='Enter the invitation code as it appears in your invitation e-mail. If the mail did not include an invitation code or if the invitation code did not work, write to <%= @ourEmail %> so we can send you the correct code.' ><img src="/images/smerf_help.gif" alt="Help"></a>
</div>
</div>
<div class="clear"></div>
<div class="container_12">
<br/>
<div class="grid_3">
<%= form.submit button %><a title='Select this button if you plan to attend <%= SITE_CONFIG[:conference][:name]%> and want to participate on Program. Selecting the button will take you to the next page in the questionnaire' ><img src="/images/smerf_help.gif" alt="Help"></a>
</div>
<div class="grid_4">
<%= submit_tag "I do not wish to be on program", :name => "cancel", :confirm => "Are you sure?" %><a title='Select this button if you do not plan to attend <%= SITE_CONFIG[:conference][:name]%>, or if you are attending and do not want to be on Program.' ><img src="/images/smerf_help.gif" alt="Help"></a>
</div>
</div>
<div class="clear"></div>
<div class="container_12">
<div class="grid_11">
<p>
<small>
The small blue i icon provides a link to informational help text.
If you're unsure what to do, hover over the help icon.
If you read the help text and are still uncertain what to do, write to <a href='mailto:<%= @ourEmail %>'>program at <%= SITE_CONFIG[:conference][:name]%></a>
</small>
</p>
</div>
</div>
</div>
<div class="clear"></div>
