
<% if @survey %>
    <div class="row survey-title-row">
        <div class="col-sm-12">
            <h1 class="survey-title"><%= @survey.name %></h1>
        </div>
    </div>
<% end %>
<% if !@survey.header_image.empty? %>
    <div class="row">
        <div class="col-sm-12">
            <img src="<%= @survey.header_image if @survey.header_image %>" class="survey-title-image"/>
        </div>
    </div>
<%end%>

<% if @survey && @survey.authenticate_msg %>
<div class="row row-buffered">
    <div class="col-sm-12">
        <%= @survey.authenticate_msg.html_safe %>
    </div>
</div>
<% end %>

<%= form_for @survey_respondent, :html => {:'accept-charset' => 'UTF-8', :class => 'form-horizontal'} do |f| %>
  <%= render :partial => "form", :locals => {:form => f, :button => (t 'accept-invitation')} %>
<% end %>
