
<% if @survey && !@survey.header_image.empty? %>
    <div class="row">
        <div class="col-sm-12">
            <img src="<%= @survey.header_image if @survey.header_image %>"/>
        </div>
    </div>
<%end%>

<% if @survey %>
    <div class="row">
        <div class="col-sm-12">
            <h2><%= @survey.name %></h2>
        </div>
    </div>
<% end %>

<% if @survey && @survey.authenticate_msg %>
<div class="row row-buffered">
    <div class="col-sm-12">
        <%= @survey.authenticate_msg.html_safe %>
    </div>
</div>
<% end %>

<%= form_for @survey_respondent, :html => {:'accept-charset' => 'UTF-8', :class => 'form-horizontal'} do |f| %>
  <%= render :partial => "form", :locals => {:form => f, :button => "Accept Invitation"} %>
<% end %>
