
<script type="text/template" id="query-list-layout-template">
<section>
    <div class="row">
        <h3 class="h3-underlined"><%= t 'survey-report-queries' %></h3>
        <div id="query-control-div"></div>
    </div>
    <div class="row voffset10">
        <div class='collapse-group' id="query-area-parent" style="height : 370px; overflow : auto;">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#query-area-parent" href="#MyQueries"><%= t 'my-queries' %></a>
                <i class="glyphicon glyphicon-info-sign bpopover" data-toggle="popover" data-container="body" data-content="<%= t 'my-queries-hint' %>" data-original-title="<%= t 'my-queries' %>"></i>
            </div>
            <div id="MyQueries" class="accordion-body collapse.in">
                <div class="accordion-inner">
                    <div id="my-query-region-div">
                    </div>
                </div>
            </div>
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#query-area-parent" href="#SharedQueries"><%= t 'shared-queries' %></a>
                <i class="glyphicon glyphicon-info-sign bpopover" data-toggle="popover" data-container="body" data-content="<%= t 'shared-queries-hint' %>" data-original-title="<%= t 'shared-queries' %>"></i>
            </div>
            <div id="SharedQueries" class="accordion-body collapse.in">
                <div class="accordion-inner">
                    <div id="shared-query-region-div"></div>
                </div>
            </div>
        </div>
        <div class="bs-callout bs-callout-info">
            <h4><%= t 'hint' %></h4>
            <%= (t 'queries-hint').html_safe %>
        </div>
    </div>
</section>
</script>


<script type="text/template" id="query-template">
    <td>
        {{ if (valid_survey) { }}
            <a href="#query-tab" data-toggle="tab" class="model-select-button">{{= name}}</a>
        {{ } else { }}
            {{= name }}
            <a data-toggle="tooltip" data-placement="right" title="survey does not exist" href='#'>
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </a>            
        {{ }; }}
    </td>
    <td>
        <button class="model-copy-button btn btn-xs"><%= t 'copy' %></button>
    </td>
    <td>
        <button class="model-delete-button btn btn-xs"><small><i class="glyphicon glyphicon-trash"></i></small></button>
    </td>
</script>

<script type="text/template" id="query-control-template">
    <button class="add-model-button btn btn-primary pull-right">
        <%= t 'add-query' %>
    </button>
</script>
