
<h2><%= contactlist.count %> People:</h2>
<p>
<% if contactlist.blank? %>
   No one right now.
<% else %>
   <ul>
   <% contactlist.each do |p| %>
       <li><%= p.GetFullPublicationName %> 
           <ul>
              <% unless p.getDefaultPostalAddress.nil? %>
                 <li> <%= p.getDefaultPostalAddress.city %>, <%= p.getDefaultPostalAddress.state %>, <%= p.getDefaultPostalAddress.country %> </li>
              <% end %>
              <% unless p.getDefaultEmail.nil? %>
                 <li> <%= p.getDefaultEmail.email %>  </li>
              <% end %>
              <% unless p.phone_numbers.nil? %>
                 <% p.phone_numbers.each do |n| %>
                    <li> <%= n.number %> (<%= n.phone_type.name %>) </li>
                 <% end %>
              <% end %>
            </ul>
       </li>
   <% end %>
   </ul>
<% end %>

</p>
