<h2>Search free text questions</h2>

<% form_tag('/survey_reports/free_text', :method => 'post') do %>
<p>
   <%= label_tag :q_id, "Question: "%>
   <%= select_tag :q_id, options_for_select(@free_text_qs, params[:q_id]) %>
   <%= label_tag :search_string, "Contains: " %>
   <%= text_field_tag :search_string %>
   <%= submit_tag "Search" %>
</p>
<% end %>

<% if params[:q_id]  %>
<%= render :partial => "resplist", :object => @names %> 
<% end %>
