<script type="text/template" id="config-list-layout-template">
    <div class="row">
        <div class="col-xs-1">
            <div id="config-title-div"></div>
        </div>
        <div class="col-xs-11">
            <div id="config-control-div"></div>
        </div>
    </div>
    <div class="row">
        <div id="config-region-div" class="col-xs-12"></div>
    </div>
</script>

<script type="text/template" id="item-format-template">
    <td>
        {{= name }}
    </td>
    <td>
        <% if ConfigService.hasCloudinaryConfig? %>
        <div class="thumbnail">
        {{ var image = _.find(external_images, function(im) { return im['use'] == 'largecard' }); }}
        {{ if (typeof image != 'undefined') { }}
            <image src="{{= image.picture.large_card.url }}"></image>
            <div class="caption">
            <button class="large-image-edit-button btn btn-primary btn-xs">
                <%= t "edit-large-card-image" %>
            </button>
            </div>
        {{ } else { }}
            <div class="caption">
            <button class="large-image-create-button btn btn-primary btn-xs">
                <%= t "add-large-card-image" %>
            </button>
            </div>
        {{ } }}
        </div>
        <% else %>
            <%= t 'cloudinary-not-configured' %>
        <% end %>
    </td>
    <td>
        <% if ConfigService.hasCloudinaryConfig? %>
        <div class="thumbnail">
        {{ var image = _.find(external_images, function(im) { return im['use'] == 'mediumcard' }); }}
        {{ if (typeof image != 'undefined') { }}
            <image src="{{= image.picture.medium_card.url }}"></image>
            <div class="caption">
            <button class="medium-image-edit-button btn btn-primary btn-xs">
                <%= t "edit-medium-card-image" %>
            </button>
            </div>
        {{ } else { }}
            <div class="caption">
            <button class="medium-image-create-button btn btn-primary btn-xs">
                <%= t "add-medium-card-image" %>
            </button>
            </div>
        {{ } }}
        </div>
        <% else %>
            <%= t 'cloudinary-not-configured' %>
        <% end %>
    </td>
</script>


<script type="text/template" id="default-image-template">
    <div class="row">
        <div class="col-md-6">
        <% if ConfigService.hasCloudinaryConfig? %>
        <div class="thumbnail">
            {{ if ((typeof image != 'undefined') && image.url) { }}
            <image src="{{= image ? image.standard.url : '' }}"></image>
            <div class="caption">
                <h3><%= t "default-bio-image" %></h3>
                <p>
                <button class="model-edit-button btn btn-primary btn-xs"><%= t "edit" %></button>
                </p>
            </div>
            {{ } else { }}
            <div class="caption">
                <h3><%= t "default-bio-image" %></h3>
                <p>
                <button class="model-new-button btn btn-primary btn-xs"><%= t "new" %></button>
                </p>
            </div>
            {{ }; }}
        </div>
        <% else %>
            <%= t 'cloudinary-not-configured' %>
        <% end %>
        </div>
    </div>
</script>

<script type="text/template" id="logo-image-template">
    <div class="row">
        <div class="col-md-6">
        <% if ConfigService.hasCloudinaryConfig? %>
        <div class="thumbnail">
            {{ if ((typeof image != 'undefined') && image.url) { }}
            <image src="{{= image ? image.standard.url : '' }}"></image>
            <div class="caption">
                <h3><%= t "conference-logo" %></h3>
                <p>
                <button class="model-edit-button btn btn-primary btn-xs"><%= t "edit" %></button>
                </p>
            </div>
            {{ } else { }}
            <div class="caption">
                <h3><%= t "conference-logo" %></h3>
                <p>
                <button class="model-new-button btn btn-primary btn-xs"><%= t "new" %></button>
                </p>
            </div>
            {{ }; }}
        </div>
        <% else %>
            <%= t 'cloudinary-not-configured' %>
        <% end %>
        </div>
    </div>
</script>
