<script type='text/javascript'>
    //<![CDATA[
    jQuery(document).ready(function(){
            $('#start_time').timeEntry({show24Hours: true, showSeconds: false, timeSteps: [1, 15, 0], defaultTime: '09:00', spinnerImage: '/images/spinnerDefault.png'});
    });
    //]]>
</script>
<%= error_messages_for :programmeItem %>
<% form_for @programmeItem, :html => {:class => "layerform", :id => "layerform"} do |f| -%>
<div class='container_12'>
    <div class='grid_6'>
        <div class='form-buttons'>
            <%= f.submit "Submit" %>
            <button type="button" class='jqmClose'>
                Close
            </button>
        </div>
        <div class='line'>
            <div class='field_name'>
                <%= f.label :title, "Title" %>
            </div>
            <div class='field_value'>
                <%= f.text_area :title,:size => "30x2" %>
            </div>
        </div>
        <div class='line'>
            <div class='field_name'>
                <%= f.label :short_title, "Short Title" %>
            </div>
            <div class='field_value'>
                <%= f.text_field :short_title %>
            </div>
        </div>
        <div class='line'>
            <div class='field_name'>
                <%= f.label :format_id, "Format" %>
            </div>
            <div class='field_value'>
                <%= f.select :format_id,
                Format.find(:all).collect {|r| [r.name,r.id] },
                {:include_blank => false} %>
            </div>
        </div>
        <div class='line'>
            <div class='field_name'>
                <%= f.label :print, "Print?" %>
            </div>
            <div class='field_value'>
                <%= f.select :print, { "No" => false,"Yes" => true} %>
            </div>
        </div>
        <div class='line'>
            <div class='field_name'>
                <%= f.label :duration, "Duration in minutes" %>
            </div>
            <div class='field_value'>
                <%= f.text_field :duration %>
            </div>
        </div>
        <div class='line'>
            <div class='field_name'>
                <%= f.label :minimum_people, "Minimum # of people" %>
            </div>
            <div class='field_value'>
                <%= f.text_field :minimum_people %>
            </div>
        </div>
        <div class='line'>
            <div class='field_name'>
                <%= f.label :maximum_people, "Maximum # of people" %>
            </div>
            <div class='field_value'>
                <%= f.text_field :maximum_people %>
            </div>
        </div>
        <div>
            <div class='line'>
                <div class='field_name'>
                    <%= f.label :room, "room" %>
                </div>
                <div class='field_value'>
                    <%= select_tag 'room',
                		options_for_select([['','']].concat(Room.find(:all).collect {|r| [r.name,r.id] }),
									@programmeItem.room ? @programmeItem.room.id : ''),
                		{:include_blank => true} %>
                </div>
            </div>
        </div>
        <div>
            <div class='line'>
                <div class='field_name'>
                    <%= f.label :start_day, "Day" %>
                </div>
                <div class='field_value'>
                    <%= select_tag 'start_day',
                		options_for_select([['','-1']].concat(
(0..((SITE_CONFIG[:conference][:number_of_days]).to_i-1)).to_a.collect{ |r| [(Time.zone.parse(SITE_CONFIG[:conference][:start_date]) + r.days).strftime('%A'), r]}
),
									@programmeItem.time_slot ? (@programmeItem.time_slot.start.day - Time.zone.parse(SITE_CONFIG[:conference][:start_date]).day) : ''),
                		{:include_blank => true} %>
                </div>
            </div>
        </div>
        <div>
            <div class='line'>
                <div class='field_name'>
                    <%= f.label :start_time, "Start Time" %>
                </div>
                <div class='field_value'>
                    <%= text_field_tag 'start_time', @programmeItem.start_time %>
                </div>
            </div>
        </div>
    </div>
    <div class='grid_2'>
        <div class='line'>
            <div class='field_name'>
                <%= f.label :precis, "Precis" %>
            </div>
            <div class='field_value'>
                <%= f.text_area :precis,:size => "30x8" %>
            </div>
        </div>
        <div class='line'>
            <div class='field_name'>
                <%= f.label :notes, "Notes" %>
            </div>
            <div class='field_value'>
                <%= f.text_area :notes, :size => "30x7" %>
            </div>
        </div>
    </div>
</div>
<% end %>
<div id='form-response'>
</div>
