<script type='text/javascript'>
//<![CDATA[
var itemPageNbr = "<%=@nbr_pages%>";
//]]>
</script>
<div>Page <%= @page%> of <%= @nbr_pages%> of <%=@count%> Items</div>

<ol id="selectable-item" class="selectable">
<% @programmeItems.each do |programmeItem| %>
    <li class="ui-widget-content item-draggable">
        <div class="itemid" style="display: none;"><%= programmeItem.id %>
        </div>
        <%= programmeItem.title %><br/>
        <em><%= programmeItem.duration %> minutes<em>
    </li>
<% end %>
</ol>
