<div class='programmeItem_show'>
    <div id="progitemid" style="display : none;">
        <%= @programmeItem.id %>
    </div>
    <input id="programme_item_lock_version" name="programme_item[lock_version]" type="hidden" value="<%= @programmeItem.lock_version%>" /><% if @editable %>
    <div class='edit-form'>
        <%= link_to "edit", {:controller => 'programme_items', :action => 'edit', :id => @programmeItem}, :class => 'entrydialog' %>
    </div>
    <% end %>
    <div class='line'>
        Title: <%= @programmeItem.title %>
    </div>
    <div class='line'>
        ShortTitle: <%= @programmeItem.short_title %>
    </div>
	<div class='line'>
		RefNum: <%= @programmeItem.pub_reference_number %>
	</div>
    <div class='line'>
        Format: <% if @programmeItem.format %>
        <%= @programmeItem.format.name %>
        <% end %>
    </div>
    <div class='line'>
        Print: <% if @programmeItem.print %>
        Yes<% else %>
        No<%end %>
    </div>
    <div class='line'>
        Duration in minutes: <%= @programmeItem.duration %>
    </div>
    <div class='line'>
        Minimum # of people:<%= @programmeItem.minimum_people %>
    </div>
    <div class='line'>
        Maximum # of people:<%= @programmeItem.maximum_people %>
    </div>
    <div class='line'>
    	<% if @programmeItem.room_item_assignment %>
		Room: <%= @programmeItem.room_item_assignment.room.name %>
		Start Time: <%= @programmeItem.room_item_assignment.time_slot.start %>
		End Time: <%= @programmeItem.room_item_assignment.time_slot.end %>
		<% end %>
    </div>
	<label>
        Precis:
    </label>
    <div class='city'>
        <%= @programmeItem.precis %>
    </div
    <label>
        Notes: 
    </label>
    <div class='city'>
        <%= @programmeItem.notes %>
    </div>
    <div class='message' id='tab-messages'>
    </div>
    <div class="jqmWindow" id="edialog">
        Please wait...
    </div>
</div>
<div id="item-moderator-participants" class="droppable">
    <div class="ui-widget-content">
        <div>
            Moderator
        </div>
        <ol class="selectable selectable-participant">
            <% @moderatorAssociations.each do |assoc| %>
            <li class="ui-widget-content removeable">
                <input type="hidden" value="<%=assoc.person.id%>" name="item-moderator-participants[<%=assoc.person.id%>][person_id]">
                <div style="display: none;" class="personid">
                    <%=assoc.person.id %>
                </div>
                <% if assoc.person.pseudonym %>
                <%= assoc.person.pseudonym.first_name %> <%= assoc.person.pseudonym.last_name %> <%= assoc.person.pseudonym.suffix %>
                <br/>
                (<%= assoc.person.first_name %> <%= assoc.person.last_name %> <%= assoc.person.suffix %>)<%else %>
                <%= assoc.person.first_name %> <%= assoc.person.last_name %> <%= assoc.person.suffix %>
                <% end %>
            </li>
            <%end %>
            <%if @moderatorAssociations.empty? %>
            <div class="placeholder">
                <br/>
                <em>No Moderator ...</em>
                <br/>
                <br/>
            </div>
        </ol>
        <% end %>
    </div>
</div>
<div id="item-participants" class="droppable">
    <div class="ui-widget-content">
        <div>
            Participant(s)
        </div>
        <ol class="selectable selectable-participant">
            <% @participantAssociations.each do |assoc| %>
            <li class="ui-widget-content removeable">
                <input type="hidden" value="<%=assoc.person.id%>" name="item-participants[<%=assoc.person.id%>][person_id]">
                <div style="display: none;" class="personid">
                    <%=assoc.person.id %>
                </div>
                <% if assoc.person.pseudonym %>
                <%= assoc.person.pseudonym.first_name %> <%= assoc.person.pseudonym.last_name %> <%= assoc.person.pseudonym.suffix %>
                <br/>
                (<%= assoc.person.first_name %> <%= assoc.person.last_name %> <%= assoc.person.suffix %>)<%else %>
                <%= assoc.person.first_name %> <%= assoc.person.last_name %> <%= assoc.person.suffix %>
                <% end %>
            </li>
            <%end %>
            <%if @participantAssociations.empty? %>
            <div class="placeholder">
                <br/>
                <em>No Participants ...</em>
                <br/>
                <br/>
            </div>
        </ol>
        <% end %>
    </div>
</div>
<div id="item-reserve-participants" class="droppable">
    <div class="ui-widget-content">
        <div>
            Reserve
        </div>
        <ol class="selectable selectable-participant">
            <% @reserveAssociations.each do |assoc| %>
            <li class="ui-widget-content removeable">
                <input type="hidden" value="<%=assoc.person.id%>" name="item-reserve-participants[<%=assoc.person.id%>][person_id]">
                <div style="display: none;" class="personid">
                    <%=assoc.person.id %>
                </div>
                <% if assoc.person.pseudonym %>
                <%= assoc.person.pseudonym.first_name %> <%= assoc.person.pseudonym.last_name %> <%= assoc.person.pseudonym.suffix %>
                <br/>
                (<%= assoc.person.first_name %> <%= assoc.person.last_name %> <%= assoc.person.suffix %>)<%else %>
                <%= assoc.person.first_name %> <%= assoc.person.last_name %> <%= assoc.person.suffix %>
                <% end %>
            </li>
            <% end %>
            <%if @reserveAssociations.empty? %>
            <div class="placeholder">
                <br/>
                <em>No Reserve Participants...</em>
                <br/>
                <br/>
            </div>
        </ol>
        <% end %>
    </div>
</div>
<div id="item-invisible-participants" class="droppable">
    <div class="ui-widget-content">
        <div>
            Invisible
        </div>
        <ol class="selectable selectable-participant">
            <% @invisibleAssociations.each do |assoc| %>
            <li class="ui-widget-content removeable">
                <input type="hidden" value="<%=assoc.person.id%>" name="item-invisible-participants[<%=assoc.person.id%>][person_id]">
                <div style="display: none;" class="personid">
                    <%=assoc.person.id %>
                </div>
                <% if assoc.person.pseudonym %>
                <%= assoc.person.pseudonym.first_name %> <%= assoc.person.pseudonym.last_name %> <%= assoc.person.pseudonym.suffix %>
                <br/>
                (<%= assoc.person.first_name %> <%= assoc.person.last_name %> <%= assoc.person.suffix %>)<%else %>
                <%= assoc.person.first_name %> <%= assoc.person.last_name %> <%= assoc.person.suffix %>
                <% end %>
            </li>
            <%end %>
            <%if @invisibleAssociations.empty? %>
            <div class="placeholder">
                <br/>
                <em>No Invisible Participants..</em>
                <br/>
                <br/>
            </div>
        </ol>
        <% end %>
    </div>
</div>
