
<%= render_cell "participants/participant_list", :javascript, 
    :caption => "people-and-mailings",
    :del => false,
    :edit => false,
    :add => false,
    :invite_status => false,
    :invite_category => false,
    :acceptance_status => false,
    :has_survey => false,
    :pager => "participants-pager",
    
    :pub_first_name => false,
    :pub_last_name => false,
    :pub_suffix => false,
    :includeMailings => true,
    
    :selectNotifyMethod => "CommunicationsReportApp.Report.selectMailings"
    
    %>

<%= render_cell "communications/history", :javascript, 
    :caption => "mailing",

    :name => false,
    :mailing => true,
    :content => false,
    :email_status => true,
    :date_sent => true,
    :testrun => true,
    
    :delayed => true,
    
    :pager => "history-pager",
    
    :selectNotifyMethod => "CommunicationsReportApp.Report.showEmail"
    %>

<%= render_cell "communications/report", :javascript %>
<%= render_cell "communications/report", :templates %>

<div class="row">
    <div class="col-xs-6 left-jqgrid">
        <%= render_cell "participants/participant_list", :display,
            :pager => "participants-pager"
         %>
    </div>
    <div class="col-xs-6 right-jqgrid">
        <%= render_cell "communications/history", :display,
            :pager => "history-pager"
         %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2><%= t 'email-for'%> <p id="current-email-person"></p></h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 well">
        <p id="current-email-content" class=''></p>
    </div>
</div>
