
<div class='line'><div class='field_name'>Use</div><div class='field_value'><%= @mail_template.mail_use.name %></div></div>
<div class='line'><div class='field_name'>Survey</div><div class='field_value'><%= @mail_template.survey.name if @mail_template.survey %></div></div>
<div class='line'><div class='field_name'>Title</div><div class='field_value'><%= @mail_template.title %></div></div>
<div class='line'><div class='field_name'>Subject</div><div class='field_value'><%= @mail_template.subject %></div></div>
<div class='line'><div class='field_name'>Content</div><div class='field_value'><br/>
<pre>
<%=h @mail_template.content %>
</pre>
</div></div>
