<h1>Listing mail_templates</h1>

<table>
  <tr>
  </tr>

<% @mail_templates.each do |mail_template| %>
  <tr>
    <td><%= mail_template.mail_use.name %></td>
    <td><%= mail_template.title %></td>
    <td><%= link_to 'Show', mail_template %></td>
    <td><%= link_to 'Edit', edit_mail_template_path(mail_template) %></td>
    <td><%= link_to 'Destroy', mail_template, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New mail_template', new_mail_template_path %>