<h1> Generate xml email list using following criteria</h1>
<%=
    if flash[:error]
      content_tag(:div, content_tag(:p, flash[:error]), :class => "error grid_10")
    end
%>
<%= form_for :exportemail, :url=>{:controller=>"people", :action=>"doexportemailxml", :format => "xml", :method => "post"}, :html => {:'accept-charset' => 'UTF-8'} do |f| -%>
 <div>
  <div class='line'>
  	Select the criteria for the xml list, then submit. The xml will be displayed in your browser.
	"Save As" from the browser to get the report as a file.
  </div>
  <div class='line'><div class='field_name'><%= f.label :invitestatus_id,"Select Invitation Status" %></div><div class='field_value'><%= f.select :invitestatus_id,
	                 InviteStatus.all.to_a.collect {|s| [s.name,s.id] },
                    {:include_blank => false}%></div></div>	 
					
   <div class='line'>
     	<%= f.label :mailing_select,"Select Mailing Number :"%>     	
		<%= f.radio_button :mailing_select, :false%> Select All
		<%= f.radio_button :mailing_select, :true%>Select One
  </div>
  <div class='field_name'>
  	<%= f.label :mailing_number, "Enter Mailing Number"%>
  </div>
  <div class='field_value'>
  	<%= f.text_field :mailing_number%>
  </div>
  <div class='line'>
     	<%= f.label :acceptance_select,"Select Acceptance Status :"%>     	
		<%= f.radio_button :acceptance_select, :false%> Select All
		<%= f.radio_button :acceptance_select, :true%>Select One
  </div>
  <div class='line'><div class='field_name'><%= f.label :acceptance_status_id,"Select Acceptance Status" %></div><div class='field_value'><%= f.select :acceptance_status_id,
	                 AcceptanceStatus.all.to_a.collect {|s| [s.name,s.id] },
                    {:include_blank => false}%></div></div>	 
					
  <div class='line'>
     	<%= f.label :category_select,"Select Category :"%>     	
		<%= f.radio_button :category_select, :false%> Select All
		<%= f.radio_button :category_select, :true-%>Select One
  </div>
  <div class='line'><div class='field_name'><%= f.label :invitation_category_id,"Enter Invitation Category" %></div><div class='field_value'><%= f.select :invitation_category_id,
	                 InvitationCategory.all.to_a.collect {|s| [s.name,s.id] },
	                 {:include_blank => true}%></div></div>
 
  <div class='form-buttons'>
		<%= f.submit "create-xml" %>
        <%= f.submit "submit-job" %>
  </div>
  <div>
  		<%= link_to 'Cancel', people_path%>
  </div>
<% end -%>