<%= error_messages_for :participant %>
<% form_for @participant do |f| -%>

  <p>First Name: <%= f.text_field :first_name %></p>
  <p>Last Name: <%= f.text_field :last_name %></p>
  
  <%= f.submit "Create Participant" %>
  
  <hr>
  <%= debug(params) %>

<% end %>
