<br/>
<%= error_messages_for :participant %>
<% form_for @participant do |participant_form| -%>

  <p>First Name: <%= participant_form.text_field :first_name %></p>
  <p>Last Name: <%= participant_form.text_field :last_name %></p>
    
  <%= participant_form.submit "Create Participant" %>
  
  <hr>
  <%= debug(params) %>

<% end %>
