<br/>
<%= error_messages_for :participant %>
<% form_for @participant do |participant_form| -%>

  <p>First Name: <%= participant_form.text_field :first_name %></p>
  <p>Last Name: <%= participant_form.text_field :last_name %></p>
  <p>
		<%= participant_form.label :invitestatus_id %><br/>
		<%= participant_form.select :invitestatus_id,
	                 InviteStatus.find(:all).collect {|s| [s.name,s.id] },
	                 {:include_blank => true}%>
	    </p>  
  <%= participant_form.submit "Create Participant" %>
  
  <hr>
  <%= debug(params) %>

<% end %>
