<%= render "shared/error_messages", :target => @excludedItemsSurveyMap %>
<%= form_for @excludedItemsSurveyMap,:url => @urlstr, :html => {:class => "layerform", :id => "layerform", :'accept-charset' => 'UTF-8'} do |f| -%>
<div class='container_12'> 
    <div class='grid_6'> 
        <div class='form-buttons'>
            <%= f.submit "Submit" %>
            <button type="button" class='jqmClose'>
                Close
            </button>
        </div>
      
        <div class='line'>
            <div class='field_name'>
                <%= f.label :survey_answer_id, "Survey Question" %>
            </div>
            <div class='field_value'>
                <%= f.select :survey_answer_id,
                GetSurveyAnswerExcludedItems().collect {|r| [r.answer,r.id] },
                {:include_blank => false} %>
            </div>
        </div>
     </div>
</div>
<% end %>
<div id='form-response'>
</div>
