<div>
    <%= render "shared/error_messages", :target => @registrationDetail %>
    <%= form_for @registrationDetail, :url => @urlstr, :html => {:class => "layerform", :id => "layerform", :'accept-charset' => 'UTF-8'} do |f| %>
    <div class='line'>
        Registration Number: <%= f.text_field :registration_number %>
    </div>
    <div class='line'>
        Type: <%= f.text_field :registration_type %>
    </div>
    <div class='boolean'>
        Registered?: <%= f.check_box :registered %>
    </div>
    <div class='boolean'>
        Ghost?: <%= f.check_box :ghost %>
    </div>
    <div class='form-buttons'>
        <%= f.submit "Submit" %>
        <button type="button" class='jqmClose'>
            Close
        </button>
    </div>
    <% end %>
    <div id='form-response'>
    </div>
</div>
