<br/>
<h1> Edit a setup type</h1>
<%= form_for @setup_type, :html => {:'accept-charset' => 'UTF-8'} do |f| -%>
	<%= f.error_messages %>
	<p>
		<%= f.label :name, "Name " %> <br/>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :description, "Description " %> <br/>
		<%= f.text_field :description %>
	</p>
	<p>
		<%= f.submit "Submit" %>
	</p>
<% end %>
<hr />
<%= link_to 'Setup Type', {:action => 'index'} %>

