<% form_for :dump, :url=>{:controller=>"pending_import_people",

                    :action=>"doimport",:method => "post"},

                    :html => { :multipart => true } do |f| -%>
 <p>
      <label for="dump_file">
        Select a CSV File :
      </label>
       <%= f.file_field :file -%>
 </p>
 <p>
 	<label for="dump_importtype">
 		File Data Type :
		</label>
		<%= f.radio_button :importtype, :reno%>Reno Registration
		<%= f.radio_button :importtype, :renotest-%>Reno Test
		<%= f.radio_button :importtype, :master%>Master
 	</p
 <p>
       <%= submit_tag 'Submit' -%>
 </p>
<% end -%>