
<script type="text/template" id="mail-template-list-layout-template">
<section>
    <div class="row">
        <h3 class="h3-underlined"><%= t 'mail-templates' %></h3>
        <div id="mail-template-control-div"></div>
    </div>
    <div class="row voffset10">
        <div id="mail-template-region-div"></div>
    </div>
</section>
</script>

<script type="text/template" id="mail-template-control-template">
    <button class="add-model-button btn btn-primary pull-right">
        <%= t 'add-template' %>
    </button>
</script>

<script type="text/template" id="mail-template-template">
    <td>
        <a href="#" data-toggle="tab" class="model-select-button">{{= title }} ({{= mail_use_name }})</a>
    </td>
    <td align="right">
        <button class="model-delete-button btn btn-primary btn-xs"><small><i class="glyphicon glyphicon-trash"></i></small></button>
    </td>
</script>

<script type="text/template" id="mail-template-template-nodelete">
    <td>
        <a href="#template-tab" data-toggle="tab" class="model-select-button">{{= title }} ({{= mail_use_name }})</a>
    </td>
</script>

<script type="text/template" id="mail-template-data-template">
    <dl class="dl-horizontal dl-horizontal-small dt30">
        <dt class=""><%= t "template-name" %></dt><dd>{{= title }}</dd> 
        <dt><%= t "mail-use" %></dt><dd>{{= mail_use_name }}</dd> 
        <dt><%= t "transition-person-invite-to" %></dt><dd>{{= transiton_invite_status_name }}</dd> 
        <dt><%= t "survey" %></dt><dd>{{= survey_id ? survey : "<span class='minor-text'>("}}<%= t 'none' %>){{="</span>" }}</dd> 
        <dt><%= t "mail-subject-line" %></dt><dd>{{= subject }}</dd> 
    </dl>
    <!--<h2><%= t "mail-content" %></h2>-->
    <div id="email-template-preview-area">{{= content }}</div>
    <div class="voffset10"></div>
</script>
