
<script type="text/template" id="mail-template-list-layout-template">
<section>
    <div class="row">
        <div class="col-xs-1"><span class="label label-default"><%= t 'mail-templates' %></span></div><div id="mail-template-control-div"></div>
    </div>
    <div class="row">
        <div id="mail-template-region-div"></div>
    </div>
</section>
</script>

<script type="text/template" id="mail-template-control-template">
    <button class="add-model-button btn-xs btn-primary pull-right">
        <%= t 'add-template' %>
    </button>
</script>

<script type="text/template" id="mail-template-template">
    <td>
        <a href="#" data-toggle="tab" class="model-select-button">{{= title }} ({{= mail_use_name }})</a>
    </td>
    <td>
        <button class="model-delete-button btn btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
    </td>
</script>

<script type="text/template" id="mail-template-template-nodelete">
    <td>
        <a href="#template-tab" data-toggle="tab" class="model-select-button">{{= title }} ({{= mail_use_name }})</a>
    </td>
</script>

<script type="text/template" id="mail-template-data-template">
    <dl class="dl-horizontal">
        <dt><%= t "Title" %></dt><dd>{{= title }}</dd> 
        <dt><%= t "Mail Use" %></dt><dd>{{= mail_use_name }}</dd> 
        <dt><%= t "Survey" %></dt><dd>{{= survey_id ? survey : "&nbsp;" }}</dd> 
        <dt><%= t "Subject" %></dt><dd>{{= subject }}</dd> 
        <dt><%= t "Content" %></dt><dd><pre>{{= content }}</pre></dd> 
    </dl>
</script>
