
<script type="text/template" id="mail-template-list-layout-template">
<section>
    <div class="row">
        <h3 class="h3-underlined"><%= t 'email-templates' %>
            <i class="glyphicon glyphicon-info-sign bpopover"
                title="<%= t "email-templates" %>" 
                data-container="body" data-trigger="hover" 
                data-placement="right auto" data-toggle="popover" data-content="<%= (t "email-templates-tooltip").html_safe %>"></i>
        </h3>
        <div id="mail-template-control-div"></div>
    </div>
    <div class="row voffset10">
        <div id="mail-template-region-div"></div>
    </div>
</section>
</script>

<script type="text/template" id="mail-template-control-template">
    <button class="add-model-button btn btn-primary pull-right">
        <%= t 'add-template' %>
    </button>
</script>

<script type="text/template" id="mail-template-template">
    <td>
        <table>
            <tr>
                <td>
                    <img src="/assets/icons/email-template-icon.png" width="40">
                </td>
                <td style="padding-left: 10px;">
                    <a href="#" data-toggle="tab" class="model-select-button">{{= title }}</a>
                    <br><span class='minor-text'>({{= mail_use_name }})</span>
                </td>
            </tr>
        </table>
    </td>
    <td align="right">
        <button class="model-delete-button btn btn-primary btn-xs"><small><i class="glyphicon glyphicon-trash"></i></small></button>
    </td>
</script>

<script type="text/template" id="mail-template-template-nodelete">
    <td>
        <a href="#template-tab" data-toggle="tab" class="model-select-button">{{= title }} ({{= mail_use_name }})</a>
    </td>
</script>

<script type="text/template" id="mail-template-data-template">
    <dl class="dl-horizontal dl-horizontal-small dt30">
        <dt class=""><%= t "template-name" %></dt><dd><strong>{{= title }}</strong></dd> 
        <dt><%= t "mail-use" %></dt><dd>{{= mail_use_name }}</dd> 
        <dt><%= t "transition-person-invite-to" %></dt>
            <dd>
                {{ if (transiton_invite_status_name) { }}
                    {{= transiton_invite_status_name }}
                {{ } else { }}
                    <span class='minor-text'>(<%= t 'dont-change-status' %>)</span>
                {{ }; }}
            </dd>
        <dt><%= t "survey" %></dt>
            <dd>
                {{ if (survey_id) { }}
                    {{= survey }}
                {{ } else { }}
                    <span class='minor-text'>(<%= t 'none' %>)</span>
                {{ }; }}
            </dd> 
        <dt><%= t "mail-subject-line" %></dt><dd>{{= subject }}</dd> 
    </dl>
    <h3 class="h3-underlined"><%= t "mail-template-contents" %></h3>
    <div id="email-template-preview-area">{{= content }}</div>
    <div class="voffset10"></div>
</script>
