<script type="text/template" id="survey-group-list-layout-template">
<section>
    <div class="row">
        <div class="col-md-12">
            <h3 class="h3-underlined"><%= t 'survey-question-groups' %><a class="mtooltip"><i class="glyphicon glyphicon-info-sign"></i><span><%= t 'tip-question-groups' %></span></a></h3>
            <div id="survey-group-control-div"></div>
             <div class="voffset10"></div>
        </div>
    </div>
    <div class="row" style="height : 370px; overflow : auto; overflow-x:hidden;">
        <div class="col-xs-12" >
        <div id="survey-group-region-div"></div>
        </div>
    </div>
</section>
</script>

<script type="text/template" id="survey-group-template">
    <td class='col-xs-10'>
    <a href="#survey-group-tab" data-toggle="tab" class="model-select-button">
        {{= name}}
    </a>
    </td>
    <td>
        <button class="model-drill-down-button btn btn-xs"><i class="glyphicon glyphicon-arrow-right"></i></button>
    </td>
    <td>
        <button class="model-delete-button btn btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
    </td>
</script>

<script type="text/template" id="survey-group-control-template">
    <div class="row">
        <div class="col-md-12">
            <button class="add-model-button btn btn-primary pull-right">
                <%= t 'survey-add-question-group' %>
            </button>            
        </div>
    </div>
</script>

<script type="text/template" id="group-data-template">
    <dl class="dl-horizontal">
        <dt><%= t "name" %></dt><dd>{{= name ? name : "&nbsp;"}}</dd>
        <dt><%= t "altname" %></dt><dd>{{= altname ? altname : "&nbsp;"}}</dd>
        <dt><%= t "survey-description" %></dt><dd>{{= description ? description : "&nbsp;"}}</dd>
        <dt><%= t "sort_order" %></dt><dd>{{= sort_order ? sort_order : "&nbsp;"}}</dd>
        <dt><%= t "help-text" %></dt><dd>{{= survey_format.help ? survey_format.help : "&nbsp;"}}</dd>
    </dl>
</script>
