<div class="programme">
    <table class="programme-grid">
        <thead class="programme-grid-header">
            <tr class="programme-grid-header-row">
            <th class="time-slot">
                Time
            </th>
            <% @rooms.each do |room| %>
            <th class="venue-room">
                <div class="venue"><%= room.published_venue.name %></div><div class="room"><%= room.name %></div>
            </th>
            <% end %>
            </tr>
        </thead>
        <tbody>
        <% previousTime = nil %>
        <% previousRoom = nil %>
        <% currentTime = nil %>
        <% currentRoom = nil %>
        <% currentColumn = 1 %>
        <% newRow = true %>
        <% @programmeItems.each do |item| %>
        <% currentTime = item.published_time_slot.start %>
        <% newRow = (previousTime == nil) || (currentTime != previousTime) %>
        <%if newRow %>
        <% currentColumn = 1 %>
        <% if !previousTime %>
        </tr>
        <%end %>
        <tr class="programme-grid-row">
        <td class="programme-grid-empty">
            <%= currentTime.strftime('%A %H:%M') %>
            <% previousTime = currentTime %>
        </td>
        <% end %>
        <% idx = @rooms.index{|x| x.name == item.published_room.name} %>
        <% if idx %>
        <% (currentColumn..idx).each do |i| %>
        <td>
        </td>
        <% end %>
        <% currentColumn = idx + 2 %>
        <td class="programme-grid-item">
            <div class="program-item-title"><%= item.title %></div>
            <div class="program-item-duration">Duration: <%= item.duration.to_s %> minutes</div>
            <div class="program-item-room">(<%= item.published_room.name %>)</div>
            <div class="program-item-participants">
            <% item.people.each do |person| %>
            <div class="program-item-participant"><a href="http://renovationsf.org/participants/<%= person.GetFullPublicationName.gsub(/[ \.]/,'').downcase %>.php"><%= person.GetFullPublicationName %></a></div>
            <% end %>
            </div>
        </td>
        <%if newRow %>
        <% newRow = false %>
        <% end %>
        <% end %>
        <% end %>
    </tbody>
    </table>
</div>
