<div class="program">
    <table class="program-grid">
        <thead class="program-grid-header">
            <tr class="program-grid-header-row">
            <th class="time-slot">
                Time
            </th>
            <% @rooms.each do |room| %>
            <th class="venue-room">
                <div class="venue"><%= room.published_venue.name %></div><div class="room"><%= room.name %></div>
            </th>
            <% end %>
            </tr>
        </thead>
        <tbody>
        <% hasAnchor = false %>
        <% previousTime = nil %>
        <% previousRoom = nil %>
        <% currentTime = nil %>
        <% currentRoom = nil %>
        <% currentColumn = 1 %>
        <% newRow = true %>
        <% @programmeItems.each do |item| %>
<% if item.published_time_slot %>
        <% currentTime = item.published_time_slot.start %>
        <% newRow = (previousTime == nil) || (currentTime != previousTime) %>
        <%if newRow %>
        <% currentColumn = 1 %>
        <% if !previousTime %>
        </tr>
        <%end %>
        <tr class="program-grid-row">
        <td class="program-grid-empty">
            <%if !hasAnchor && (currentTime.strftime('%H') == "09") %>
                <a name="start"></a>
                <% hasAnchor = true %>
            <%end%>
            <%= currentTime.strftime('%A %H:%M') %>
            <% previousTime = currentTime %>
        </td>
        <% end %>
        <% idx = @rooms.index{|x| (item.published_room != nil) && (x.name == item.published_room.name)} %>
        <% if idx %>
        <% (currentColumn..idx).each do |i| %>
        <td class="program-grid-item-empty">
        </td>
        <% end %>
        <% currentColumn = idx + 2 %>
        <td class="program-grid-item">
            <div class="program-item-title"><%= markdown(item.title) %></div>
            <div class="program-item-duration"><%= item.duration.to_s %> mins</div>
            <div class="program-item-room">(<%= item.published_room.name %>)</div>
            <div class="program-item-participants">
            <% item.people.each do |person| %>
            <div class="program-item-participant"><%= person.getFullPublicationName %></div>
            <% end %>
            </div>
        </td>
        <%if newRow %>
        <% newRow = false %>
<% end %>
        <% end %>
        <% end %>
        <% end %>
    </tbody>
    </table>
</div>
