<div id='current-date'><%= @currentDate.strftime('%A') %></div>
<div id='room-titles'>
    <% @roomListing.each do |room| %>
        <div class="program-room" id='<%= "room-title-" + room.id.to_s%>'><%= room.name %></div>
    <% end %>
</div>
<div id='room-timetable'>
    <% @roomListing.each do |room| %>
    <div class='room-entries' style='position: relative;'>
        <div style='height:96em; z-index:-99;' class='program-entry droppable free-time'>
            <div class="roomid" style="display: none;"><%= room.id %></div>
        </div>
        <% previousAssignment = nil %>
        <% leftPosn = 5 %>
        <% room.published_room_item_assignments.day(@day).each do |assignment| %>
        <% endTime = assignment.published_time_slot.end >  assignment.published_time_slot.start.end_of_day ? assignment.published_time_slot.start.end_of_day : assignment.published_time_slot.end %>
        <% nbrQuarterHours = (((endTime - assignment.published_time_slot.start) / 3600) / 0.25).round %>
        <% startPosn = (assignment.published_time_slot.start.hour / 0.25)  + (assignment.published_time_slot.start.min / 15) %>
        <% styleStr = 'height:' + nbrQuarterHours.to_s + 'em;' + 'position: absolute; top: ' + startPosn.to_s + 'em;' %>
        <% if previousAssignment && (previousAssignment.published_time_slot.start == assignment.published_time_slot.start) %>
            <% styleStr += 'left: ' + leftPosn.to_s + 'px' %>
            <% leftPosn += 5 %>
        <% end %>
        <% if assignment.published_programme_item %>
        <div style='<%=styleStr%>' class='program-entry item-draggable' id = 'item-<%=assignment.published_programme_item.id.to_s %>'>
            <div class="roomid" style="display: none;"><%= room.id %></div>
            <div class="itemid" style="display: none;"><%= assignment.published_programme_item.id %></div>
            <div class="timeid" style="display: none;"><%= assignment.published_time_slot.id %></div>
            <div style="width:85%; display:inline;"><%= assignment.published_programme_item.title %></div>
            <a href="#itemid=<%= assignment.published_programme_item.id %>&roomid=<%= room.id %>" class="remove-item">
            <div class="ui-icon ui-icon-close" style="display:inline; float: right;"/></a>
        </div>
        <% previousAssignment = assignment %>
        <% end %>
        <% end %>
    </div>
    <% end %>
</div>
