<h1>Convention Guide Corrections</h1>

<% peopleAdded = @resultantChanges[:addPerson] %>
<% changedItems = @resultantChanges[:update] %>
<% if changedItems %>
<h2>Item Time and Room Changes</h2>
<% changedItems.each do |k, v| %>
    <%=markdown(k.title) %>
    <%=k.published_room.published_venue.name %> ( <%=k.published_room.name %> )
    <p>
    <% if v.size > 0 %>
        <% if v[:timeMove]%>
            Schedule Change: <%= v[:timeMove][0].strftime("%A at %H:%M") %> has changed to <%= v[:timeMove][1].strftime("%A at %H:%M") %>.
        <% else %>
            at <%= k.published_time_slot.start.strftime("%A at %H:%M") %>.
        <% end%>
        <% if v[:roomMove] && v[:roomMove].kind_of?(Array) && v[:roomMove].size > 1 %>
            The room has changed: from <%= v[:roomMove][1].name %> to <%= v[:roomMove][0].name %>.
        <% end%>
    <% end %>
    </p>
<% end %>
<% end %>

<% addedItems = @resultantChanges[:new] %>
<% if addedItems %>
<h2>New Items Added to Program</h2>
<% addedItems.each do |k, v| %>
    <%= markdown(k.title) %>
    <p>
        Has been added to the program, <%= v[0].strftime("%A at %H:%M") %> in <%= k.published_room.published_venue.name %>( <%= k.published_room.name %> )
    </p>
    <p>
        <%= k.precis %>
	</p>
    <%if peopleAdded && peopleAdded[k]%>
        <%val = peopleAdded[k]%>
        <% val.each_index do |idx| %>
            <% if idx % 2 == 0 %>
            <%= val[idx].GetFullPublicationName %> as <%= val[idx +1].name %>.<br/>
            <% end %>
        <% end %>
    <%end%>
<% end %>
<% end %>

<% droppedItems = @resultantChanges[:removeItem] %>
<% if droppedItems %>
<h2>Dropped Items</h2>
<% droppedItems.each do |k, v| %>
    <%= markdown(v[:title]) %>
    <p> <!-- Time.zone.parse config.time_zone -->
        Has been dropped. From <%= v[:info][0].published_venue.name %>( <%= v[:info][0].name %> ) at <%= v[:info][1].in_time_zone(Time.zone_default).strftime("%A at %H:%M") %>.
    </p>
<% end %>
<% end %>

<% if peopleAdded %>
<h2>Program Participants Added to Programme Items</h2>
<% peopleAdded.each do |k, v| %>
    <%if !addedItems[k] %>
    <%= markdown(k.title) %>
    <p>
        <%= k.published_time_slot.start.strftime("%A at %H:%M") %>. Program Participants have been added:<br/>
    <% v.each_index do |idx| %>
        <% if idx % 2 == 0 %>
        <%= v[idx].GetFullPublicationName %> as <%= v[idx +1].name %>.<br/>
        <% end %>
    <% end %>
    </p>
    <%end%>
<% end %>
<% end %>

<% peopleRemoved = @resultantChanges[:removePerson] %>
<% if peopleRemoved %>
<h2>Program Participants Dropped from Particular  Programme Items</h2>
<% peopleRemoved.each do |k, v| %>
    <%= markdown(k.title) %>
    <p>
       <%= k.published_time_slot.start.strftime("%A at %H:%M") %>. The following Program Participants have been dropped:<br/> 
    <% v.each_index do |idx| %>
        <% if idx % 2 == 0 %>
        <%= v[idx].GetFullPublicationName %><br/>
        <% end %>
    <% end %>
    </p>
<% end %>
<% end %>

<% updatedItemDetails = @resultantChanges[:detailUpdate] %>
<% if updatedItemDetails %>
<h2>Title and Description Changes</h2>
<% updatedItemDetails.each do |k, v| %>
    <%= markdown(k.title) %>
    <p>
        <%= k.published_time_slot.start.strftime("%A at %H:%M") %> in <%= k.published_room.published_venue.name %>(<%= k.published_room.name %>) has been updated <br/>
    <% if v.size > 0 %>
    <% if v.kind_of?(Array) %>
        <% v.each do |change| %>
            <% change.each do |name, vals| %>
                <%=name %> changed to: <%= (name == 'precis')? markdown(vals[1]) : vals[1] %><br/>
            <% end %>
        <% end %>
    <% end%>
    <% end %>
    </p>
<% end %>
<% end %>
