<h2>Publish Review</h2>
<h3>Candidates for Publish</h3>
<% @candidateNewItems.each do |c| %>
    <div class='prog-review'>
    <div><%= c.title %> (<%= c.pub_reference_number%>) <%= c.room.name %></div>
    <div>
        <%= c.time_slot.start.strftime("%A at %H:%M") %>
    </div>
    <p><%= c.precis %></p>
    <div>
        <% c.programme_item_assignments.each do |a| %>
            <% if a.role != PersonItemRole['Invisible'] &&  a.role != PersonItemRole['Reserved'] %>
                <%= a.person.getFullPublicationName %> as <%= a.role.name %><br/>
            <% end %>
        <% end %>
    </div>
    </div>
<% end %>
<h3>Candidates that have been updated</h3>
<% @candidateModifiedItems.each do |c| %>
    <div class='prog-review'>
    <div><%= c.title %> (<%= c.pub_reference_number%>) <%= c.room.name %></div>
    <div>
        <%= c.time_slot.start.strftime("%A at %H:%M") %>
    </div>
    <p><%= c.precis %></p>
    <div>
        <% c.programme_item_assignments.each do |a| %>
            <% if a.role != PersonItemRole['Invisible'] &&  a.role != PersonItemRole['Reserved'] %>
                <%= a.person.getFullPublicationName %> as <%= a.role.name %><br/>
            <% end %>
        <% end %>
    </div>
    </div>
<% end %>
<h3>Candidates for Unpublish/Drop</h3>
<% @candidateRemovedItems.each do |c| %>
    <div class='prog-review'>
        <div><%= c.title %> (<%= c.pub_reference_number%>)</div>
    </div>
<% end %>
