
<ul class="nav nav-tabs" id="programme-item-tabs">
    <li class="active"><a href="#program-item-tab" data-toggle="tab"><%= t "summary" %></a></li>
    <li><a href="#item-participants-tab" data-toggle="tab"><%= t "program-participants" %></a></li>
    <li><a href="#equipment-tab" data-toggle="tab"><%= t "equipment" %></a></li>
    <li><a href="#item-images-tab" data-toggle="tab"><%= t "published-images-short" %></a></li>
    <li><a href="#tags-tab" data-toggle="tab"><%= t "tags" %></a></li>
    <% @extra_tab_display.each do |extra| %>
        <%= render extra %>
    <% end %>
</ul>
<div id="item-tabs" class="panel-body"></div>
