<!--
Use the Rails authenticity token in the forms...

<%= form_authenticity_token %>
-->

<script type="text/template" id="program-item-view-template">
    {{ if (typeof id != 'undefined') { }}
    <div class="col-xs-10 clearfix">
        <div class="caption" class="pull-left">
            <dl class="dl-horizontal">
                <dt><%= t "title" %></dt><dd>{{= title ? title : "&nbsp;" }}</dd>
                <dt><%= t "ref-number" %></dt><dd>{{= pub_reference_number ? pub_reference_number : "&nbsp;" }}</dd>
                <dt><%= t "format" %></dt><dd>{{= format_name ? format_name : "&nbsp;" }}</dd>
                <dt><%= t "setup" %></dt><dd>{{= setup_name ? setup_name : "&nbsp;" }}</dd>
                <dt><%= t "short-title" %></dt><dd>{{= short_title ? short_title : "&nbsp;" }}</dd>
                <dt><%= t "item-description" %></dt><dd>{{= precis ? precis : "&nbsp;" }}</dd>
                <dt><%= t "room" %></dt><dd>{{= room ? room : "&nbsp;" }}</dd>
                <dt><%= t "start-day-and-time" %></dt><dd>{{= start_day_str ? start_day_str : "&nbsp;" }} {{= start_time_str ? start_time_str : "&nbsp;" }}</dd>
                <dt><%= t "notes" %></dt><dd>{{= notes ? notes : "&nbsp;" }}</dd>
                <dt><%= t "item-notes-for-participants" %></dt><dd>{{= participant_notes ? participant_notes : "&nbsp;" }}</dd>
                <dt><%= t "duration" %></dt><dd>{{= duration ? duration : "&nbsp;" }}</dd>
                <dt><%= t "for-print" %></dt><dd>{{= print ? '<%= t "yes" %>' : '<%= t "no" %>' }}</dd>
                <dt><%= t "max-people" %></dt><dd>{{= maximum_people ? maximum_people : "&nbsp;" }}</dd>
                <dt><%= t "min-people" %></dt><dd>{{= minimum_people ? minimum_people : "&nbsp;" }}</dd>
                <dt><%= t "item-estimated-audience-size" %></dt><dd>{{= audience_size ? audience_size : "&nbsp;" }}</dd> 
                <dt><%= t "mobile-card-size" %></dt><dd>{{= mobile_card_size ? {1:'<%= (t "small-feminin") %>',5:'<%= (t "medium-feminin") %>',10:'<%= (t "large-feminin") %>'}[mobile_card_size] : "&nbsp;" }}</dd> 
            </dl>
        </div>
        <!-- List of participants etc. -->
        <div><%= t "moderator(s)" %></div>
        <ul class="list-group">
        {{ _.each(moderators, function(person) { }}
            <li class="list-group-item">
                {{ if (person.pseudonym) { }}
                    {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                    ({{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                {{ } else { }}
                    {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                {{ } }}
            </li>
        {{ }); }}
        </ul>
        <div><%= t "participants" %></div>
        <ul class="list-group">
        {{ _.each(participants, function(person) { }}
            <li class="list-group-item">
                {{ if (person.pseudonym) { }}
                    {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                    ({{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                {{ } else { }}
                    {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                {{ } }}
            </li>
        {{ }); }}
        </ul>
        <div><%= t "reserved" %></div>
        <ul class="list-group">
        {{ _.each(reserves, function(person) { }}
            <li class="list-group-item">
                {{ if (person.pseudonym) { }}
                    {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                    ({{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                {{ } else { }}
                    {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                {{ } }}
            </li>
        {{ }); }}
        </ul>
        <div><%= t "invisible" %></div>
        <ul class="list-group">
        {{ _.each(invisibles, function(person) { }}
            <li class="list-group-item">
                {{ if (person.pseudonym) { }}
                    {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                    ({{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                {{ } else { }}
                    {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                {{ } }}
            </li>
        {{ }); }}
        </ul>
    </div>
    {{ }; }}    
</script>

<script type="text/template" id="equipment-layout-template">
<section>
    <div id="equipment-control-div"></div>
    <div id="equipment-region-div"></div>
</section>
</script>

<script type="text/template" id="equipment-control-template">
<div>
    <button class="add-model-button btn-xs btn-primary pull-right ">
        <%= t "add-equipment" %>
    </button>
</div>
</script>

<script type="text/template" id="equipment-detail-template">
<div class="col-xs-12 clearfix">
    <div class="thumbnail clearfix">
        <div class="caption" class="pull-left">
            <button class="model-delete-button btn btn-primary btn-xs pull-right">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
            <button class="model-edit-button btn btn-primary btn-xs pull-right">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
            <small>
                <dl class="dl-horizontal-small">
                    <dt>
                        <%= t "desc" %>
                    </dt>
                    <dd>
                        {{= equipment_type_name ? equipment_type_name : "&nbsp;"}}
                    </dd>
                </dl> </small>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="tag-context-layout-template">
<div class="thumbnail clearfix">
    <button class="model-add-tag-button btn btn-primary btn-xs pull-right" tagcontext="{{= context }}">
        <%= t "add" %>
    </button>
    <span class="label label-default">{{= context }}</span>
    {{ _.each(tags, function(tag) { }}
    <span class="label label-info">{{= tag }} <a href="{{= '/tags/' + obj_id + '/remove?class=ProgrammeItem&context=' + context + '&tag=' + tag }}" class="tag-remove-link"><i class="glyphicon glyphicon-remove"></i></a></span>
    {{ }); }}
</div>
</script>

<script type="text/template" id="tag-cloud-context-layout-template">
<div class="panel-group" id="item-tag-cloud-parent">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#item-tag-cloud-parent" href="#{{= context }}">{{= context }}</a>
            </h5>
        </div>
        <div id="{{= context }}" class="panel-collapse collapse">
            <div class="panel-body">
                {{ _.each(tags, function(tag) { }}
                <span class="label label-info select-tag-button" tagcontext="{{= context}}" tagname="{{= tag.name}}">{{= tag.name }} {{= tag.count }}</span>
                {{ }); }}
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="item-filters-template">
    <span class="label label-info remove-filter-button filter-remove-button" tagcontext="{{= context}}" tagname="{{= name }}">{{= name }}<i class="glyphicon glyphicon-remove"></i></span>
</script>

<script type="text/template" id="item-images-template">
    {{ if (typeof id != 'undefined') { }}
    <div>
        {{ var image = _.find(external_images, function(im) { return im['use'] == 'largecard' }); }}
        {{ if (typeof image != 'undefined') { }}
            <image src="{{= image.picture.large_card.url }}"></image>
            <button class="large-image-edit-button btn btn-primary btn-xs">
                <%= t "edit-large-card-image" %>
            </button>
        {{ } else { }}
            <button class="large-image-create-button btn btn-primary btn-xs">
                <%= t "add-large-card-image" %>
            </button>
        {{ } }}
    </div>
    <div>
        {{ var image = _.find(external_images, function(im) { return im['use'] == 'mediumcard' }); }}
        {{ if (typeof image != 'undefined') { }}
            <image src="{{= image.picture.medium_card.url }}"></image>
            <button class="medium-image-edit-button btn btn-primary btn-xs">
                <%= t "edit-medium-card-image" %>
            </button>
        {{ } else { }}
            <button class="medium-image-create-button btn btn-primary btn-xs">
                <%= t "add-medium-card-image" %>
            </button>
        {{ } }}
    </div>
    {{ }; }}    
    
</script>


