<!--
Use the Rails authenticity token in the forms...

<%= form_authenticity_token %>
-->

<script type="text/template" id="program-item-view-template">
    {{ if (typeof id != 'undefined') { }}
    <div class="col-xs-10 clearfix">
        <div class="caption" class="pull-left">
            <dl class="dl-horizontal">
                <dt><%= t "Title" %></dt><dd>{{= title ? title : "&nbsp;" }}</dd>
                <dt><%= t "Ref Number" %></dt><dd>{{= pub_reference_number ? pub_reference_number : "&nbsp;" }}</dd>
                <dt><%= t "Format" %></dt><dd>{{= format_name ? format_name : "&nbsp;" }}</dd>
                <dt><%= t "Setup" %></dt><dd>{{= setup_name ? setup_name : "&nbsp;" }}</dd>
                <dt><%= t "short-title" %></dt><dd>{{= short_title ? short_title : "&nbsp;" }}</dd>
                <dt><%= t "item-description" %></dt><dd>{{= precis ? precis : "&nbsp;" }}</dd>
                <dt><%= t "Notes" %></dt><dd>{{= notes ? notes : "&nbsp;" }}</dd>
                <dt><%= t "Duration" %></dt><dd>{{= duration ? duration : "&nbsp;" }}</dd>
                <dt><%= t "For Print" %></dt><dd>{{= print ? '<%= t "yes" %>' : '<%= t "no" %>' }}</dd>
                <dt><%= t "Max People" %></dt><dd>{{= maximum_people ? maximum_people : "&nbsp;" }}</dd>
                <dt><%= t "Min People" %></dt><dd>{{= minimum_people ? minimum_people : "&nbsp;" }}</dd>
                <dt><%= t "Room" %></dt><dd>{{= room ? room : "&nbsp;" }}</dd>
                <dt><%= t "start-day-and-time" %></dt><dd>{{= start_day_str ? start_day_str : "&nbsp;" }} {{= start_time_str ? start_time_str : "&nbsp;" }}</dd>
            </dl>
        </div>
        <!-- List of participants etc. -->
        <div><%= t "Moderators" %></div>
        <ul class="list-group">
        {{ _.each(moderators, function(person) { }}
            <li class="list-group-item">
                {{ if (person.pseudonym) { }}
                    {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                    ({{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                {{ } else { }}
                    {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                {{ } }}
            </li>
        {{ }); }}
        </ul>
        <div><%= t "Participants" %></div>
        <ul class="list-group">
        {{ _.each(participants, function(person) { }}
            <li class="list-group-item">
                {{ if (person.pseudonym) { }}
                    {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                    ({{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                {{ } else { }}
                    {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                {{ } }}
            </li>
        {{ }); }}
        </ul>
        <div><%= t "Reserved" %></div>
        <ul class="list-group">
        {{ _.each(reserves, function(person) { }}
            <li class="list-group-item">
                {{ if (person.pseudonym) { }}
                    {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                    ({{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                {{ } else { }}
                    {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                {{ } }}
            </li>
        {{ }); }}
        </ul>
        <div><%= t "Invisible" %></div>
        <ul class="list-group">
        {{ _.each(invisibles, function(person) { }}
            <li class="list-group-item">
                {{ if (person.pseudonym) { }}
                    {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                    ({{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                {{ } else { }}
                    {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                {{ } }}
            </li>
        {{ }); }}
        </ul>
    </div>
    {{ }; }}    
</script>

<script type="text/template" id="equipment-layout-template">
<section>
    <div id="equipment-control-div"></div>
    <div id="equipment-region-div"></div>
</section>
</script>

<script type="text/template" id="equipment-control-template">
<div>
    <button class="add-model-button btn-xs btn-primary pull-right ">
        <%= t "add equipment" %>
    </button>
</div>
</script>

<script type="text/template" id="equipment-detail-template">
<div class="col-xs-12 clearfix">
    <div class="thumbnail clearfix">
        <div class="caption" class="pull-left">
            <button class="model-delete-button btn btn-primary btn-xs pull-right">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
            <button class="model-edit-button btn btn-primary btn-xs pull-right">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
            <small>
                <dl class="dl-horizontal-small">
                    <dt>
                        <%= t "Desc" %>
                    </dt>
                    <dd>
                        {{= equipment_type_name ? equipment_type_name : "&nbsp;"}}
                    </dd>
                </dl> </small>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="tag-context-layout-template">
<div class="thumbnail clearfix">
    <button class="model-add-tag-button btn btn-primary btn-xs pull-right" tagcontext="{{= context }}">
        <%= t "Add" %>
    </button>
    <span class="label label-default">{{= context }}</span>
    {{ _.each(tags, function(tag) { }}
    <span class="label label-info">{{= tag }} <a href="{{= '/tags/' + obj_id + '/remove?class=ProgrammeItem&context=' + context + '&tag=' + tag }}" class="tag-remove-link"><i class="glyphicon glyphicon-remove"></i></a></span>
    {{ }); }}
</div>
</script>

<script type="text/template" id="tag-cloud-context-layout-template">
<div class="panel-group" id="item-tag-cloud-parent">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#item-tag-cloud-parent" href="#{{= context }}">{{= context }}</a>
            </h5>
        </div>
        <div id="{{= context }}" class="panel-collapse collapse">
            <div class="panel-body">
                {{ _.each(tags, function(tag) { }}
                <span class="label label-info select-tag-button" tagcontext="{{= context}}" tagname="{{= tag.name}}">{{= tag.name }} {{= tag.count }}</span>
                {{ }); }}
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="item-filters-template">
    <span class="label label-info remove-filter-button filter-remove-button" tagcontext="{{= context}}" tagname="{{= name }}">{{= name }}<i class="glyphicon glyphicon-remove"></i></span>
</script>


