<% @extra_template.each do |extra| %>
    <%= render extra %>
<% end %>

<script type="text/template" id="image-uploader-form-template">
    <form class="form-horizontal" role="form">
        <fieldset>
            <div class="form-group">
                <span data-editor>
                    <div class="row">
                        <div class="col-sm-12"><span data-editors="picture"></span></div>
                    </div>
                </span>
            </div>
        </fieldset>
    </form>
</script>

<script type="text/template" id="item-tab-layout-template">
    <div class="tab-content">
        <div class="tab-pane active" id="program-item-tab">
            <div id="invite-view">
                <div class="empty-tab">
                    <i class="fa fa-angle-up"></i>
                    <i class="fa fa-calendar fa-lg"></i>
                    &nbsp;<%= t 'select-item-from-list' %>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="item-participants-tab"></div>
        <div class="tab-pane" id="tags-tab">
            <div id="tags-view"></div>
        </div>
        <div class="tab-pane" id="item-images-tab"><div id="item-images"></div></div>
        <% @extra_tab_template.each do |extra| %>
            <%= render extra %>
        <% end %>
    </div>
</script>

<script type="text/template" id="item-form-template">
    <div>
    <form class="form-horizontal item-form" role="form" style="padding-left: 15px; padding-right: 15px;">
        <fieldset>
            <div class="row">
                <div class="form-group" id="item-form-template-title">
                    <label class="col-sm-3 control-label">
                       <%= t  "title" %>
                    </label>
                    <div class="col-sm-9">
                        <span data-editor>
                            <div data-editors="title"></div>
                            <div class="has-error"><p class="help-block" data-error></p></div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group" id="item-form-template-description">
                    <label class="col-sm-3 control-label">
                       <%= t  "item-description" %>
                    </label>
                    <div class="col-sm-9">
                        <span data-editor>
                            <div data-editors="description"></div>
                            <div class="has-error"><p class="help-block" data-error></p></div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <div id="short-version-selection-div" class="inline-checkbox-div">
                        <input type="checkbox" onclick="showShortDescriptionDiv(this);" tabindex="-1"> <%= t 'show-short-versions' %></input> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "short-title-and-description" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "short-title-and-description-help" %>'></i>
                    </div>
                </div>
            </div>
            <div class="row" id="short-versions-row">
                <div id="short-versions-div" style="display:none;">
                    <div class="form-group" id="item-form-template-short-title">
                        <label class="col-sm-3 control-label">
                           <%= t  "short-title" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "short-title" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "short-title-help" %>'></i>
                        </label>
                        <div class="col-sm-9">
                            <span data-editor>
                                <div data-editors="short_title"></div>
                                <div class="has-error"><p class="help-block" data-error></p></div>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" id="item-form-template-short-description">
                        <label class="col-sm-3 control-label">
                           <%= t  "short-item-description" %>  <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "short-item-description" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "short-description-help" %>'></i>
                        </label>
                        <div class="col-sm-9">
                            <span data-editor>
                                <div data-editors="short_description"></div>
                                <div class="has-error"><p class="help-block" data-error></p></div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="item-break-row">
                <div class="col-sm-9 col-sm-offset-3">
                    <div id="break-selection-div">
                        <span data-editor>
                            <div data-editors="is_break" tabindex="-1" class="inline-checkbox-div"></div> <%= t "item-is-break" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-is-break" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-is-break-hint" %>'></i>
                            <div class="has-error"><p class="help-block" data-error></p></div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" id="formats-row" style="margin-top: 10px;">
                <div class="form-group " style="margin-bottom: 3px;">                
                    <label class="col-sm-3 control-label"><%= t "item-format" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-format" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-format-help" %>'></i></label>
                    <div class="col-sm-4">
                        <div data-editor>
                            <div data-editors="format_id"></div>
                            <div class="has-error">
                                <p class="help-block" data-error></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="themes-row">
                <div class="form-group" id="item-form-template-themes" style="margin-bottom: 9px;">
                    <label class="col-sm-3 control-label">
                       <%= t  "themes" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "themes" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "themes-help" %>'></i>
                    </label>
                    <div data-editor>
                        <div class="col-sm-9" data-editors="theme_name_ids"></div>
                        <div class="has-error"><p class="help-block" data-error></p></div>
                    </div>
                </div>
            </div>
            <div id="item-display-row" class="voffset10">
                <div class="row item-section-title">
                    <h3><%= t 'planner.core.items.form.dividers.display' %></h3>
                </div>
                <div class="row" id="item-visibility-row">
                    <label class="col-sm-3 control-label">
                        <%= t "item-visibility" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= strip_tags t("item-visibility") %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= strip_tags t("item-visibility-hint") %>'></i>
                    </label>
                    <div class="col-sm-9">
                        <div id="item-visibility-div">
                            <div data-editors="visibility_id" tabindex="-1"></div>
                        </div>
                    </div>
                </div>
                <div class="row voffset10" id="card-size-row">
                    <label class="col-sm-3 control-label"><%= t "mobile-card-size" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "mobile-card-size" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "mobile-card-size-help" %>'></i></label>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div data-editors="mobile_card_size"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="item-scheduling-container" class="voffset10">
                <div class="row item-section-title">
                    <h3><%= t 'scheduling' %></h3>
                </div>
                <div class="row" id="parent-item-row">
                    <div class="form-group" id="item-form-template-parent-id">
                        <label class="col-sm-3 control-label">
                           <%= t  "parent-item" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "parent-item" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "parent-title-help" %>'></i>
                        </label>
                        <div data-editor>
                            <div class="col-sm-9" data-editors="parent_id"></div>
                            <div class="has-error"><p class="help-block" data-error></p></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <div class="row">
                            <label class="col-xs-6 control-label"><%= t "item-duration" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-duration" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-duration-help" %>'></i></label>
                            <div class="col-xs-6">
                                <span data-editor>
                                    <div data-editors="duration"></div>
                                    <div class="has-error">
                                        <p class="help-block" data-error></p>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>    
                    <div class="form-group col-sm-6" id="start-offset-form-group">
                        <div class="row">
                            <label class="col-xs-6 control-label">
                               <%= t  "item-start-offset" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-start-offset" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-start-offset-help" %>'></i>
                            </label>
                            <div class="col-xs-6">
                                <div data-editors="start_offset"></div>
                                <div class="has-error">
                                    <p class="help-block" id='start-time-error' data-error></p>
                                </div>
                            </div>
                        </div>
                    </div>         
                </div>
                <div class="row" id="item-times-row">
                    <label class="col-sm-3 control-label"><%= t "item-start-day-and-time" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-start-time" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-start-time-help" %>'></i></label>                 
                    <div class="form-group col-sm-4 col-md-4 col-xs-4" id="start-day-and-time-form-group">
                        <div data-editors="start_time"></div>
                        <div class="has-error">
                            <p class="help-block" id='start-time-error' data-error></p>
                        </div>
                    </div>
                    <label class="col-sm-1 control-label">
                        <%= t "item-end-day-and-time" %> 
                    </label>
                    <div class="form-group col-sm-4" id="end-day-and-time-form-group"> 
                        <div data-editors="end_time"></div>
                        <div class="has-error">
                            <p class="help-block" id='end-time-error' data-error></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <span data-editor>
                            <label class="col-sm-3 control-label"><%= t "planner.core.items.form.labels.location" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= j t("planner.core.items.form.labels.location") %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-room-help" %>'></i></label>
                            <div class="col-sm-4">
                                <div data-editors="room_id"></div>
                                <div class="has-error">
                                    <p class="help-block" id='room-error' data-error></p>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <div id="item-extras-container" class="voffset20">
                <div id="item-extras-title" class="row item-section-title">
                    <h3 id="toggle-item-extras-header" onclick="toggleItemExtras();"><%= t 'extra-information' %> <a class="fa fa-plus-square" id="toggle-item-extras-btn"></a></h3>
                </div>
                <div class="row" id="programme-item-extras" style="display: none;">
                    <div class="col-ms-12">
                        <div id="item-planning-container">
                            <!-- <div id="item-planning-title" class="row item-section-title">
                                <h3><%= t 'planning' %></h3>
                            </div> -->
                            <div class="row">
                                <div class="form-group">
                                    <div data-editor>
                                        <label  class="col-sm-3 control-label"><%= t "item-setup-short" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-setup" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-setup-help" %>'></i></label>
                                        <div class="col-sm-3">
                                            <div data-editors="setup_type_id"></div>
                                            <div class="has-error">
                                                <p class="help-block" data-error></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group" style="margin-bottom: 0;">
                                    <label class="col-sm-3 control-label"><%= t "item-nb-participants" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-nb-participants" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-nb-participants-help" %>'></i></label>
                                    <div class="col-sm-2">
                                        <div data-editors="minimum_people"></div>
                                        <div class="has-error">
                                            <p class="help-block" data-error></p>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div data-editors="maximum_people"></div>
                                        <div class="has-error">
                                            <p class="help-block" data-error></p>
                                        </div>
                                    </div>
                                    <div id="audience-size-container" class="col-sm-5" data-editor>
                                        <div class="row">
                                            <label class="col-sm-7 control-label"><%= t "item-estimated-audience-size" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-estimated-audience-size-long" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-estimated-audience-size-help" %>'></i></label>
                                            <div class="col-sm-5">
                                                <div data-editors="audience_size"></div>
                                                <div class="has-error">
                                                    <p class="help-block" data-error></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><%= t "item-publication-reference" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-publication-reference" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-publication-reference-help" %>'></i></label>
                                <div class="col-sm-4">
                                    <div data-editors="pub_reference_number"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <span data-editor>
                                    <label class="col-sm-3 control-label"><%= t "item-notes" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-notes" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "notes-help" %>'></i></label>
                                    <div class="col-sm-9">
                                        <div data-editors="item_notes"></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><%= t "item-notes-for-participants" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-notes-for-participants" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-notes-for-participants-help" %>'></i></label>
                                <div class="col-sm-9">
                                    <div data-editors="participant_notes" class="notes-text-area"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    </div>
</script>

<script type="text/template" id="program-item-summary-view-template">
    <div>
    <div class="col-md-4">
        <h5><%= t 'item' %></h5>
        <dl class="dl-airy">
            <dt><%= t "title" %></dt><dd>{{= title ? title : "&nbsp;" }}</dd>
            <dt><%= t "themes" %></dt><dd>{{= theme_names ? theme_names.map(function(item) {return item['name'];}).join(', ') : "&nbsp;" }}</dd>
            <dt><%= t "item-description" %></dt><dd>{{= description ? description : '<span class="minor-text"><%= t "none-provided" %></span>' }}</dd>
            <dt><%= t "short-title" %></dt><dd>{{= short_title ? short_title : '<span class="minor-text"><%= t "none-provided" %></span>' }}</dd>
            <dt><%= t "short-item-description" %></dt><dd>{{= short_description ? short_description : '<span class="minor-text"><%= t "none-provided" %></span>' }}</dd>
        </dl>
    </div>
    <div class="col-md-4">
        <h5><%= t 'details' %></h5>
        <div class="row" id="item-detail-list">
            <div class="col-xs-12 item-summary-attribute">
                <div class="row">
                    <div class="col-xs-6"><%= t "item-visibility" %></div>
                    <div class="col-xs-6">
                        {{ if (visibility_id) { }}
                          {{ var visBadgeClass = 'label'; }}
                          {{ var visBadgeLabel = ''; }}

                          {{ if (visibility_id == <%= Visibility['Public'].id %>) { }}
                            {{ visBadgeClass += " label-public"; }}
                            {{ visBadgeLabel = "<%= j t('item-visibility.public') %>";}}
                          {{ } else if (visibility_id == <%= Visibility['Private'].id %>) { }}
                            {{ visBadgeClass += " label-private"; }}
                            {{ visBadgeLabel = "<%= j t('item-visibility.private') %>";}}
                          {{ } else if (visibility_id == <%= Visibility['None'].id %>) { }}
                            {{ visBadgeClass += " label-default"; }}
                            {{ visBadgeLabel = "<%= j t('item-visibility.none') %>";}}
                          {{ }; }}
                          
                          <span class='{{= visBadgeClass }}'>{{= visBadgeLabel}}</span>
                        {{ }; }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 item-summary-attribute">
                <div class="row">
                    <div class="col-xs-6"><%= t "item-is-break" %></div>
                    <div class="col-xs-6">{{= is_break ? '<%= t "yes" %>' : '<%= t "no" %>' }}</div>
                </div>
            </div>
            <div class="col-xs-12 item-summary-attribute">
                <div class="row">
                    <div class="col-xs-6"><%= t "published" %></div>
                    <div class="col-xs-6">{{= published ? '<%= t "yes" %>' : '<%= t "no" %>' }}</div>
                </div>
            </div>
            <div class="col-xs-12 item-summary-attribute">
                <div class="row">
                    <div class="col-xs-6"><%= t "ref-number" %></div>
                    <div class="col-xs-6">{{= pub_reference_number ? pub_reference_number : '<span class="minor-text"><%= t "none-provided" %></span>' }}</div>
                </div>
            </div>
            <div class="col-xs-12 item-summary-attribute">
                <div class="row">
                    <div class="col-xs-6"><%= t "format" %></div>
                    <div class="col-xs-6">{{= format_name ? format_name : '<span class="minor-text"><%= t "none-provided" %></span>' }}</div>
                </div>
            </div>
            <div class="col-xs-12 item-summary-attribute">
                <div class="row">
                    <div class="col-xs-6"><%= t "setup" %></div>
                    <div class="col-xs-6">{{= setup_name ? setup_name : '<span class="minor-text"><%= t "none-provided" %></span>' }}</div>
                </div>
            </div>
            <div class="col-xs-12 item-summary-attribute">
                <div class="row">
                    <div class="col-xs-6"><%= t "location" %></div>
                    <div class="col-xs-6">
                    {{ if (room) { }}
                        <span class="fa fa-map-marker"></span>&nbsp;{{= venue }}, {{= room }}
                    {{ } else { }}
                        <span class="minor-text"><%= t "none-provided" %></span>
                    {{ } }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 item-summary-attribute">
                <div class="row">
                    <div class="col-xs-6"><%= t "start-day-and-time" %></div>
                    <div class="col-xs-6">{{= start_day_str ? start_day_str : '<span class="minor-text"><%= t "none-provided" %></span>' }} {{= start_time_str ? start_time_str : '' }}</div>
                </div>
            </div>
            <div class="col-xs-12 item-summary-attribute">
                <div class="row">
                    <div class="col-xs-6"><%= t "duration" %></div>
                    <div class="col-xs-6">{{= duration ? duration + ' mins' : '<span class="minor-text"><%= t "none-provided" %></span>' }}</div>
                </div>
            </div>
            <div class="col-xs-12 item-summary-attribute">
                <div class="row">
                    <div class="col-xs-6"><%= t "nb-participants" %></div>
                    <div class="col-xs-6">{{= minimum_people ? 'Min ' + minimum_people : '<span class="minor-text"><%= t "none-provided" %></span>' }} {{= maximum_people ? 'Max ' + maximum_people : '<span class="minor-text"><%= t "none-provided" %></span>' }}</div>
                </div>
            </div>
            <div class="col-xs-12 item-summary-attribute">
                <div class="row">
                    <div class="col-xs-6"><%= t "participants-and-staff" %></div>
                    <div class="col-xs-6">{{= participants ? participants.length : '' }}</div>
                </div>
            </div>
            <div class="col-xs-12 item-summary-attribute">
                <div class="row">
                    <div class="col-xs-6"><%= t "item-estimated-audience-size" %></div>
                    <div class="col-xs-6">{{= audience_size ? audience_size : '<span class="minor-text"><%= t "none-provided" %></span>' }}</div>
                </div>
            </div>
            <div class="col-xs-12 item-summary-attribute">
                <div class="row">
                    <div class="col-xs-6"><%= t "mobile-card-size" %></div>
                    <div class="col-xs-6">{{= mobile_card_size ? {1:'<%= (t "small-feminin") %>',5:'<%= (t "medium-feminin") %>',10:'<%= (t "large-feminin") %>'}[mobile_card_size] : '<span class="minor-text"><%= t "none-provided" %></span>' }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h5><%= t 'notes' %></h5>
        <dl class="dl-airy">
            <dt><%= t "item-notes-for-organizers" %></dt><dd>{{= item_notes ? item_notes : '<span class="minor-text"><%= t "no-notes-provided" %></span>' }}</dd>
            <dt><%= t "item-notes-for-participants" %></dt><dd>{{= participant_notes ? participant_notes : '<span class="minor-text"><%= t "no-notes-provided" %></span>' }}</dd>
        </dl>
    </div>    
    </div>
</script>

<script type="text/template" id="program-participants-view-template">
    {{ if (typeof id != 'undefined') { }}
    <div class="clearfix">
        <div class="row">
            <div class="col-md-12">
                <div class="caption" class="pull-left">
                    <button class="add-people-button btn btn-primary btn-xs pull-right">
                        <%= t 'add-people' %>
                    </button>
                </div>
            </div>
        </div>
        <!-- List of participants etc. -->
        <div class="row">
            <div class="col-md-3">
                <h5><%= t "moderator(s)" %></h5>
                <ul class="list-group">
                {{ _.each(moderators, function(person) { }}
                    <li class="list-group-item">
                        {{ if (person.pseudonym) { }}
                            {{= person.pseudonym.prefix }} {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                            ({{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                        {{ } else { }}
                            {{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                        {{ } }}
                    </li>
                {{ }); }}
                </ul>
            </div>    
            <div class="col-md-3">
                <h5><%= t "program-participants" %></h5>
                <ul class="list-group">
                {{ _.each(participants, function(person) { }}
                    <li class="list-group-item">
                        {{ if (person.pseudonym) { }}
                            {{= person.pseudonym.prefix }} {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                            ({{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                        {{ } else { }}
                            {{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                        {{ } }}
                    </li>
                {{ }); }}
                </ul>
            </div>
            <div class="col-md-3">
                <h5><%= t "reserved" %><i class="glyphicon glyphicon-info-sign bpopover" title="<%= t "reserved" %>" data-container="body" data-trigger="hover" data-placement="top" data-toggle="popover" data-content='<%= (t "reserved-help").html_safe %>'></i></h5>
                <ul class="list-group">
                {{ _.each(reserves, function(person) { }}
                    <li class="list-group-item">
                        {{ if (person.pseudonym) { }}
                            {{= person.pseudonym.prefix }} {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                            ({{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                        {{ } else { }}
                            {{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                        {{ } }}
                    </li>
                {{ }); }}
                </ul>
            </div>
            <div class="col-md-3">
                <h5><%= t "invisible" %><i class="glyphicon glyphicon-info-sign bpopover" title="<%= t "invisible" %>" data-container="body" data-trigger="hover" data-placement="top" data-toggle="popover" data-content='<%= (t "invisible-help").html_safe %>'></i></h5>
                <ul class="list-group">
                {{ _.each(invisibles, function(person) { }}
                    <li class="list-group-item">
                        {{ if (person.pseudonym) { }}
                            {{= person.pseudonym.prefix }} {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                            ({{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                        {{ } else { }}
                            {{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                        {{ } }}
                    </li>
                {{ }); }}
                </ul>
            </div>
        </div>
    </div>
    {{ }; }}    
</script>

<script type="text/template" id="tag-context-layout-template">
<div class="thumbnail clearfix">
    <button class="model-add-tag-button btn btn-primary btn-xs pull-right" tagcontext="{{= context }}">
        <%= t "add" %>
    </button>
    <span class="label label-default">{{= context }}</span>
    {{ _.each(tags, function(tag) { }}
    <span class="label label-info">{{= tag }} <a href="{{= '<%= baseUri %>/tags/' + obj_id + '/remove?class=ProgrammeItem&context=' + context + '&tag=' + tag.replace(/&/g, "%26") }}" class="tag-remove-link"><i class="glyphicon glyphicon-remove"></i></a></span>
    {{ }); }}
</div>
</script>

<script type="text/template" id="tag-cloud-context-layout-template">
<div class="panel-group" id="item-tag-cloud-parent">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title tag-panel-title"> 
                <a data-toggle="collapse" data-parent="#item-tag-cloud-parent" href="#{{= context }}">{{= context }}</a>
            </h5>
        </div>
        <div id="{{= context }}" class="panel-collapse collapse">
            <div class="panel-body">
                {{ _.each(tags, function(tag) { }}
                <span class="label label-info select-tag-button" tagcontext="{{= context}}" tagname="{{= tag.name}}">{{= tag.name }} {{= tag.count }}</span>
                {{ }); }}
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="item-filters-template">
    <span class="label label-info remove-filter-button filter-remove-button" tagcontext="{{= context}}" tagname="{{= name }}">{{= name }}<i class="glyphicon glyphicon-remove"></i></span>
</script>

<script type="text/template" id="item-images-template">
    <h3 class="h3-underlined"><%= t 'published-images'%><i class="glyphicon glyphicon-info-sign bpopover" title="<%= t "published-images" %>" data-container="body" data-trigger="hover" data-placement="top" data-toggle="popover" data-content="<%= (t 'published-images-help').html_safe %>"></i></h3>
    <% if ConfigService.hasCloudinaryConfig? %>
        {{ if (typeof id != 'undefined') { }}
        <div class="boffset10">
            {{ var image = _.find(external_images, function(im) { return im['use'] == 'largecard' }); }}
            {{ if (typeof image != 'undefined') { }}
                <image src="{{= image.picture.large_card.url }}"></image>
                <button class="large-image-edit-button btn btn-primary btn-xs">
                    <%= t "edit-large-card-image" %>
                </button>
                <button class="large-image-delete-button btn btn-primary btn-xs">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            {{ } else { }}
                <button class="large-image-create-button btn btn-primary btn-xs">
                    <%= t "add-large-card-image" %>
                </button>
            {{ } }}
        </div>
        <div>
            {{ var image = _.find(external_images, function(im) { return im['use'] == 'mediumcard' }); }}
            {{ if (typeof image != 'undefined') { }}
                <image src="{{= image.picture.medium_card.url }}"></image>
                <button class="medium-image-edit-button btn btn-primary btn-xs">
                    <%= t "edit-medium-card-image" %>
                </button>
                <button class="medium-image-delete-button btn btn-primary btn-xs">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            {{ } else { }}
                <button class="medium-image-create-button btn btn-primary btn-xs">
                    <%= t "add-medium-card-image" %>
                </button>
            {{ } }}
        </div>
        {{ }; }}    
    <% else %>
        <%= t 'cloudinary-not-configured' %>
    <% end %>
</script>

