


<% @extra_template.each do |extra| %>
    <%= render extra %>
<% end %>

<script type="text/template" id="item-tab-layout-template">
    <div class="tab-content">
        <div class="tab-pane active" id="program-item-tab"></div>
        <div class="tab-pane" id="item-participants-tab"></div>
        <div class="tab-pane" id="equipment-tab">
            <section>
                <div id="equipment-control-div"></div>
                <div id="equipment-region-div"></div>
            </section>
        </div>
        <div class="tab-pane" id="tags-tab">
            <div id="tags-view"></div>
        </div>
        <div class="tab-pane" id="item-images-tab"><div id="item-images"></div></div>
        <% @extra_tab_template.each do |extra| %>
            <%= render extra %>
        <% end %>
    </div>
</script>

<script type="text/template" id="item-form-template">
    <div>
    <form class="form-horizontal" role="form">
        <fieldset>
            <div class="form-group" id="item-form-template-title">
                <label class="col-sm-3 control-label">
                   <%= t  "title" %>
                </label>
                <span data-editor>
                <div class="col-sm-9" data-editors="title"></div>
                </span>
            </div>
            <div class="form-group" id="item-form-template-description">
                <label class="col-sm-3 control-label">
                   <%= t  "item-description" %>
                </label>
                <span data-editor>
                <div class="col-sm-9" data-editors="precis"></div>
                </span>
            </div>
            <div class="col-sm-9 col-sm-offset-3" style="margin-top: -15px; padding-left: 7.5px; margin-bottom: 15px;">
                <div id="short-version-selection-div">
                    <input type="checkbox" onclick="showShortDescriptionDiv(this);"> <%= t 'show-short-versions' %></input> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "short-title-and-description" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "short-title-and-description-help" %>'></i>
                </div>
            </div>
            <div id="short-versions-div" style="display:none;">
                <div class="form-group" id="item-form-template-short-title">
                    <label class="col-sm-3 control-label">
                       <%= t  "short-title" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "short-title" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "short-title-help" %>'></i>
                    </label>
                    <span data-editor>
                    <div class="col-sm-9" data-editors="short_title"></div>
                    </span>
                </div>
                <div class="form-group" id="item-form-template-short-description">
                    <label class="col-sm-3 control-label">
                       <%= t  "short-item-description" %>  <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "short-item-description" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "short-description-help" %>'></i>
                    </label>
                    <span data-editor>
                    <div class="col-sm-9" data-editors="short_precis"></div>
                    </span>
                </div>
            </div>
            <div class="form-group" id="item-form-template-time-and-audience">
                <span data-editor>
                    <div class="col-sm-3">
                        <label><%= t "item-duration" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-duration" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-duration-help" %>'></i></label>
                        <div data-editors="duration"></div>
                    </div>
                    <div class="col-sm-3">
                        <label><%= t "item-min-participants" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-min-participants" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-min-participants-help" %>'></i></label>
                        <div data-editors="minimum_people"></div>
                    </div>
                    <div class="col-sm-3">
                        <label><%= t "item-max-participants" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-max-participants" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-max-participants-help" %>'></i></label>
                        <div data-editors="maximum_people"></div>
                    </div>
                    <div class="col-sm-3">
                        <label><%= t "item-estimated-audience-size" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-estimated-audience-size" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-estimated-audience-size-help" %>'></i></label>
                        <div data-editors="audience_size"></div>
                    </div>
                </span>
            </div>

            <div class="form-group" id="item-form-template-format">
                <span data-editor>
                    <div class="col-sm-3">
                        <label><%= t "item-format" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-format" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-format-help" %>'></i></label>
                        <div data-editors="format_id"></div>
                    </div>
                    <div class="col-sm-3">
                        <label><%= t "item-setup" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-setup" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-setup-help" %>'></i></label>
                        <div data-editors="setup_type_id"></div>
                    </div>
                </span>
                <span data-editor>
                    <div class="col-sm-3">
                        <label><%= t "item-room" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-room" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-room-help" %>'></i></label>
                        <div data-editors="room_id"></div>
                        <div class="has-error">
                            <p class="help-block" id='room-error' data-error></p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label><%= t "item-start-time" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-start-time" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-start-time-help" %>'></i></label>
                        <div data-editors="start_time"></div>
                        <div class="has-error">
                            <p class="help-block" id='start-time-error' data-error></p>
                        </div>
                    </div>
                </span>
            </div>
            <div class="form-group" id="item-form-template-print">
                <span data-editor>
                    <div class="col-sm-3">
                        <label><%= t "item-print" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-print" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-print-hint" %>'></i></label>
                        <div data-editors="print"></div>
                    </div>
                    <div class="col-sm-3">
                        <label><%= t "item-publication-reference" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-publication-reference" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-publication-reference-help" %>'></i></label>
                        <div data-editors="pub_reference_number"></div>
                    </div>
                    <div class="col-sm-4">
                        <label><%= t "mobile-card-size" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "mobile-card-size" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "mobile-card-size-help" %>'></i></label>
                        <div data-editors="mobile_card_size"></div>
                    </div>
                </span>
            </div>
            <div class="form-group" id="item-form-template-notes">
                <span data-editor>
                    <div class="col-sm-6">
                        <span>
                        <label><%= t "item-notes" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-notes" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "notes-help" %>'></i></label>
                        <div data-editors="item_notes"></div>
                        </span>
                    </div>
                    <div class="col-sm-6">
                        <span>
                        <label><%= t "item-notes-for-participants" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "item-notes-for-participants" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "item-notes-for-participants-help" %>'></i></label>
                        <div data-editors="participant_notes"></div>
                        </span>
                    </div>
                </span>
            </div>
        </fieldset>
    </form>
    </div>
</script>

<script type="text/template" id="program-item-summary-view-template">
    <div>
    <div class="col-md-4">
        <h5><%= t 'item' %></h5>
        <dl class="dl-airy">
            <dt><%= t "title" %></dt><dd>{{= title ? title : "&nbsp;" }}</dd>
            <dt><%= t "item-description" %></dt><dd>{{= precis ? precis : '<span class="minor-text"><%= t "none-provided" %></span>' }}</dd>
            <dt><%= t "short-title" %></dt><dd>{{= short_title ? short_title : '<span class="minor-text"><%= t "none-provided" %></span>' }}</dd>
            <dt><%= t "short-item-description" %></dt><dd>{{= short_precis ? short_precis : '<span class="minor-text"><%= t "none-provided" %></span>' }}</dd>
        </dl>
    </div>
    <div class="col-md-4">
        <h5><%= t 'details' %></h5>
        <dl class="dl-horizontal-small dt60" id="item-detail-list">
            <dt><%= t "ref-number" %></dt><dd>{{= pub_reference_number ? pub_reference_number : "&nbsp;" }}</dd>
            <dt><%= t "format" %></dt><dd>{{= format_name ? format_name : "&nbsp;" }}</dd>
            <dt><%= t "setup" %></dt><dd>{{= setup_name ? setup_name : "&nbsp;" }}</dd>    
            <dt><%= t "room" %></dt><dd>{{= room ? '<span class="glyphicon glyphicon-map-marker"></span> ' + room : "&nbsp;" }}</dd>
            <dt><%= t "start-day-and-time" %></dt><dd>{{= start_day_str ? start_day_str : "&nbsp;" }} {{= start_time_str ? start_time_str : "&nbsp;" }}</dd>
            <dt><%= t "duration" %></dt><dd>{{= duration ? duration + ' mins' : "&nbsp;" }}</dd>
            <dt><%= t "for-print" %></dt><dd>{{= print ? '<%= t "yes" %>' : '<%= t "no" %>' }}</dd>
            <dt><%= t "nb-participants" %></dt><dd>{{= minimum_people ? 'Min ' + minimum_people : "&nbsp;" }} {{= maximum_people ? 'Max ' + maximum_people : "&nbsp;" }}</dd>
            <dt><%= t "item-estimated-audience-size" %></dt><dd>{{= audience_size ? audience_size : "&nbsp;" }}</dd> 
            <dt><%= t "mobile-card-size" %></dt><dd>{{= mobile_card_size ? {1:'<%= (t "small-feminin") %>',5:'<%= (t "medium-feminin") %>',10:'<%= (t "large-feminin") %>'}[mobile_card_size] : "&nbsp;" }}</dd> 
        </dl>
    </div>
    <div class="col-md-4">
        <h5><%= t 'notes' %></h5>
        <dl class="dl-airy">
            <dt><%= t "item-notes-for-organizers" %></dt><dd>{{= item_notes ? item_notes : '<span class="minor-text"><%= t "no-notes-provided" %></span>' }}</dd>
            <dt><%= t "item-notes-for-participants" %></dt><dd>{{= participant_notes ? participant_notes : '<span class="minor-text"><%= t "no-notes-provided" %></span>' }}</dd>
        </dl>
    </div>    
    </div>
</script>

<script type="text/template" id="program-participants-view-template">
    {{ if (typeof id != 'undefined') { }}
    <div class="clearfix">
        <div class="row">
            <div class="col-md-12">
                <div class="caption" class="pull-left">
                    <button class="add-people-button btn btn-primary btn-xs pull-right">
                        <%= t 'add-people' %>
                    </button>
                </div>
            </div>
        </div>
        <!-- List of participants etc. -->
        <div class="row">
            <div class="col-md-3">
                <h5><%= t "moderator(s)" %></h5>
                <ul class="list-group">
                {{ _.each(moderators, function(person) { }}
                    <li class="list-group-item">
                        {{ if (person.pseudonym) { }}
                            {{= person.pseudonym.prefix }} {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                            ({{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                        {{ } else { }}
                            {{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                        {{ } }}
                    </li>
                {{ }); }}
                </ul>
            </div>    
            <div class="col-md-3">
                <h5><%= t "participants" %></h5>
                <ul class="list-group">
                {{ _.each(participants, function(person) { }}
                    <li class="list-group-item">
                        {{ if (person.pseudonym) { }}
                            {{= person.pseudonym.prefix }} {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                            ({{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                        {{ } else { }}
                            {{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                        {{ } }}
                    </li>
                {{ }); }}
                </ul>
            </div>
            <div class="col-md-3">
                <h5><%= t "reserved" %></h5>
                <ul class="list-group">
                {{ _.each(reserves, function(person) { }}
                    <li class="list-group-item">
                        {{ if (person.pseudonym) { }}
                            {{= person.pseudonym.prefix }} {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                            ({{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                        {{ } else { }}
                            {{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                        {{ } }}
                    </li>
                {{ }); }}
                </ul>
            </div>
            <div class="col-md-3">
                <h5><%= t "invisible" %></h5>
                <ul class="list-group">
                {{ _.each(invisibles, function(person) { }}
                    <li class="list-group-item">
                        {{ if (person.pseudonym) { }}
                            {{= person.pseudonym.prefix }} {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                            ({{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                        {{ } else { }}
                            {{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                        {{ } }}
                    </li>
                {{ }); }}
                </ul>
            </div>
        </div>
    </div>
    {{ }; }}    
</script>

<script type="text/template" id="equipment-control-template">
<div>
    <button class="add-model-button btn btn-xs btn-primary pull-right boffset10">
        <%= t "add-equipment" %>
    </button>
</div>
</script>

<script type="text/template" id="equipment-detail-template">
<div class="col-xs-12 clearfix" style="padding-left:0px; padding-right: 0px;">
    <div class="thumbnail clearfix">
        <div class="caption" class="pull-left">
            <button class="model-delete-button btn btn-primary btn-xs pull-right">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
            <button class="model-edit-button btn btn-primary btn-xs pull-right">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
            {{= equipment_type_name ? equipment_type_name : "&nbsp;"}}
        </div>
    </div>
</div>
</script>

<script type="text/template" id="tag-context-layout-template">
<div class="thumbnail clearfix">
    <button class="model-add-tag-button btn btn-primary btn-xs pull-right" tagcontext="{{= context }}">
        <%= t "add" %>
    </button>
    <span class="label label-default">{{= context }}</span>
    {{ _.each(tags, function(tag) { }}
    <span class="label label-info">{{= tag }} <a href="{{= '/tags/' + obj_id + '/remove?class=ProgrammeItem&context=' + context + '&tag=' + tag }}" class="tag-remove-link"><i class="glyphicon glyphicon-remove"></i></a></span>
    {{ }); }}
</div>
</script>

<script type="text/template" id="tag-cloud-context-layout-template">
<div class="panel-group" id="item-tag-cloud-parent">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title tag-panel-title"> 
                <a data-toggle="collapse" data-parent="#item-tag-cloud-parent" href="#{{= context }}">{{= context }}</a>
            </h5>
        </div>
        <div id="{{= context }}" class="panel-collapse collapse">
            <div class="panel-body">
                {{ _.each(tags, function(tag) { }}
                <span class="label label-info select-tag-button" tagcontext="{{= context}}" tagname="{{= tag.name}}">{{= tag.name }} {{= tag.count }}</span>
                {{ }); }}
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="item-filters-template">
    <span class="label label-info remove-filter-button filter-remove-button" tagcontext="{{= context}}" tagname="{{= name }}">{{= name }}<i class="glyphicon glyphicon-remove"></i></span>
</script>

<script type="text/template" id="item-images-template">
    <% if ConfigService.hasCloudinaryConfig? %>
    {{ if (typeof id != 'undefined') { }}
    <div class="boffset10">
        {{ var image = _.find(external_images, function(im) { return im['use'] == 'largecard' }); }}
        {{ if (typeof image != 'undefined') { }}
            <image src="{{= image.picture.large_card.url }}"></image>
            <button class="large-image-edit-button btn btn-primary btn-xs">
                <%= t "edit-large-card-image" %>
            </button>
        {{ } else { }}
            <button class="large-image-create-button btn btn-primary btn-xs">
                <%= t "add-large-card-image" %>
            </button>
        {{ } }}
    </div>
    <div>
        {{ var image = _.find(external_images, function(im) { return im['use'] == 'mediumcard' }); }}
        {{ if (typeof image != 'undefined') { }}
            <image src="{{= image.picture.medium_card.url }}"></image>
            <button class="medium-image-edit-button btn btn-primary btn-xs">
                <%= t "edit-medium-card-image" %>
            </button>
        {{ } else { }}
            <button class="medium-image-create-button btn btn-primary btn-xs">
                <%= t "add-medium-card-image" %>
            </button>
        {{ } }}
    </div>
    {{ }; }}    
    <% else %>
        <%= t 'cloudinary-not-configured' %>
    <% end %>
</script>


