
<script type="text/template" id="grid-day-control-view-template">
    <div class="btn-group" style="margin-left: -15px; margin-bottom: 10px;">
        <button class="btn btn-default prev-day"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button class="btn btn-default day">{{= moment("<%= Time.zone.parse(SITE_CONFIG[:conference][:start_date]) %>").add('days', currentDay).format("dddd") }}</button>
        <button class="btn btn-default next-day"><i class="glyphicon glyphicon-chevron-right"></i></button>
    </div>
</script>

<script type="text/template" id="grid-view-template"> <!-- This is the calendar view for scheduling conflicts and moving things around -->
    <div id="program-grid"></div>
</script>

<script type="text/template" id="conflict-layout-template">
    <section>
<div style="height : 370px; overflow : auto; margin-left: -15px;" class="collapse-group" id="conflicts-section"> <!-- TODO - move this to the style sheet -->
<div class="panel-group" id="conflicts-parent">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#conflicts-parent" href="#schedule-conflicts"><%= t 'scheduling-conflicts' %></a>
            </h5>
        </div>
        <div class="panel-collapse collapse" id="schedule-conflicts">
            <div class="panel-body">
                <div id="schedule-region-div"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#conflicts-parent" href="#room-conflicts"><%= t 'room-conflicts' %></a>
            </h5>
        </div>
        <div class="panel-collapse collapse" id="room-conflicts">
            <div class="panel-body">
                <div id="room-region-div"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#conflicts-parent" href="#excluded-item-conflicts"><%= t 'item-conflicts' %></a>
            </h5>
        </div>
        <div class="panel-collapse collapse" id="excluded-item-conflicts">
            <div class="panel-body">
                <div id="excluded-item-region-div"></div>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#conflicts-parent" href="#excluded-time-conflicts"><%= t 'time-constraints-conflicts' %></a>
            </h5>
        </div>
        <div class="panel-collapse collapse" id="excluded-time-conflicts">
            <div class="panel-body">
                <div id="excluded-time-region-div"></div>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#conflicts-parent" href="#availability-conflicts"><%= t 'available-time-conflicts' %></a>
            </h5>
        </div>
        <div class="panel-collapse collapse" id="availability-conflicts">
            <div class="panel-body">
                <div id="availability-region-div"></div>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#conflicts-parent" href="#back-to-back-conflicts"><%= t 'back-to-back-warnings' %></a>
            </h5>
        </div>
        <div class="panel-collapse collapse" id="back-to-back-conflicts">
            <div class="panel-body">
                <div id="back-to-back-region-div"></div>
            </div>
        </div>
    </div>
</div>
</div>        
    </section>
</script>

<script type="text/template" id="schedule-view-template">
    <div class="thumbnail clearfix">
        <small class='conflict'>
            <b>{{= person_name }}</b> <%= t "has a conflict" %> <br/>
            {{= room_name}}: <b>{{= item_title }}</b> ({{= item_role}}) <%= t "at" %> {{= moment(item_start).format("h:mma dddd") }} <br/>
            <%=t "with" %> {{= conflict_room_name}}: <b>{{= conflict_item_title }}</b> ({{= conflict_item_role}}) <%= t "at" %> {{= moment(conflict_start).format("h:mma dddd")}}
        </small>
    </div>
</script>
<script type="text/template" id="room-view-template">
    <div class="thumbnail clearfix">
        <small class='conflict'>
            <%= t "Room" %> <b>{{= room_name}}</b> <%= t "at" %> {{= moment(item_start).format("h:mma dddd") }} <br/>
            <i>{{= item_title }}</i> <%= t "conflicts with" %>
            <i>{{= conflict_item_title }}</i> 
        </small>
    </div>
</script>
<script type="text/template" id="excluded-item-view-template">
    <div class="thumbnail clearfix">
        <small class='conflict'>
            <b>{{= person_name }}</b> ({{= item_role}}) <%= t "has a conflict" %> <br/>
            <%= t "do-not-schedule-against" %> <i>{{= conflict_item_title }}</i><br/>
            <%= t "conflicts with" %> <i>{{= item_title }}</i> 
            <%= t "at" %> {{= moment(item_start).format("h:mma dddd") }}
        </small>
    </div>
</script>
<script type="text/template" id="excluded-time-view-template">
    <div class="thumbnail clearfix">
        <small class='conflict'>
            <b>{{= person_name }}</b> ({{= item_role}}) <%= t "has a conflict" %> <br/>
            <%= t "do-not-schedule-between" %> <b>{{= moment(period_start).format("h:mma dddd") }}</b> <%= t "to" %> <b>{{= moment(period_end).format("h:mma dddd") }}</b><br/>
            <%= t "conflicts with" %> <i>{{= item_title }}</i>
            <%= t "at" %> <b>{{= moment(item_start).format("h:mma dddd") }}</b>
        </small>
    </div>
</script>
<script type="text/template" id="availability-view-template">
    <div class="thumbnail clearfix">
        <small class='conflict'>
            <b>{{= person_name }}</b> ({{= item_role}}) <%= t "has a conflict" %> <br/>
            <%= t "only available between:" %> <b>{{= moment(period_start).format("h:mma dddd") }}</b> <%= t "to" %> <b>{{= moment(period_end).format("h:mma dddd") }}</b><br/>
            <%= t "conflicts with" %> <i>{{= item_title }}</i>
            <%= t "at" %> <b>{{= moment(item_start).format("h:mma dddd") }}</b>
        </small>
    </div>
</script>
<script type="text/template" id="back-to-back-view-template">
    <div class="thumbnail clearfix">
        <small class='conflict'>
            <b>{{= person_name }}</b> <%= t "has a back-to-back" %> <br/>
            {{= room_name}}: <b>{{= item_title }}</b> ({{= item_role}}) <%= t "at" %> {{= moment(item_start).format("h:mma dddd") }} <%= t "precedes-conflict" %>
             {{= conflict_room_name}}: <b>{{= conflict_item_title }}</b> ({{= conflict_item_role}}) <%= t "at" %> {{= moment(conflict_start).format("h:mma dddd")}}
        </small>
    </div>
</script>
