
<script type="text/template" id="grid-day-control-view-template">
    <div class="btn-group" style="margin-left: -15px; margin-bottom: 10px;">
        <button class="btn btn-default prev-day"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button class="btn btn-default day">{{= moment("<%= Time.zone.parse(@start_date.start_date.to_s).strftime('%F %T') %>").add('days', currentDay).format("dddd, D MMM YYYY") }}</button>
        <button class="btn btn-default next-day"><i class="glyphicon glyphicon-chevron-right"></i></button>
    </div>
    <button class="btn btn-default menu-link" style="margin-bottom: 10px;"><i class="glyphicon glyphicon-filter"></i><%= t "filter-rooms" %></button>
</script>

<script type="text/template" id="room-filter-item-template">
    <div class="col-xs-6">
    </input><label>{{= name }}</label><input type="checkbox" value="{{= id}}" class="room-select pull-right"></input>
    </div>
</script>
    
<script type="text/template" id="room-filter-menu-template">
    <div class="col-xs-12">
        <button class="btn btn-default apply-filter pull-right"><%= t "apply-filter" %></button>
    </div>
    <div id="item-filters"></div>
</script>

<script type="text/template" id="grid-view-template"> <!-- This is the calendar view for scheduling conflicts and moving things around -->
    <div id="program-grid"></div>
</script>

<script type="text/template" id="conflict-layout-template">
    <section>
<div style="height : 370px; overflow : auto; margin-left: -15px;" class="collapse-group" id="conflicts-section"> <!-- TODO - move this to the style sheet -->
<div class="panel-group" id="conflicts-parent">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#conflicts-parent" href="#schedule-conflicts"><%= t 'scheduling-conflicts' %></a>
            </h5>
        </div>
        <div class="panel-collapse collapse" id="schedule-conflicts">
            <div class="panel-body">
                <div id="schedule-region-div"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#conflicts-parent" href="#room-conflicts"><%= t 'room-conflicts' %></a>
            </h5>
        </div>
        <div class="panel-collapse collapse" id="room-conflicts">
            <div class="panel-body">
                <div id="room-region-div"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#conflicts-parent" href="#excluded-item-conflicts"><%= t 'item-conflicts' %></a>
            </h5>
        </div>
        <div class="panel-collapse collapse" id="excluded-item-conflicts">
            <div class="panel-body">
                <div id="excluded-item-region-div"></div>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#conflicts-parent" href="#excluded-time-conflicts"><%= t 'time-constraints-conflicts' %></a>
            </h5>
        </div>
        <div class="panel-collapse collapse" id="excluded-time-conflicts">
            <div class="panel-body">
                <div id="excluded-time-region-div"></div>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#conflicts-parent" href="#availability-conflicts"><%= t 'available-time-conflicts' %></a>
            </h5>
        </div>
        <div class="panel-collapse collapse" id="availability-conflicts">
            <div class="panel-body">
                <div id="availability-region-div"></div>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#conflicts-parent" href="#back-to-back-conflicts"><%= t 'back-to-back-warnings' %></a>
            </h5>
        </div>
        <div class="panel-collapse collapse" id="back-to-back-conflicts">
            <div class="panel-body">
                <div id="back-to-back-region-div"></div>
            </div>
        </div>
    </div>
</div>
</div>        
    </section>
</script>

