<div class='row'>
    <div class='col-md-12'>
        <h2 class="text-center"><%= t 'forgot-your-password' %></h2>
    </div>
</div>
<div class='row'>
    <div id="login-form">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>
            <div id="forgot-passw-rd-message">
                <p><%= t 'forgot-your-password-text' %></p>
            </div>
            <div class="form-group">
                <%= f.label t 'email', class: "control-label" %>
                <div>
                    <%= f.text_field :email, class: "form-control", tabindex: "1", autofocus: "autofocus", autocorrect: "off", autocapitalize: "off" %>
                </div>
            </div>
            <div class="form-group">
                <%= f.submit (t "send-reset-password-instructions"), class: "btn btn-primary", tabindex: "4" %>
            </div>
            <div class="voffset20 boffset80" id="login-form-text-helpers">
                <%= link_to (t "proceed-to-login"), new_session_path(resource_name) %><br />
            </div>
            
        <% end %>
    </div>
</div>
