
<script type="text/template" id="survey-list-layout-template">
    <div class="row">
        <div class="col-xs-1">
            <span class="label label-default"><%= t 'surveys' %></span>
        </div>
        <div class="col-xs-11">
            <div id="survey-control-div"></div>
        </div>
    </div>
    <div class="row">
        <div id="survey-region-div" class="col-xs-12"></div>
    </div>
</script>

<script type="text/template" id="survey-template">
    <td>
        <a href="#survey-tab" data-toggle="tab" class="model-select-button">{{= name}}</a>
    </td>
    <td>
        <button class="model-preview-button btn btn-xs"><i class="glyphicon glyphicon-eye-open"></i></button>
    </td>
    <td>
        <button class="model-drill-down-button btn btn-xs"><i class="glyphicon glyphicon-arrow-right"></i></button>
    </td>
    <td>
        <button class="model-delete-button btn btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
    </td>
</script>

<script type="text/template" id="survey-control-template">
    <button class="add-model-button btn-xs btn-primary pull-right">
        <%= t 'add-survey' %>
    </button>
</script>

<script type="text/template" id="survey-data-template">
    <dl class="dl-horizontal">
        <dt><%= t "name" %></dt><dd>{{= name ? name : "&nbsp;" }}</dd>
        <dt><%= t "survey-alias" %></dt><dd>{{= alias ? alias : "&nbsp;"}}</dd>
        <dt><%= t "survey-public" %></dt><dd>{{= public ? 'Yes' : 'No' }}</dd>
        <dt><%= t "survey-authenticate" %></dt><dd>{{= authenticate ? 'Yes' : 'No' }}</dd>
        <dt><%= t "survey-use-captcha" %></dt><dd>{{= use_captcha ? 'Yes' : 'No' }}</dd>
        {{ if (authenticate) { }}
        <dt><%= t "survey-authentication-intro" %></dt><dd>{{= authenticate_msg ? authenticate_msg : "&nbsp;"}}</dd>
        {{ } }}
        <dt><%= t "survey-welcome-message" %></dt><dd>{{= welcome ? welcome : "&nbsp;"}}</dd>
        <dt><%= t "survey-thank-you-message" %></dt><dd>{{= thank_you ? thank_you : "&nbsp;"}}</dd>
        {{ if (authenticate) { }}
        <dt><%= t "survey-declined-message" %></dt><dd>{{= declined_msg ? declined_msg : "&nbsp;"}}</dd>
        {{ } }}
        <dt><%= t "survey-submit-string" %></dt><dd>{{= submit_string ? submit_string : "&nbsp;"}}</dd>
        <dt><%= t "survey-url-for-header-image" %></dt><dd>{{= header_image ? header_image : "&nbsp;"}}</dd>
        {{ if (authenticate) { }}
        <dt><%= t "acceptance-status-on-submit-to" %></dt><dd>{{= accept_status_name }}</dd> 
        <dt><%= t "acceptance-status-on-decline-to" %></dt><dd>{{= decline_status_name }}</dd> 
        {{ } }}
    </dl>
</script>
