<%= render_cell "admin/configs", :javascript %>
<%= render_cell "admin/configs", :templates %>

<div class="row">
    <div class="col-xs-4">
        <div class="gr-sidebar" role="complementary">
            <ul class="gr-sidenav nav nav-pills nav-stacked">
                <% if allowed? :manage_config %>
                    <li>
                        <a href="#invitation_category_config"><%= t "config-invitation-categories" %></a>
                    </li>
                    <li>
                        <a href="#tag_context_config"><%= t "config-tag-contexts" %></a>
                    </li>
                    <li>
                        <a href="#conference_config"><%= t "config-conference" %></a>
                    </li>
                    <% @extra_config_menu.each do |extra| %>
                        <%= render extra %>
                    <% end %>
                <% end %>
            </ul>
        </div>
    </div>
    <div class="col-xs-8">
        <div id='config-area'></div>
    </div>
</div>
