<%= render_cell "admin/configs", :javascript %>
<%= render_cell "admin/configs", :templates %>

<div class="row">
    <div class="col-xs-3">
        <div>
            <ul class="nav nav-list pretty-nav-list">
                <li class="li-menu-header">
                  <i class="fa fa-cog fa-lg" aria-hidden="true"></i> &nbsp;<%= (t "event-settings").upcase %>
                </li>
                <% if allowed? :manage_config %>
                    <li>
                        <a href="#invitation_category_config"><%= t "config-invitation-categories" %><i class="fa fa-chevron-right pull-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#tag_context_config"><%= t "config-tag-contexts" %><i class="fa fa-chevron-right pull-right" aria-hidden="true"></i></a>
                    </li>
                    <li style="<%= FeatureService.has?('multicon') ? 'display: none;' : '' %>">
                        <a href="#conference_config"><%= t "config-conference" %><i class="fa fa-chevron-right pull-right" aria-hidden="true"></i></a>
                    </li>
                    <% @extra_config_menu.each do |extra| %>
                        <%= render extra %>
                    <% end %>
                <% end %>
            </ul>
        </div>
    </div>
    <div class="col-xs-9">
        <div id='config-area'></div>
    </div>
</div>
