<% @extra_template.each do |extra| %>
    <%= render extra %>
<% end %>

<script type="text/template" id="invite-category-template">
    <td>
        <a href="#item-format-tab" data-toggle="tab" class="model-select-button">{{= name }}</a>
    </td>
    <td>
        {{= position}}
    </td>
    <td>
        <button class="model-edit-button btn btn-small"><i class="glyphicon glyphicon-pencil"></i></button>
    </td>
    <td>
        <button class="model-delete-button btn btn-small"><i class="glyphicon glyphicon-trash"></i></button>
    </td>
</script>

<script type="text/template" id="invite-category-control-template">
    <button class="add-model-button btn btn-small btn-primary pull-right">
        <%= t 'add-invitation-category' %>
    </button>
</script>

<script type="text/template" id="config-title-template">
    <span class="label label-default">{{= title }}</span>
</script>

<script type="text/template" id="config-list-layout-template">
    <div class="row">
        <div class="col-xs-1">
            <div id="config-title-div"></div>
        </div>
        <div class="col-xs-11">
            <div id="config-control-div"></div>
        </div>
    </div>
    <div class="row">
        <div id="config-region-div" class="col-xs-12"></div>
    </div>
</script>

<script type="text/template" id="tag-context-control-template">
    <button class="add-model-button btn btn-sm btn-primary pull-right">
        <%= t 'add-tag-context' %>
    </button>
</script>

<script type="text/template" id="tag-context-template">
    <td>
        <a href="#item-format-tab" data-toggle="tab" class="model-select-button">{{= name }}</a>
    </td>
    <td>
        <button class="model-edit-button btn btn-xs"><i class="glyphicon glyphicon-pencil"></i></button>
    </td>
    <td>
        <button class="model-delete-button btn btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
    </td>
</script>

<script type="text/template" id="site-config-view-template">
    <dl class="dl-horizontal">
        {{ if (typeof id != 'undefined') { }}
        <dt><%= t "conference-name" %></dt><dd>{{= name }}</dd>
        <dt><%= t "conference-time-zone" %></dt><dd>{{= time_zone }}</dd>
        <dt><%= t "conference-start-date" %></dt><dd>{{= start_date }}</dd>
        <dt><%= t "number-of-days" %></dt><dd>{{= number_of_days }}</dd>
        <dt><%= t "time-format-for-publications" %></dt><dd>{{= print_time_format }}</dd>
        {{ } else{ }}
        NO CONFIG
        {{ } }}
    </dl>
</script>

<script type="text/template" id="item-format-template">
    <td>
        <a href="#item-format-tab" data-toggle="tab" class="model-select-button">{{= name }}</a>
    </td>
    <td>
        {{= position}}
    </td>
    <td>
        <button class="model-edit-button btn btn-sm"><i class="glyphicon glyphicon-pencil"></i></button>
    </td>
    <td>
        <button class="model-delete-button btn btn-sm"><i class="glyphicon glyphicon-trash"></i></button>
    </td>
</script>

<script type="text/template" id="item-format-control-template">
    <button class="add-model-button btn btn-sm btn-primary pull-right">
        <%= t 'add-item-format' %>
    </button>
</script>
