<br/>
<h1> Edit a format</h1>
<%= error_messages_for :formats %>
<% form_for @format do |f| -%>
	<p>
		<%= f.label :name, "Name " %> <br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :position, "Menu Order " %> <br>
		<%= f.text_field :position %>
	</p>
	<p>
		<%= f.submit "Submit" %>
	</p>
<% end %>

