
<%= render_cell "reports/manage", :javascript %>
<%= render_cell "reports/manage", :templates %>

<div class="row">
            <h3 class="h3-underlined" style="margin-top: 0px;"><span class="glyphicon glyphicon-stats"></span> <%= t "reports" %>
            <div class="dropdown" role="complementary" style="display:inline-block;">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        <%= t "Choose a Report" %>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li>
                        <a href="#edited_bios"><%= t "reports-participant-bios" %></a>
                    </li>
                    <li>
                        <a href="#item_word_counts"><%= t "reports-item-word-counts" %></a>
                    </li>
                    <li>
                        <a href="#people_by_tags"><%= t "report-people-by-tags" %></a>
                    </li>
                    <li>
                        <a href="#tags_by_context"><%= t "report-tags-by-context" %></a>
                    </li>
                    <li>
                        <a href="#people_item_allocation"><%= t "report-people-item-allocation" %></a>
                    </li>
                    <li>
                        <a href="#people_with_too_many_items"><%= t "report-people-overused" %></a>
                    </li>
                    <li>
                        <a href="#panelists_with_panels"><%= t "report-participants-with-items" %></a> <!-- TODO: CHANGE THE NAME -->
                    </li>
                    <li>
                        <a href="#panelists_without_bios"><%= t "report-participants-with-no-bios" %></a> 
                    </li>
                    <li>
                        <a href="#people_without_items"><%= t "report-people-without-items" %></a>
                    </li>
                    <li>
                        <a href="#scheduling_conflicts"><%= t "report-scheduling-conflicts" %></a>
                    </li>
                    <li>
                        <a href="#panels_with_panelists"><%= t "report-items-with-participants" %></a>
                    </li>
                    <li>
                        <a href="#panels_with_no_moderator"><%= t "report-items-without-moderator" %></a>
                    </li>
                    <li>
                        <a href="#panels_with_one_person"><%= t "report-items-with-one-person" %></a>
                    </li>
                    <li>
                        <a href="#panels_by_room"><%= t "reports-items-by-room" %></a>
                    </li>
                    <li>
                        <a href="#panels_by_timeslot"><%= t "reports-items-by-time-slot" %></a>
                    </li>
                    <li>
                        <a href="#capacity_report"><%= t "reports-items-over-capacity" %></a>
                    </li>
                    <li>
                        <a href="#equipment_needs"><%= t "reports-items-with-equipment-needs" %></a>
                    </li>
                </ul>
            </div>
            </h3>

        <div id='report-form-area'></div>
        <br>
        <div id='report-results-area'></div>

</div>
