
<%= render_cell "participants/participant_details", :templates %>

<%= render_cell "participants/participant_list", :javascript, 
    :caption => "participants",
    :pager => "participants-pager",
    :selectNotifyMethod => "ParticipantApp.PeopleManagement.showDetails",
    :clearNotifyMethod => "ParticipantApp.PeopleManagement.clearDetails",
    :includeMailHistory => true,
    :modelType => "ParticipantApp.PeopleManagement.InviteDetails",
    :modelTemplate => "#person-form-template",
    :showControls => true
    %>
<%= render_cell "participants/participant_details", :javascript %>

<div class="row" id="top-participants-row">
    <div class="col-md-9 left-jqgrid" id="participant-detail-div"  style="margin-bottom: 35px;">
        <div id="participant-filters" class="top-tag-filters"></div>
        <%= render_cell "participants/participant_list", :display,
            :pager => "participants-pager"
         %>
         <h3 id="selected-participant"></h3>
         <%= render_cell "participants/participant_details", :display %>
    </div>
    <div id="right-panel-action-group" class="col-md-3 col-fixed-large hidden-sm hidden-xs" >    
        <button type="button" id="collapseButton" class="btn btn-default btn-sm pull-right">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        <button type="button" id="expandButton" style="display: none;" class="btn btn-default btn-sm pull-right">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>          
        <div id="right-bar-action-group" class="right-bar-action-group">
            <% @extra_menu_display.each do |extra| %>
                <%= render extra %>
            <% end %>
            <h5><%= t "import-and-export" %></h5>
            <span class="glyphicon glyphicon-import"></span> <a href="<%= baseUri + '/pages/participants_dash/import' %>"><%= t "import-people" %></a><br>
            <span class="glyphicon glyphicon-inbox"></span> <a href="<%= baseUri + '/pages/participants_dash/review_import' %>"><%= t "review-pending-import" %></a><br>
            <span class="glyphicon glyphicon-export"></span> <a href="<%= baseUri + '/pages/participants_dash/export' %>"><%= t "export-people" %></a>
            <h5><%= t "surveys" %></h5>
            <span class="glyphicon glyphicon-comment"></span> <a href="<%= baseUri + '/pages/participants_dash/survey_review' %>"><%= t "review-surveys" %></a>            
            <h5><%= t "filter-by-email" %></h5>
            <div class="form-horizontal">
                <div class="input-group" id="email-filter-input-group">
                    <span class="input-group-btn" style="max-width: 35px;">
                        <button class="btn btn-default" id="clear-email-filters"><i class="fa fa-times"></i></button>
                    </span>
                    <input id="email-filters" type="text" class="form-control"></input>
                    <span class="input-group-btn" >
                        <button class="btn btn-default" style="max-width: 38px;"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
            <h5><%= t "filter-by-tag" %></h5>
            <div class='collapse-group tag-cloud-area' id='tag-cloud-area'>
                <div id="participant-tag-cloud" class="collapse in"></div>
            </div>
        </div>
    </div>
</div>
