<!--
-->

<%= render_cell "participants/participant_details", :templates %>

<%= render_cell "participants/participant_list", :javascript, 
    :caption => "Participants",
    :pager => "participants-pager",
    :selectNotifyMethod => "ParticipantApp.PeopleManagement.showDetails",
    :clearNotifyMethod => "ParticipantApp.PeopleManagement.clearDetails",
    
    :modelType => "ParticipantApp.PeopleManagement.InviteDetails",
    :showControls => true
    %>
<%= render_cell "participants/participant_details", :javascript %>

<div class="row">
    <div class="col-xs-9">
        <div id="participant-filters"></div> <!-- TODO -->
        <%= render_cell "participants/participant_list", :display,
            :pager => "participants-pager"
         %>
    </div>
    <div class="col-xs-3 well" >
        <div class='collapse-group tag-cloud-area' style="height : 370px; overflow : auto;"> <!-- TODO - move this to the style sheet -->
        <div id="participant-tag-cloud" class="collapse in"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 well">
        <div class="well well-sm"><h4 id='selected-participant'></h4></div>
        <%= render_cell "participants/participant_details", :display %>
    </div>
</div>
