<!--
-->

<%= render_cell "participants/participant_details", :templates %>

<%= render_cell "participants/participant_list", :javascript, 
    :caption => "participants",
    :pager => "participants-pager",
    :selectNotifyMethod => "ParticipantApp.PeopleManagement.showDetails",
    :clearNotifyMethod => "ParticipantApp.PeopleManagement.clearDetails",
    
    :modelType => "ParticipantApp.PeopleManagement.InviteDetails",
    :modelTemplate => "#person-form-template",
    :showControls => true
    %>
<%= render_cell "participants/participant_details", :javascript %>

<div class="row">
    <div class="col-xs-9 left-jqgrid">
        <div id="participant-filters"></div> <!-- TODO -->
        <%= render_cell "participants/participant_list", :display,
            :pager => "participants-pager"
         %>
    </div>
    <div class="col-xs-3 well" >
        <div class='collapse-group tag-cloud-area' style="height : 325px; overflow : auto;"> <!-- TODO - move this to the style sheet -->
        <div id="participant-tag-cloud" class="collapse in"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 well">
        <h4 id='selected-participant' style="margin-top: 0px; padding-top: 0px;"></h4>
        <%= render_cell "participants/participant_details", :display %>
    </div>
</div>
