<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Untitled Document</title>
	</head>
    <body>
        <p>Find me in app/views/events/create.html.erb</p>

        <% form_for :event, :url =>{:action =>:create} do |f| -%>

            <p>
                <%= f.label :title, "Title" %> <br>
                <%= f.text_field :title %>
            </p>
            <p>
                <%= f.label :precis, "Precis" %> <br>
                <%= f.text_field :precis %>
            </p>
            <p>
                <%= f.label :duration, "Duration" %> <br>
                <%= f.text_field :duration %>
            </p>
 
            <p>
                <%= f.submit "Submit" %>
            </p>
  
            <hr>
                <%= debug(params) %>

        <% end %>
    </body>
</html>
