<script type="text/javascript">
$(function() {
    $('.percentage').easyPieChart({
        lineWidth : 20,
        size :150,
        scaleColor: false,
        lineCap: 'butt',
        trackColor: '#999',
        barColor: function(percent) {
                        percent /= 100;
                        return "rgb(" + Math.round(255 * (1-percent)) + ", " + Math.round(255 * percent) + ", 0)";
                    },
                    
    });
    $('.percentage-inv').easyPieChart({
        lineWidth : 20,
        size : 150,
        scaleColor: '#ccc',
        lineCap: 'butt',
        trackColor: '#999',
        /* barColor: function(percent) {
                        percent /= 100;
                        return "rgb(" + Math.round(255 * percent) + ", " + Math.round(255 * (1-percent)) + ", 0)";
                   }, */
        barColor: '#c01f3f',          
    });
});
</script>
<div class="col-md-6">
	<div class="well">
		<div class="well well-sm"><%= t 'prog-items' %></div>
		<div class='chart-row'>
		<div class="chart">
			<div class="percentage" data-percent="<%= (@nbrOfScheduledItems.to_f / @nbrOfItems.to_f) * 100 %>"><%= ((@nbrOfScheduledItems.to_f / @nbrOfItems.to_f) * 100).round 1 %>%</div>
			<div class="chart-label"><%= t 'prog-items-scheduled' %></div>
		</div>
		&nbsp;
		<div class="chart">
		<div class="percentage-inv" data-percent="<%= (@nbrOfConflicts.to_f / @nbrOfItems.to_f) * 100 %>"><%= ((@nbrOfConflicts.to_f / @nbrOfItems.to_f) * 100).round 1 %>%</div>
		<div class="chart-label"><%= t 'prog-items-conflicts' %></div>
		</div>
		</div>
		<div><%= @nbrOfItems %> items</div>
	</div>
</div>
<div class="col-md-6">
	<div class="well">
		<div class="well well-sm"><%= t 'participants' %></div>
		<p><em>xxx</em> invited</p>
		<p><em>xxx</em> accepted</p>
		<p><em>xxx</em> yet to answer</p>
	</div>
</div>
