<script type="text/javascript">
$(function() {
    $('.percentage').easyPieChart({
        lineWidth : 20,
        size :150,
        scaleColor: false,
        lineCap: 'butt',
        trackColor: '#999',
        barColor: function(percent) {
                        percent /= 100;
                        return "rgb(" + Math.round(255 * (1-percent)) + ", " + Math.round(255 * percent) + ", 0)";
                    },
                    
    });
    $('.percentage-inv').easyPieChart({
        lineWidth : 20,
        size : 150,
        scaleColor: '#ccc',
        lineCap: 'butt',
        trackColor: '#999',
        /* barColor: function(percent) {
                        percent /= 100;
                        return "rgb(" + Math.round(255 * percent) + ", " + Math.round(255 * (1-percent)) + ", 0)";
                   }, */
        barColor: '#c01f3f',          
    });
});
</script>

<div class="col-md-4">
    <div id="overview" class="panel panel-default">
        <div class="panel-heading"><%= t 'overview' %></div>
        <div class="panel-body">
            <p><a href="<%= baseUri + '/pages/venues_dash/manage' %>">Venues</a></p>
            <p><a href="<%= baseUri + '/pages/participants_dash/manage' %>">Participants</a></p>
            <p><a href="<%= baseUri + '/pages/items_dash/manage' %>">Program Items</a></p>
            <p><a href="<%= baseUri + '/pages/surveys_dash/manage' %>">Surveys</a></p>
            <p><a href="<%= baseUri + '/pages/communications_dash/manage' %>">Communications</a></p>
            <!-- TODO Split into multi
            <p><a href="#">Documents</a></p>
            <p><a href="#">Tasks</a></p>
            <p><a href="#">Costs</a></p>
            -->
        </div>
    </div>
    <div id="program-items-charts" class="panel panel-default">
        <div class="panel-heading"><%= t 'prog-items' %></div>
            <div class="panel-body">
        		<div class='chart-row'>
            		<div class="chart">
            			<div class="percentage" data-percent="<%= (@nbrOfScheduledItems.to_f / @nbrOfItems.to_f) * 100 %>"><%= ((@nbrOfScheduledItems.to_f / @nbrOfItems.to_f) * 100).round 1 %>%</div>
            			<div class="chart-label"><%= t 'prog-items-scheduled' %></div>
            		</div>
            		&nbsp;
            		<div class="chart">
                		<div class="percentage-inv" data-percent="<%= (@nbrOfConflicts.to_f / @nbrOfItems.to_f) * 100 %>"><%= ((@nbrOfConflicts.to_f / @nbrOfItems.to_f) * 100).round 1 %>%</div>
                		<div class="chart-label"><%= t 'prog-items-conflicts' %></div>
            		</div>
        		</div>
        		<div><%= @nbrOfItems %> <a href="<%= baseUri + '/pages/items_dash/manage' %>">items</a></div>
                <div><%= @nbrOfConflicts %> <a href="<%= baseUri + '/pages/schedule_dash/manage' %>"><%= t "schedule-conflicts" %></a></div>
            </div>
     </div>
</div>

