<br/>
<h1> Edit an invitation category</h1>
<%= render "shared/error_messages", :target => @invitationCategory %>
<%= form_for @invitationCategory, :html => {:'accept-charset' => 'UTF-8'} do |f| -%>
	<p>
		<%= f.label :name, "Name " %> <br/>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :position, "Menu Order " %> <br/>
		<%= f.text_field :position %>
	</p>
	<p>
		<%= f.submit "Submit" %>
	</p>
<% end %>
