<div class="row">
    <div class="col-sm-12">
        <label class="question">
            <% if question.mandatory %>
                <span class='' style='color: red;'>*</span>
            <% end %>
            <%= question.question.html_safe %>
            <% if question.survey_format.help && !question.survey_format.help.blank? %>
                <i class="glyphicon glyphicon-info-sign bpopover" data-placement="top" data-toggle="popover" data-content="<%= question.survey_format.help %>"></i>
            <% end %>
        </label>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group <%='error' if @errors && @errors[question.id] %>">
            <label class="col-sm-3 control-label">
                <%= question.question.html_safe %>
            </label>
            <div class="col-sm-9">
                <%= text_field_tag "survey_response[#{ question.id }][response]", "#{@survey_response && @survey_response[question.id.to_s] ? @survey_response[question.id.to_s]['response'] : ''}",
                 :size => 100, :class => 'col-xs-9 form-control' %>
                <% if @errors && @errors[question.id] %>
                    <span class="help-inline"><%=@errors[question.id][question.question]%></span>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group <%='error' if @errors && @errors[question.id] %>">
            <label class="control-label col-sm-3">
                <%= question.question1.html_safe %>
            </label>
            <div class="col-sm-9">
            <%= text_field_tag "survey_response[#{ question.id }][response1]", "#{@survey_response && @survey_response[question.id.to_s] ? @survey_response[question.id.to_s]['response1'] : ''}",
             :size => 20, :class => 'col-xs-9 form-control' %>
            <% if @errors && @errors[question.id] %>
                <span class="help-inline"><%=@errors[question.id][question.question1]%></span>
            <% end %>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
    <div class="form-group <%='error' if @errors && @errors[question.id] %>">
        <label class="control-label col-sm-3">
            <%= question.question2.html_safe %>
        </label>
        <div class="col-sm-9">
        <%= text_field_tag "survey_response[#{ question.id }][response2]", "#{@survey_response && @survey_response[question.id.to_s] ? @survey_response[question.id.to_s]['response2'] : ''}",
         :size => 20, :class => 'col-xs-9 form-control' %>
            <% if @errors && @errors[question.id] %>
                <%=@errors[question.id][question.question2]%>
            <% end %>
        </div>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group <%='error' if @errors && @errors[question.id] %>">
            <label class="control-label col-sm-3">
                <%= question.question3.html_safe %>
            </label>
            <div class="col-sm-9">
            <%= text_field_tag "survey_response[#{ question.id }][response3]", "#{@survey_response && @survey_response[question.id.to_s] ? @survey_response[question.id.to_s]['response3'] : ''}",
             :size => 20, :class => 'col-xs-9 form-control' %>
                <% if @errors && @errors[question.id] %>
                    <%=@errors[question.id][question.question2]%>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group <%='error' if @errors && @errors[question.id] %>">
            <label class="control-label col-sm-3">
                <%= question.question4.html_safe %>
            </label>
            <div class="col-sm-9">
            <%= text_field_tag "survey_response[#{ question.id }][response4]", "#{@survey_response && @survey_response[question.id.to_s] ? @survey_response[question.id.to_s]['response4'] : ''}",
             :size => 20, :class => 'col-xs-9 form-control' %>
                <% if @errors && @errors[question.id] %>
                    <%=@errors[question.id][question.question2]%>
                <% end %>
            </div>
        </div>
    </div>
</div>
