<div class="upload_section" data-preview='<%= "survey_response_#{ question.id }_preview" %>'>
    <div class="upload_button_holder">
        <input id='<%= "survey_response[#{ question.id }][photo]" %>' class="form-control" name='<%= "survey_response[#{ question.id }][photo]" %>' type="hidden"
            value="<%= !@survey_response[question.id.to_s]['photo'].blank? ? @survey_response[question.id.to_s]['photo'] : '' %>"
        >
        <span class="btn btn-success fileinput-button">
            <span>Select file...</span>
            <%= cl_image_upload_tag("survey_response[#{ question.id }][photo]") %>
        </span>
        <div class="status-area">
            <span class="status"></span>
            <div class="upload_progress">
                <div class="progress progress-success active"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            </div>
        </div>
    </div>
    <div id='<%= "survey_response_#{ question.id }_preview" %>'>
        <% if @survey_response && @survey_response[question.id.to_s] %>
            <% if !@survey_response[question.id.to_s]['photo'].blank? %>
                <% if  @survey_response[question.id.to_s]['photo'].is_a?(BioPictureUploader) %>
                    <%= image_tag(@survey_response[question.id.to_s]['photo'], :width => 250) %>
                <% elsif @survey_response[question.id.to_s]['photo'].is_a?(String) %>
                    <%= image_tag( get_base_image_url + @survey_response[question.id.to_s]['photo'].sub('image/upload',''), :width => 250) %>
                <% end %>
            <% end %>
        <% end %>
    </div> 
</div>
