<%#
%>

<div class="row row-buffered question-row">
        <div class="<%='error' if @errors && @errors[question.id] %>">
            <!-- LABELS for questions except address and phone -->
            <% if question.question && (question.question.size > 0) && !([:address, :phone].include? question.question_type) %>
                <% if ([:textbox].include? question.question_type) || question.horizontal %>
                    <label class="col-sm-12 question">
                <% else %>
                    <label class="col-sm-12 question">
                    <!-- removing question size for determining label size 
                    <% if (question.text_size && question.text_size < 10) %>
                        <label class="col-sm-6">
                    <% else %>
                        <label class="col-sm-2">
                    <% end %>
                    -->
                <% end %>
                        <% if question.mandatory %>
                            <span class='' style='color: red;'>*</span>
                        <% end %>
                        <%= question.question.html_safe %>
                        <% if question.survey_format.help && !question.survey_format.help.blank? %>
                            <i class="glyphicon glyphicon-info-sign bpopover" data-placement="top" data-toggle="popover" data-content="<%= question.survey_format.help %>"></i>
                        <% end %>
                    </label>
            <% end %>
            <!-- INPUTS for questions except address and phone -->
            <% if question.question && (question.question.size > 0) && !([:address, :phone].include? question.question_type) %>
                <% if ([:textbox].include? question.question_type) || question.horizontal %>
                    <div class="col-sm-12">
                    <% if question.mandatory %>
                        <div class="required-field-block">
                    <% end %>
                <% else %>
                    <% if (question.text_size && question.text_size <= 12 && question.text_size >= 1) %>
                        <div class="col-sm-<%= question.text_size %>">
                    <% elsif (question.text_size && question.text_size = 0) %>
                        <div class="col-sm-6">
                    <% else %>
                        <div class="col-sm-12">
                    <% end %>
                    <% if ([:textfield].include? question.question_type) %>
                        <% if question.mandatory %>
                            <div class="required-field-block">
                        <% end %>
                    <% end %>
                <% end %>
                    <%= render :partial => "#{question.question_type}", :locals => {:question => question} %>
                    <% if ([:textbox].include? question.question_type) || question.horizontal %>
                        <% if question.mandatory %>
                            <div class="required-icon">
                                <div class="text">*</div>
                            </div>
                            </div>
                        <% end %>
                    <% end %>
                    <% if ([:textfield].include? question.question_type) %>
                        <% if question.mandatory %>
                            <div class="required-icon">
                                <div class="text">*</div>
                            </div>
                            </div>
                        <% end %>                    
                    <% end %>
                <% if @errors && @errors[question.id] %>
                    <span class="help-inline text-danger"><%=@errors[question.id][question.question]%></span>
                <% end %>
                </div>
            <% else %>
                <div class="col-md-12">
                    <%= render :partial => "#{question.question_type}", :locals => {:question => question} %>
                </div>
            <% end %>
        </div>
</div>
