<%#
%>

<div class="survey-row">
    <div class="span11 offset1">
        <div class="control-group <%='error' if @errors && @errors[question.id] %>">    
            <% if question.question && !([:address, :phone].include? question.question_type) %>
                <label class="control-label"><%= question.question.html_safe %>
                    <% if question.survey_format.help && !question.survey_format.help.blank? %>
                    <a class="survey-help" href="#" data-original-title="<%= question.survey_format.help %>"><i class='icon-info-sign'></i></a>
                    <% end %>
                </label>
            <% end %>
            <div class="controls">
                <%= render :partial => "#{question.question_type}", :locals => {:question => question} %>
                <% if @errors && @errors[question.id] %>
                    <span class="help-inline"><%=@errors[question.id][question.question]%></span>
                <% end %>
            </div>
        </div>
    </div>
</div>
    