
<div class="row">
    <div class="col-sm-12">
        <h3><%= t 'survey-personal-details' %></h3>
    </div>
</div>

<div class="row">   
    <div class="col-sm-12">
        <div class="form-group <%='has-error' if @errors && (@errors['first_name'] || @errors['last_name']) %>"">
            <label class="col-sm-2 control-label"><%= t 'name' %></label>
            <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-4">
                            <div style='color: red; float: left;'>*&nbsp;</div>
                            <div>
                                <input name="survey_respondent_detail[first_name]" value="<%=@survey_respondent_detail['first_name'] if @survey_respondent_detail %>" 
                                    size="30" type="text" class="form-control" placeholder="First Name" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div style='color: red; float: left;'>*&nbsp;</div>
                            <div>
                                <input name="survey_respondent_detail[last_name]" value="<%=@survey_respondent_detail['last_name'] if @survey_respondent_detail %>" 
                                    size="30" type="text" class="form-control" placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <input name="survey_respondent_detail[suffix]" value="<%=@survey_respondent_detail['suffix'] if @survey_respondent_detail %>" 
                                size="5" type="text" class="form-control" placeholder="Suffix">
                        </div>
                        <div class="col-sm-1">
                            <a class="survey-help" href="#" data-original-title="Enter your Registration name"><i class='glyphicon glyphicon-info-sign'></i></a>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-12'>
                            <% if @errors && @errors['first_name'] %>
                                <span class="help-block"><%=@errors['first_name']['First Name']%></span>
                            <% end %>
                            <% if @errors && @errors['last_name'] %>
                                <span class="help-block"><%=@errors['last_name']['Last Name']%></span>
                            <% end %>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<% if @respondent %>
<% if !(@survey_respondent_detail && (@survey_respondent_detail['pub_first_name'] || @survey_respondent_detail['pub_suffix'])) %>
<div class="form-group pubname_toggle">
<% else %>
<div class="form-group">
<% end %>
    <label class="control-label col-sm-2"><%= t 'publication-name' %></label>
    <div class="col-sm-10">
    <div class="controls">
                    <div class="row">
                        <div class="col-sm-4">
        <input name="survey_respondent_detail[pub_first_name]" value="<%=@survey_respondent_detail['pub_first_name'] if @survey_respondent_detail %>" 
            size="30" type="text" class="form-control" placeholder="First Name">
                        </div>
                        <div class="col-sm-4">
        <input name="survey_respondent_detail[pub_last_name]" value="<%=@survey_respondent_detail['pub_last_name'] if @survey_respondent_detail %>" 
            size="30" type="text" class="form-control" placeholder="Last Name">
                        </div>
                        <div class="col-sm-4">
        <input name="survey_respondent_detail[pub_suffix]" value="<%=@survey_respondent_detail['pub_suffix'] if @survey_respondent_detail %>" 
            size="5" type="text" class="form-control" placeholder="Suffix">
                        </div>
                  </div>
    </div>
    </div>
</div>
<% end %>    
    <div class="row">   
        <div class="col-sm-12">
<div class="form-group  <%='has-error' if @errors && @errors['email'] %>">
    <label class="control-label col-sm-2">
        <span class='' style='color: red;'>*</span> <%= t 'survey-email-address' %>
        <a class="survey-help" href="#" data-original-title="Enter your primary e-mail address; the one you&rsquo;re most likely to monitor."><i class='glyphicon glyphicon-info-sign'></i></a>
    </label>
    <div class="col-sm-10">
        <input name="survey_respondent_detail[email]" value="<%=@survey_respondent_detail['email'] if @survey_respondent_detail %>" 
            size="50" class="form-control" type="email" required>
        <% if @errors && @errors['email'] %>
            <span class="help-inline"><%=@errors['email']['Email Address']%></span>
        <% end %>
    </div>
</div>
    </div>
</div>
