<%#
# , data-provide="typeahead", autocomplete="off"
# .sort { |x, y| y.count <=> x.count }
%>
<% if question.tags_label && !question.tags_label.empty? %>
    <div class="taggable">
        <div class="context" style='display:none'><%= question.tags_label%></div>
        <script type="text/javascript">
            var <%= question.tags_label%>_array = [
            <% TagsService.tag_counts_on(SurveyRespondent, question.tags_label).sort { |x, y| x.name.downcase <=> y.name.downcase }.sort { |x, y| y.count <=> x.count }[0..20].each do |tag| %>
                { text: "<%= tag.name%>", weight: <%= tag.count%>},
            <% end %>
            ];
        </script>
        
        <div class="row">
            <div class="col-sm-10">
                <!-- TODO - question.questionmapping to HTML5 input type QuestionMappingp[''] -->
            <%= text_field_tag "survey_response[#{ question.id }]", "#{@survey_response ? @survey_response[question.id.to_s] : ''}", 
                    :rows => 5, :size => question.text_size, :class => question.tags_label + '_text ui-autocomplete-input col-xs-12 form-control' %>
            </div>
            <div class="col-sm-2">
                <a href='#' rel="popover" data-html=true class="cloud-popover btn btn-success" data-trigger="focus" data-contentwrapper="#<%= question.tags_label%>_popup" style="width: 100%;" data-placement="auto top"><%= t 'tags' %></a>
                <div id="<%= question.tags_label%>_popup" class="hidden-area"><div id="<%= question.tags_label%>_cloud" style="width: 248px; height: 250px;"></div></div>
            </div>
        </div>
    </div>
<% else %>
    <%= text_field_tag "survey_response[#{ question.id }]", "#{@survey_response ? @survey_response[question.id.to_s] : ''}", :size => question.text_size, :class => ((question.text_size && question.text_size < 10) ? 'col-xs-2 form-control' : 'col-xs-12 form-control'),
    :type => ([QuestionMapping['WebSite'], QuestionMapping['Photo']].include?(question.questionmapping) ? 'url' : nil) %>
<% end %>
