  <% if @survey %>
    <% if !@survey.header_image.empty? %>
    <div><img src="<%= @survey.header_image if @survey.header_image %>"></div>
    <% end %>
  <%end%>
  <%= get_error_messages(@errors) %>
  <% if @survey %>
    <%= form_tag @path, :method => :post, :class => "", :'accept-charset' => "UTF-8" do -%>
    <%= hidden_field_tag("key", @current_key) %>
    <h2><%= @survey.name %></h2>
    <div class="survey-welcome"><%= @survey.welcome %></div>
    <fieldset class="survey-set">
    <!-- Get Biogragraphic info -->
    <%=render :partial => 'respondent'%>
    <% @survey.survey_groups.each do |group| %>
        <%=render :partial => 'group', :locals => {:group => group}%>
    <% end %>
    </fieldset>
    <div class="submit"><p><%= submit_tag @survey.submit_string %></p></div> 
    <% end %>

    <form class="" method="post" action="/surveys/<%=@survey.id%>/response">
    </form>
  <% else %>
    <p>No Valid Survey</p>
    <%= @survey_id%>
  <% end %>
