

<script type="text/template" id="item-history-template">
    {{ if  (typeof title != 'undefined') { }}
    {{ var id = randomString(6, '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ');}}    
    
    <div class="panel-heading">
        <a data-toggle="collapse"  href="#{{= id }}">{{= typeof title != 'undefined' ? title : ''}}</a> 
        {{ if (action == 'create') { }}
            <span class="label label-success pull-right"><span class="glyphicon glyphicon-ok"></span> {{= action }}</span>
        {{ } else if (action == 'destroy') { }}
            <span class="label label-danger pull-right"><span class="glyphicon glyphicon-remove"></span> {{= action }}</span>
        {{ } else if (action == 'assignment') { }}
            <span class="label label-info pull-right"><span class="glyphicon glyphicon-user"></span> {{= action }}</span>
        {{ } else { }}
            <span class="label label-default pull-right">{{= action }}</span>
        {{ } }}           
        <br>
        <div class="row">
            <div class="col-md-6">
                <small><%= t "by" %> {{= user}}</small>
            </div>
            <div class="col-md-6 text-right">
                <small>{{= moment(time).format("dddd, MMMM Do YYYY, h:mm:ss a") }}</small><br>
            </div>
        </div>
    </div>
    <div class="panel-collapse collapse" id="{{= id }}">
        <small>
        <dl class="dl-horizontal">
            {{ if (action != "destroy") { }}
                {{ if (type == 'ProgrammeItem') { }}
                    {{ if (typeof short_title != 'undefined') { }}
                        <dt><%= t  "short-title" %></dt><dd>{{= short_title }}</dd>
                    {{ } }}
                    {{ if (typeof precis != 'undefined') { }}
                        <dt><%= t  "item-description" %></dt><dd>{{= precis }}</dd>
                    {{ } }}
                    {{ if (typeof duration != 'undefined') { }}
                        <dt><%= t "item-duration" %></dt><dd>{{= duration }}</dd>
                    {{ } }}
                    {{ if (typeof minimum_people != 'undefined') { }}
                        <dt><%= t "item-min-participants" %></dt><dd>{{= minimum_people }}</dd>
                    {{ } }}
                    {{ if (typeof maximum_people != 'undefined') { }}
                        <dt><%= t "item-max-participants" %></dt><dd>{{= maximum_people }}</dd>
                    {{ } }}
                    {{ if (typeof notes != 'undefined') { }}
                        <dt><%= t "item-notes" %></dt><dd>{{= notes }}</dd>
                    {{ } }}
                    {{ if (typeof print == 'boolean') { }}
                        <dt><%= t "item-print" %></dt><dd>{{= print }}</dd>
                    {{ } }}
                    {{ if (typeof mobile_card_size != 'undefined') { }}
                        <dt><%= t "mobile-card-size" %></dt><dd>{{= mobile_card_size }}</dd>
                    {{ } }}
                    {{ if (typeof audience_size != 'undefined') { }}
                        <dt><%= t "item-estimated-audience-size" %></dt><dd>{{= audience_size }}</dd>
                    {{ } }}
                    {{ if (typeof participant_notes != 'undefined') { }}
                        <dt><%= t "item-notes-for-participants" %></dt><dd>{{= participant_notes }}</dd>
                    {{ } }}
                {{ } else { }}
                    <dt><%= t "person" %></dt><dd>{{= typeof person != 'undefined' ? person : ''}}</dd>
                    <dt><%= t "role" %></dt><dd>{{= typeof role != 'undefined' ? role : ''}}</dd>
                {{ } }}
            {{ } }}            
        </dl>
        </small>
    </div>
    {{ } else { }}
        <div class="panel-heading">
            Item Assignment
            <span class="label label-default pull-right">assignment</span>
            <br>
            <small>Item subsequently deleted. {{= action }}, {{= time}}, {{= user}}</small>
        </div>
    {{ } }}
</script>
