
<h2><%= itemlist.count %> People:</h2>
<p>
<% if itemlist.blank? %>
   No one right now.
<% else %>
   <dl>
   <% itemlist.each do |p| %>
       <dt><%= p.GetFullPublicationName %> (<%= p.acceptance_status.name %>)</dt>
	   <% if include_city %>
	      <% unless p.invitestatus.nil? %>
		       <li> Invitation Status: <%= p.invitestatus.name %> </li>
		  <% end %>
		  <% unless p.invitation_category.nil? %>
		       <li> Invitation Category: <%= p.invitation_category.name %> </li>
		  <% end %>
	      <% unless p.getDefaultPostalAddress.nil? %>
	      		 <li><%= p.getDefaultPostalAddress.line1 %>, <%= p.getDefaultPostalAddress.line2 %></li>
                 <li><%= p.getDefaultPostalAddress.city %>, <%= p.getDefaultPostalAddress.state %>, <%= p.getDefaultPostalAddress.postcode %>, <%= p.getDefaultPostalAddress.country %> </li>
           <% end %>
	   <% end %>
       <% unless p.items.nil? %>
          <dd><ul><% p.items.each do |i| %>
                     <li><%= i %></li>
                  <% end %>
              </ul>
          </dd>
       <% end %>
   <% end %>
   </dl>
<% end %>

</p>
