<h2><%= itemlist.count %> People:</h2>
<p>
<% if itemlist.blank? %>
   No one right now.
<% else %>
   <dl>
   <% itemlist.each do |person| %>
       <dt><%= person.getFullPublicationName %> (<%= person.acceptance_status.name %>)</dt>
       <% if !@names_only && !@names_city_only%>
       <dd>
        <ul>
            <% person.programmeItemAssignments.each do |pi| %>
                <% if pi.programmeItem %>
                <% if @displayIds %>
                    <li><%= pi.programmeItem.pub_reference_number ? pi.programmeItem.pub_reference_number : 'N/A' %></li>
                <% else %>
                    <li>
                    <%if pi.role == PersonItemRole['Reserved'] %>
                        <em><%= pi.programmeItem.title %></em>
                    <% else %>
                        <%= pi.programmeItem.title %>
                    <% end %>
                    (<%= pi.programmeItem.format.name %>)
                    (<%= pi.role.name %>),
                    <%= (pi.programmeItem.time_slot ? pi.programmeItem.time_slot.start.strftime('%a %H:%M') + ' - ' + pi.programmeItem.time_slot.end.strftime('%H:%M') + ',': '') %>
                    <%= (pi.programmeItem.room ? pi.programmeItem.room.name : '') %>
                    <%= (pi.programmeItem.room ? '(' + pi.programmeItem.room.venue.name + ')': '') %>
                    </li>
                <% end %>
                <% end %>
            <% end %>
        </ul>
       </dd>
       <% elsif @names_city_only %>
          <% unless person.invitestatus.nil? %>
               <li> Invitation Status: <%= person.invitestatus.name %> </li>
          <% end %>
          <% unless person.invitation_category.nil? %>
               <li> Invitation Category: <%= person.invitation_category.name %> </li>
          <% end %>
          <% unless person.getDefaultPostalAddress.nil? %>
                 <li><%= person.getDefaultPostalAddress.line1 %>, <%= person.getDefaultPostalAddress.line2 %></li>
                 <li><%= person.getDefaultPostalAddress.city %>, <%= person.getDefaultPostalAddress.state %>, <%= person.getDefaultPostalAddress.postcode %>, <%= person.getDefaultPostalAddress.country %> </li>
           <% end %>
       <% end %>
   <% end %>
   </dl>
<% end %></p>
