<h2>Panels by Timeslot</h2>

Includes item types Panel, Reading, Publisher Presentation, Talk, Intrview, Special Interest Group, Workshop, Dialog, Game Show, Book Discussion, Auction, and Demonstration only.

<% form_tag('/planner_reports/panels_by_timeslot', :method => 'post') do %>
<p>
   <%= submit_tag "Export CSV", :name=>"csv" %>
   <%= submit_tag "View in Browser", :name => "html" %>
</p>
<% end %>
<p>
<% if params[:html] %>
   <% if @times.blank? %>
      None right now.
   <% else %>
      <dl><% @times.each do |t| %>
          <dt><h4><%= t[0] %></h4></dt>
          <dd><ul><% t[1].each do |p| %>
             <li><%= p.room.name %> (<%= p.room.venue.name unless p.room.venue.nil? %>)
                    <%= p.title %> 
                    <% unless p[:equip].blank? %>
                       <br>Equipment Needed:
                           <ul><% p[:equip].each do |n| %>
                                  <li><%= n %></li>
                               <% end %>
                           </ul>
                    <% end %></li>
              <% end %></ul></dd>
      <% end %></dl>
   <% end %>
   
   </p>
<% end %>
