<h2>Panelists with Panels</h2>

<% form_tag('/planner_reports/panelists_with_panels', :method => 'post') do %>
<p>
   <%= check_box_tag :incl_rsvd, '1', params[:incl_rsvd] %>
   <%= label_tag :incl_rsvd, "Include reserve panelists? "%><br /><br />
   <%= check_box_tag :sched_only, '1', params[:sched_only] %>
   <%= label_tag :sched_only, "Include scheduled panelists only? "%><br /><br />
   <%= check_box_tag :names_only, '1', params[:names_only] %>
   <%= label_tag :names_only, "Include names only? "%><br /><br />
   <%= check_box_tag :names_and_city, '1', params[:names_and_city] %>
   <%= label_tag :names_and_city, "Just names, city, invitation and acceptance status? "%><br /><br />
   <%= label_tag :specific_panelists, "Select specific panelist(s): "%><br /><br />
   <%= select_tag :specific_panelists, options_from_collection_for_select(@panelists, "id", "GetFullPublicationName"), :multiple => true %><br /><br />
   <%= submit_tag "Export CSV", :name=>"csv" %>
   <%= submit_tag "View in Browser", :name => "html" %>
</p>
<% end %>
<p>
<% if params[:html] %>
   <% if @names.blank? %>
      No one right now.
   <% else %>
      <%= render :partial => "itemlist", :object => @names,:locals => {:include_city => @include_city} %> 
   <% end %>
<% end %>
</p>
