<h2>Items by Timeslot</h2>

Includes all item types.

<%= form_tag('/planner_reports/panels_by_timeslot', :method => 'post') do %>
<p>
   <%= submit_tag "Export CSV", :name=>"csv" %>
   <%= submit_tag "View in Browser", :name => "html" %>
</p>
<% end %>
<p>
<% if params[:html] %>
   <% if @times.blank? %>
      None right now.
   <% else %>
      <% cur = TimeSlot.new %>
      <% inlist = false %>
      <dl><% @times.each do |t| %>
          <% if (t.start != cur.start) || (t.end != cur.end) %>
              <% if inlist %>
                </ul></dd>
                <% inlist = false %>
              <% end %>
              <dt><h4><%= t.start.strftime("%A %H:%M") %> - <%= t.end.strftime("%H:%M") %></h4></dt>
              <% cur = t %>
              <dd><ul>
              <% inlist = true %>
          <% end %>
          <% t.programme_items.each do |panel|%>
            <li><%= panel.room.name %> (<%= panel.room.venue.name %>) <%= panel.title %>
              <% equip = panel.equipment_needs.all(:include => :equipment_type).map! {|n| n.equipment_type.description} %>
              <% if equip && equip.size > 0 %>
                <br/>Equipment Needed:
                  <ul>
                  <% equip.each do |e| %>
                    <li><%= e %></li>
                  <% end %>
                  </ul>
              <% end %>
            </li>
          <% end %>
      <% end %></dl>
   <% end %>
   
   </p>
<% end %>
