<h1> Generate xml Schedule Listing using following criteria</h1>
<%=
    if flash[:error]
      content_tag(:div, content_tag(:p, flash[:error]), :class => "error grid_10")
    end
%>
<% form_for :scheduleReport, :url=>{:controller=>"planner_reports", :action=>"schedule_report",:method => "post"} do |f| -%>
 <div>
 	 <div class='line'><div class='field_name'><%= f.label :invitation_category_id,"Enter Invitation Category (Multiple Can Be Selected)" %></div>
                    <div class='field_value'>   	
					<%= select_tag 'schedule[invitation_category_id]',options_from_collection_for_select(
	                 InvitationCategory.find(:all), "id", "name"), :multiple => true %></div></div>
					 
     <div class='line'><div class='field_name'><%= f.label :invitation_category_id,"Select People to generate xml schedule for. No selection will export all people with schedule" %></div>
                    <div class='field_value'>   	
					<%= select_tag 'schedule[person_id]',options_from_collection_for_select(
	                 @people, "id", "GetFullName"), :multiple => true %></div></div>
	<div class='line'>				 
     <%= check_box_tag :incl_email, '1', params[:incl_email] %>
	 <%= label_tag :incl_email, "Include email in listing? "%><br /><br />
	 <%= check_box_tag :csv, '1', params[:csv] %>
	 <%= label_tag :csv, "Export as csv rather than display xml? "%><br /><br />
     </div>

</div>
  <div class='form-buttons'>
		<%= f.submit "Submit" %>
	
  </div>
  <div>
  		<%= link_to 'Cancel', people_path%>
  </div>
<% end -%>