<h1> Generate csv for table tents</h1>
<%=
    if flash[:error]
      content_tag(:div, content_tag(:p, flash[:error]), :class => "error grid_10")
    end
%>
<%= form_for :tableTents, :url=>{:controller=>"planner_reports", :action=>"tableTents",:method => "post"}, :html => {:'accept-charset' => 'UTF-8'} do |f| -%>
 <div>
 	 <div class='line'><div class='field_name'><%= f.label :person_id,"Select People. (Multiple can be selected, no selection is all)" %></div>
                    <div class='field_value'>   	
					<%= select_tag 'tableTents[person_id]',options_from_collection_for_select(
	                 @people, "id", "getFullName"), :multiple => true %></div></div>
	
 	 <div class='line'><div class='field_name'><%= f.label :programme_item_id,"Select Item. (Multiple can be selected, no selection is all)" %></div>
                    <div class='field_value'>   	
					<%= select_tag 'tableTents[programme_item_id]',options_from_collection_for_select(
	                 @items, "id", "title"), :multiple => true %></div></div>
					 
    
</div>
  <div class='form-buttons'>
		<%= f.submit "Submit" %>
	
  </div>
  <div>
  		<%= link_to 'Cancel', people_path%>
  </div>
<% end -%>