<script type="text/template" id="survey-question-list-layout-template">
<section>
    <div class="row">
        <div class="col-xs-1">
            <span class="label label-default"><%= t 'questions' %></span>
        </div>
        <div class="col-xs-11">
            <div id="survey-question-control-div"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        <div id="survey-question-region-div"></div>
        </div>
    </div>
</section>
</script>

<script type="text/template" id="survey-question-template">
    <td class='col-xs-10'>
    <a href="#survey-question-tab" data-toggle="tab" class="model-select-button">
        {{= stripHtml( question ) }}
    </a>
    </td>
    <td>
        <button class="model-delete-button btn btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
    </td>
</script>

<script type="text/template" id="survey-question-control-template">
    <button class="add-model-button btn-xs btn-primary pull-right">
        <%= t 'survey-add-question' %>
    </button>
</script>

<script type="text/template" id="question-data-template">
    <dl class="dl-horizontal">
        <dt><%= t "survey-question" %></dt><dd>{{= question ? question : "&nbsp;" }}</dd> 
        <dt><%= t "sort_order" %></dt><dd>{{= sort_order ? sort_order : "&nbsp;" }}</dd>
        <dt><%= t "survey-question-type" %></dt><dd>{{= question_type ? question_type : "&nbsp;" }}</dd>
        <dt><%= t "survey-mandatory" %></dt><dd>{{= mandatory ? '<%= t "yes" %>' : '<%= t "no" %>' }}</dd>
        <dt><%= t "survey-private" %></dt><dd>{{= private ? '<%= t "yes" %>' : '<%= t "no" %>' }}</dd>
        {{ if ( question_type == 'textfield') { }}
            <dt><%= t "tags_label" %></dt><dd>{{= tags_label ? tags_label : "&nbsp;" }}</dd>
            <dt><%= t "text_size" %></dt><dd>{{= text_size ? text_size : "&nbsp;" }}</dd>
        {{ } }}
        <dt><%= t "question-mapping" %></dt><dd>{{= questionmapping_name ? questionmapping_name : "&nbsp;" }}</dd>
        {{ if ( question_type == 'textbox') { }}
            <dt><%= t "is-bio" %></dt><dd>{{= isbio ? '<%= t "yes" %>' : '<%= t "no" %>' }}</dd>
        {{ } }}
        {{ if ( $.inArray(question_type.toString(), ['multiplechoice', 'singlechoice', 'selectionbox']) > -1) { }}
        <dt><%= t "survey_answers" %></dt><dd>
            <span data-editor="">
            <div class="bbf-list">
                <ul class="list-unstyled clearfix" data-items="">
                {{ _.each(survey_answers, function(answer) { }}
                    <li class="clearfix">
                        <div class="pull-left">
                            <div class="bbf-list-modal">
                            {{= AppUtils.partial('answer-data-template', answer) }}
                            </div>
                        </div>
                    </li>
                {{ }); }}
                </ul>
            </div>
            </span>
        </dd>
        {{ } }}
    </dl>
</script>

<script type="text/template" id="answer-data-template">
    <dl class="dl-horizontal">
        <dt><%= t "answer" %></dt><dd>{{= answer ? answer : "&nbsp;" }}</dd> 
        <dt><%= t "sort-order" %></dt><dd>{{= sort_order }}</dd> 
        <dt><%= t "survey-answer-type" %></dt><dd>{{= answertype_id ? SurveyQuestionApp.SurveyQuestionManagement.convertAnswerTypeIdToString(answertype_id) : "&nbsp;" }}</dd>
        {{ if ( answertype_id == <%= AnswerType["TimeConflict"].id %>) { }}
            <dt><%= t "item-start-day" %></dt><dd>{{= (SurveyQuestionApp.SurveyQuestionManagement.convertDayIdToString(start_day).length > -1) ? SurveyQuestionApp.SurveyQuestionManagement.convertDayIdToString(start_day) : "&nbsp;" }}</dd> 
            <dt><%= t "item-start-time" %></dt><dd>{{= start_time ? start_time : "&nbsp;" }}</dd> 
            <dt><%= t "item-duration" %></dt><dd>{{= duration >= 0 ? duration : "&nbsp;" }}</dd> 
        {{ } }}
    </dl>
</script>
