<% content_for :styleheader do %>
.modal-footer {
    display: none;
}
<% end %>
<% content_for :cssheader do %>
<%= stylesheet_link_tag '/vendor/backgrid/backgrid' %>
<%= stylesheet_link_tag '/vendor/backgrid/extensions/text-cell/backgrid-text-cell' %>
<%= stylesheet_link_tag '/vendor/bootstrap' %>
<%= stylesheet_link_tag '/vendor/bootstrap-responsive' %>
<% end %>
<% content_for :jsheader do %>
  <%= render_cell :mail_report, :javascript %>
<% end %>
<%= render_cell :mail_report, :templates %>

<div class='container_12'>
    <div class='grid_11 control-area'>
    </div>
    <div class="clear"></div>
</div>
<div class='container_12'>
    <div class='grid_11 mailing-report-area'>
        <div class='mailing-report-grid' id='mailing-report-grid'></div>
    </div>
</div>
