<% content_for :styleheader do %>
.modal-footer {
    display: none;
}
.form-search {
    float: left;
    margin-right: 2em;
}
.mailing-report-control {
    color: #333333;
}
<% end %>
<% content_for :cssheader do %>
<%= stylesheet_link_tag '/vendor/backgrid/backgrid' %>
<%= stylesheet_link_tag '/vendor/bootstrap/css/bootstrap' %>
<%= stylesheet_link_tag '/vendor/bootstrap/extensions/bootstrap-responsive' %>
<%= stylesheet_link_tag '/vendor/backgrid/extensions/text-cell/backgrid-text-cell' %>
<%= stylesheet_link_tag '/vendor/backgrid/extensions/paginator/backgrid-paginator' %>
<%= stylesheet_link_tag '/vendor/backgrid/extensions/filter/backgrid-filter' %>
<% end %>
<% content_for :jsheader do %>
    <%= javascript_include_tag '/vendor/lunr' %>
    <%= javascript_include_tag '/vendor/backbone/extensions/backbone-pageable' %>
    <%= javascript_include_tag '/vendor/backgrid/extensions/paginator/backgrid-paginator' %>
    <%= javascript_include_tag '/vendor/backgrid/extensions/filter/backgrid-filter' %>
  <%= render_cell :mail_report, :javascript, :person_id => @person_id, :mailing_id => @mailing_id %>
<% end %>
<%= render_cell :mail_report, :templates %>
<div class='container_12'>
    <div class='grid_11'>
        <h3>
            Mailing History
            <%= @mailing.nil? ? '' : ', ' + @mailing.mailing_number.to_s + ' - ' + @mailing.mail_template.title %>
            <%= @person.nil? ? '' : ', ' + @person.getFullName()  %>
        </h3>
    </div>
    <div class="clear"></div>
</div>
<div class='container_12'>
    <div class='grid_11 control-area'>
        <div class='mailing-report-control' id='mailing-report-control'></div>
    </div>
    <div class="clear"></div>
</div>
<div class='container_12'>
    <div class='grid_11 mailing-report-area'>
        <div class='mailing-report-grid' id='mailing-report-grid'></div>
        <div class='mailing-report-grid-paginator' id='mailing-report-grid-paginator'></div>
    </div>
</div>
