
<%= render_cell "publications/online", :javascript %>
<%= render_cell "publications/online", :templates %>

<div class="row">
    <div class="col-xs-2">
        <div class="gr-sidebar" role="complementary">
            <ul class="gr-sidenav nav nav-pills nav-stacked">
                <li>
                    <a href="#program_publish_review"><%= t "publications-publish-review" %></a>
                </li>
                <li>
                    <a href="#program_publish"><%= t "publications-publish" %></a>
                </li>
            </ul>
        </div>
        <div>
            <div id='online-pub-info-area'>
                
            </div>
        </div>
    </div>
    <div class="col-xs-10">
        <h3 class="h3-underlined"><%= (t "online-publishing").html_safe %></h3>
        <div id='online-pub-results-area'>
            <p><%= (t "review-items-before-publishing-text").html_safe %></p> 
            <div class="voffset20"></div>
            <center><%= image_tag("overview-planning-process.png", width: "75%" ) %></center>
            <center><%= t 'overview-of-process-caption'%></center>
            <div class="voffset30"></div>
            <a class="publish-button btn btn-primary" href="#program_publish_review">
                <i class="fa fa-chevron-right"></i> <%= t "review-your-changes" %>
            </a>    
        </div>
        <div id='online-pub-mgmt-area'></div>
    </div>
</div>

<!--
    Publish
    Review what to Publish
    -->
