
<script type="text/template" id="publish-template">
    <h3><%= t "publications-publish" %></h3>
    {{ if (pending == 'true') { }}
        <div><%= t "publish-pending" %></div>
    {{ } else { }}
        <button class="publish-button btn btn-primary">
            <%= t "schedule-publish" %>
        </button>
    {{ } }}
</script>

<script type="text/template" id="review-layout-template">
    <h3><%= t "pending-publish" %></h3>
    <div id="review-region-div"></div>
</script>

<script type="text/template" id="last-pub-template">
    <div class="col-xs-12 well">
        <div class="caption" class="pull-left">
            <h4><%= t "last-publish" %></h4>
            <dl>
                <dt><%= t "publication-date" %></dt><dd>{{= moment(publication_date).format("D MMM YYYY, hh:mm") }}</dd>
                <dt><%= t "new" %></dt><dd>{{= new_items }}</dd>
                <dt><%= t "modified" %></dt><dd>{{= modified }}</dd>
                <dt><%= t "removed" %></dt><dd>{{= removed }}</dd>
            </dl>
        </div>
    </div>
</script>

<script type="text/template" id="review-template">
    <div><%= t "new-items" %></div>
        <ul class="list-group">
        {{ _.each(new_items, function(item) { }}
            <li class="list-group-item">
                {{= item.title}}
            </li>
        {{ }); }}
        </ul>
    <div><%= t "updated-items" %></div>
        <ul class="list-group">
        {{ _.each(modified_items, function(item) { }}
            <li class="list-group-item">
                {{= item.title}}
            </li>
        {{ }); }}
        </ul>
    <div><%= t "dropped-items" %></div>
        <ul class="list-group">
        {{ _.each(removed_items, function(item) { }}
            <li class="list-group-item">
                {{= item.title}}
            </li>
        {{ }); }}
        </ul>
    <div><%= t "people-added/updated" %></div>
        <ul class="list-group">
        {{ _.each(people_added_updated, function(item) { }}
            <li class="list-group-item">
                {{= item.person_name}}
            </li>
        {{ }); }}
        </ul>
    <div><%= t "people-removed" %></div>
        <ul class="list-group">
        {{ _.each(people_removed, function(item) { }}
            <li class="list-group-item">
                {{= item.person_name}}
            </li>
        {{ }); }}
        </ul>
</script>
