
<script type="text/template" id="publish-template">
    <div class="row">
        <div class="col-md-12">
            <p><%= t 'ready-to-publish' %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <% if FeatureService.planner_is_locked? %>
                <p>
                    <button class="publish-button btn btn-lg btn-primary disabled" disabled="true">
                        <%= t "publish-disabled-button" %>
                    </button>
                </p>
                <p>
                    <i class="fa fa-exclamation-triangle" style="color: #bf1f40;" aria-hidden="true"></i> <%= (t "publish-disabled-warning").html_safe %> <a href="../../pages/account_page/index"><%= t('manage-your-subscription') %></a>
                </p>
            <% else %>
              {{ if (pending == 'true') { }}
                  <p>
                      <button class="btn btn-lg btn-warning">
                          <i class="fa fa-cog fa-spin fa-lg"></i> <%= t "publish-pending-button" %>
                      </button>
                  </p>
                  <p>
                      <%= (t "publish-pending").html_safe %>
                  </p>
              {{ } else { }}
                  <button class="publish-button btn btn-lg btn-primary">
                      <i class="fa fa-chevron-right"></i> <%= t "schedule-publish" %>
                  </button>
              {{ } }}
            <% end %>
        </div>
    </div>
    <div class="row voffset20">
        <div class="col-md-12">
            <input type="checkbox" id="ref-numbers" name="ref-numbers"></input> <%= t "publications-generate-ref-numbers" %> <i class="glyphicon glyphicon-info-sign bpopover" title='<%= t "publication-numbers" %>' data-container='body' data-trigger='hover' data-placement='top' data-toggle='popover' data-content='<%= t "publication-numbers-help" %>'></i>
        </div>
    </div>
    <!-- technically this perhaps should not be in core, like the publication drawings -->
    <div class="row voffset15">
        <div class="col-md-12">
            <%= t 'have-you-already-published' %> <a href="info_site"><%= t 'go-see-your-site' %></a>
        </div>
    </div>
</script>

<script type="text/template" id="review-layout-template">
    <h3><%= t "pending-publish" %></h3>
    <div id="review-region-div"></div>
</script>

<script type="text/template" id="last-pub-template">
    <div class="col-xs-12 well">
        <div class="caption" class="pull-left">
            <h4><%= t "last-publish" %></h3>
            <dl>
                <dt><%= t "publication-date" %></dt><dd>{{= moment(publication_date).format("D MMM YYYY, hh:mm") }}</dd>
                <dt><%= t "new" %></dt><dd>{{= new_items }}</dd>
                <dt><%= t "modified" %></dt><dd>{{= modified }}</dd>
                <dt><%= t "removed" %></dt><dd>{{= removed }}</dd>
            </dl>
            <% @extra_last_pub_template.each do |extra| %>
                <%= render extra %>
            <% end %>
        </div>
    </div>
</script>

<script type="text/template" id="review-template">
    <div id="review-items-before-publishing">
        <p><%= (t "review-items-before-publishing-text").html_safe %></p>
        <h4 class="voffset30"><%= (t "changes-since-your-last-publish").html_safe %></h4>
        
    </div>
    <div class="voffset30"><h5><%= t "new-items" %></h5>
        <ul class="list-group">
        {{ _.each(new_items, function(item) { }}
            <li class="list-group-item">
                {{= item.title}}
            </li>
        {{ }); }}
        </ul>
    </div>
    <div><h5><%= t "updated-items" %></h5>
        <ul class="list-group">
        {{ _.each(modified_items, function(item) { }}
            <li class="list-group-item">
                {{= item.title}}
            </li>
        {{ }); }}
        </ul>
    </div>
    <div><h5><%= t "dropped-items" %></h5>
        <ul class="list-group">
        {{ _.each(removed_items, function(item) { }}
            <li class="list-group-item">
                {{= item.title}}
            </li>
        {{ }); }}
        </ul>
    </div>
    <div><h5><%= t "people-added-updated" %></h5>
        <ul class="list-group">
        {{ _.each(people_added_updated, function(item) { }}
            <li class="list-group-item">
                {{= item.person_name}}
            </li>
        {{ }); }}
        </ul>
    </div>
    <div><h5><%= t "people-removed" %></h5>
        <ul class="list-group">
        {{ _.each(people_removed, function(item) { }}
            <li class="list-group-item">
                {{= item.person_name}}
            </li>
        {{ }); }}
        </ul>
    </div>
    <div><h5><%= t "rooms-modified" %></h5>
        <ul class="list-group">
        {{ _.each(modifed_rooms, function(room) { }}
            <li class="list-group-item">
                {{= room.name}}
            </li>
        {{ }); }}
        </ul>
    </div>
    <div><h5><%= t "venues-modified" %></h5>
        <ul class="list-group">
        {{ _.each(modifed_venues, function(venue) { }}
            <li class="list-group-item">
                {{= venue.name}}
            </li>
        {{ }); }}
        </ul>
    </div>
    <% @extra_review_template.each do |extra| %>
        <%= render extra %>
    <% end %>
    <a class="publish-button btn btn-primary" href="#program_publish">
        <i class="fa fa-chevron-right"></i> <%= t "looks-good-publish" %>
    </a>
</script>
