<h2><%= "Assign <em>" + @item.title + "</em> to " + @room.name + " with duration " + @item.duration.to_s + " minutes" %></h2>
<% form_tag("/program_planner/addItem", :method => "post", :id => "layerform", :class => "layerform") do %>
<div class='container_12'>
    <div class='grid_10'>
            <input type='hidden' name='day' value='<%=@day%>' />
            <input type='hidden' name='itemid' value='<%=@item.id%>' />
            <input type='hidden' name='roomid' value='<%=@room.id%>' />
        <div>Select start time</div>
        <div class='field_value'><input type='text' name='time' id='time-selection' value='<%=@time%>' /></div>
        <div><button id="item-save">save</button></div>
    </div>
</div>
<% end %>
<div id='form-response'></div>
