<% content_for :jsheader do %>
<%= javascript_include_tag 'jquery.scrollTo-1.4.2-min' %>
<%= stylesheet_link_tag 'planner/itemplanner' %>
<%= javascript_include_tag 'planner/itemwidget' %>
<%= stylesheet_link_tag 'planner/programplanner' %>
<%= javascript_include_tag 'planner/programplanner' %>
<% end %>
<script type='text/javascript'>
//<![CDATA[
var numberOfDays = "<%=SITE_CONFIG[:conference][:number_of_days]%>" -1;
//]]>
</script>
<div class='container_12'>
    <div class="grid_3">
        <span id="item-name-search"><input type='text' id='item-name-search-text'>
            </input></span>
        <div class="spacer">
        </div>
        <span id="item-toolbar" class="ui-widget-header ui-corner-all">
            <button id="item-beginning">
                go to beginning
            </button>
            <button id="item-rewind">
                rewind
            </button>
            <input type='text' size='2' id='current-item-page'>
            </input>
            <button id="item-forward">
                fast forward
            </button>
            <button id="item-end">
                go to end
            </button>
        </span>
        <div class="spacer">
        </div>
        <div id="items-widget" class="ui-widget ui-widget-content ui-corner-all">
            <div class="ui-widget-header ui-corner-top ui-helper-clearfix">
                Items
            </div>
            <div id="items-widget-content">
            </div>
        </div>
        <!-- TODO - put in mechanism to page and to filter -->
    </div>
    <div id="program-widget" class="ui-widget ui-widget-content ui-corner-all grid_8">
        <div class="spacer">
        </div>
        <span id="program-toolbar">
            <button id="program-beginning">
                go to beginning
            </button>
            <button id="program-rewind">
                rewind
            </button>
            <input type='text' size='2' id='current-day-page'>
            </input>
            <button id="program-forward">
                fast forward
            </button>
            <button id="program-end">
                go to end
            </button>
        </span>
        <div class="spacer">
        </div>
        <div class='program-grid-shell'>
            <div class="time-slider" id="time-slider-up">
                <button id="scroll-up">
                    up
                </button>
            </div>
            <div class='rooms-views'>
                <div class="room-slider" id="room-slider-left">
                    <div class='room-control'>
                        <button id="scroll-left">
                            left
                        </button>
                    </div>
                </div>
                <div class='time-column'>
                    <div class="time-spacer">
                    </div>
                    <div id='program-grid-times' class='program-grid-times'>
                        <div id='program-times'>
                            <% (0..23).each do |i| %>
                            <div class='program-time'>
                                <%= (Time.zone.parse(SITE_CONFIG[:conference][:start_date]) + i.hours).strftime('%H:%M') %>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class='room-container'>
                    <div id='program-grid-rooms' class='program-grid-rooms'>
                        <div id='program-room-data' class='program-room-entry'>
                            loading...
                        </div>
                    </div>
                    <div id='program-grid' class='program-grid'>
                        <div id='program-grid-data' class='program-grid-entry'>
                            loading...
                        </div>
                    </div>
                </div>
                <div class="room-slider" id="room-slider-right">
                    <div class='room-control'>
                        <button id="scroll-right">
                            right
                        </button>
                    </div>
                </div>
            </div>
            <div class="time-slider" id="time-slider-down">
                <button id="scroll-down">
                    down
                </button>
            </div>
        </div>
    </div>
</div>
