<div id='current-date'><%= @currentDate.strftime('%A') %></div>
<div id='room-titles'>
    <% current_room = nil %>
    <%@roomListing.each do |room| %>
    <div class='program-room'>
        <%= room.name %>
    </div>
    <%end %>
</div>
<div id='room-timetable'>
    <% first = true %>
    <% current_room = nil %>
    <% new_column = true %>
    <% free_time = true %>
    <%@roomAssignments.each do |assignment| %>
    <% new_column = (current_room == nil) || (current_room.id != assignment.room.id) %>
    <% if new_column %>
    <% if !first %>
    </div>
    <% end %>
    <div class='room-entries'>
    <% end %>
        <% first = false %>
        <% current_room = assignment.room %>
        <% nbrQuarterHours = (((assignment.time_slot.end - assignment.time_slot.start) / 3600) / 0.25).round %>
        <% free_time = assignment.programme_item == nil %>
        <div style='height:<%=nbrQuarterHours%>em;' class='program-entry <%= free_time ? "droppable free-time" : "item-draggable" %>' id = '<%= free_time ? "time-" + assignment.time_slot.id.to_s : "item-" + assignment.programme_item.id.to_s %>'>
            <div class="roomid" style="display: none;">
                <%= current_room.id %>
            </div>
            <% if !free_time %>
            <div class="itemid" style="display: none;">
                <%= assignment.programme_item.id %>
            </div>
            <div class="timeid" style="display: none;">
                <%= assignment.time_slot.id %>
            </div>
            <div style="width=85%; display:inline;">
                <%= assignment.programme_item.title %>
            </div>
            <a href="#itemid=<%= assignment.programme_item.id %>&roomid=<%= current_room.id %>" class="remove-item"><div class="ui-icon ui-icon-close" style="display:inline; float: right;"/></a>
            <% else %>
            <div class="timeid" style="display: none;">
                <%= assignment.time_slot.id %>
            </div>
            <div class="timestart" style="display: none;">
                <%= assignment.time_slot.start %>
            </div>
            <div class="timeend" style="display: none;">
                <%= assignment.time_slot.end %>
            </div>
            <% end %>
        </div>
    <%end %>
</div>
