<div id='current-date'>
    <%= @currentDate.strftime('%A') %>
</div>
<div id='room-titles'>
    <%@roomListing.each do |room| %>
    <div class="program-room" id='<%= "room-title-" + room.id.to_s%>'>
        <%= room.name %>
    </div>
    <%end %>
</div>
<div id='room-timetable'>
    <% first = true %>
    <% current_room = nil %>
    <% new_column = true %>
    <% free_time = true %>
    <%@roomListing.each do |room| %>
    <div class='room-entries' style='position: relative;'>
        <div style='height:96em; z-index: -99;' class='program-entry droppable free-time'>
            <div class="roomid" style="display: none;">
                <%= room.id %>
            </div>
        </div>
        <%previousAssignment = nil%>
        <%leftPosn = 5%>
        <%room.room_item_assignments.day(@day).each do |assignment| %>
        <% nbrQuarterHours = (((assignment.time_slot.end - assignment.time_slot.start) / 3600) / 0.25).round %>
        <% startPosn = assignment.time_slot.start.hour / 0.25 %>
        <% styleStr = 'height:' + nbrQuarterHours.to_s + 'em;' + 'position: absolute; top: ' + startPosn.to_s + 'em;' %>
        <% if previousAssignment && (previousAssignment.time_slot.start == assignment.time_slot.start)%>
            <% styleStr += 'left: ' + leftPosn.to_s + 'px' %>
            <% leftPosn += 5%>
        <% end %>
        <% previousAssignment = assignment %>
        <div style='<%=styleStr%>' class='program-entry item-draggable' id = 'item-<%=assignment.programme_item.id.to_s %>'>
            <div class="roomid" style="display: none;">
                <%= room.id %>
            </div>
            <div class="itemid" style="display: none;">
                <%= assignment.programme_item.id %>
            </div>
            <div class="timeid" style="display: none;">
                <%= assignment.time_slot.id %>
            </div>
            <div style="width=85%; display:inline;">
                <%= assignment.programme_item.title %>
            </div>
            <a href="#itemid=<%= assignment.programme_item.id %>&roomid=<%= room.id %>" class="remove-item">
            <div class="ui-icon ui-icon-close" style="display:inline; float: right;"/></a>
        </div>
        <%end %>
    </div>
    <%end %>
</div>
