<%= render "shared/error_messages", :target => @tags %>
<%= form_tag(tags_path + '/' + @id + '/add?class=' + @className + '&context=' + @context, :id => "layerform", :class => "layerform" ) do %>
  <%= label_tag(:tag, "Tags:") %>
  <%= text_field_tag(:tag) %>
	<div class='form-buttons'>
  		<%= submit_tag("Submit") %>
  		<button type="button" class='jqmClose'>Close</button>
	</div>
<% end %> 
<div id='form-response'>
</div>
