
<script type="text/template" id="phone-view-template">
    <div id="phone-display"></div>
</script>

<script type="text/template" id="phone-theme-ctl-template">
    <dl class="dl-horizontal">
        <dt><%= t "color-card-background" %></dt><dd>{{= card_background ? card_background : "&nbsp;"}}</dd>
        <dt><%= t "color-card-shadow" %></dt><dd>{{= card_shadow ? card_shadow : "&nbsp;"}}</dd>
        <dt><%= t "color-favourite-on-bg" %></dt><dd>{{= favourite_on_bg ? favourite_on_bg : "&nbsp;"}}</dd>
        <dt><%= t "color-favourite-off-bg" %></dt><dd>{{= favourite_off_bg ? favourite_off_bg : "&nbsp;"}}</dd>
        <dt><%= t "color-favourite-on" %></dt><dd>{{= favourite_on ? favourite_on : "&nbsp;"}}</dd>
        <dt><%= t "color-favourite-off" %></dt><dd>{{= favourite_off ? favourite_off : "&nbsp;"}}</dd>
        <dt><%= t "color-hot-ribbon" %></dt><dd>{{= hot_ribbon ? hot_ribbon : "&nbsp;"}}</dd>
        <dt><%= t "color-hot-ribbon-text" %></dt><dd>{{= hot_ribbon_text ? hot_ribbon_text : "&nbsp;"}}</dd>
        <dt><%= t "color-updated-ribbon" %></dt><dd>{{= updated_ribbon ? updated_ribbon : "&nbsp;"}}</dd>
        <dt><%= t "color-updated-ribbon-text" %></dt><dd>{{= updated_ribbon_text ? updated_ribbon_text : "&nbsp;"}}</dd>
        <dt><%= t "color-new-ribbon" %></dt><dd>{{= new_ribbon ? new_ribbon : "&nbsp;"}}</dd>
        <dt><%= t "color-new-ribbon-text" %></dt><dd>{{= new_ribbon_text ? new_ribbon_text : "&nbsp;"}}</dd>
        <dt><%= t "color-main-background" %></dt><dd>{{= main_background ? main_background : "&nbsp;"}}</dd>
        <dt><%= t "color-item-name" %></dt><dd>{{= item_name ? item_name : "&nbsp;"}}</dd>
        <dt><%= t "color-item-format" %></dt><dd>{{= item_format ? item_format : "&nbsp;"}}</dd>
        <dt><%= t "color-body-text" %></dt><dd>{{= body_text ? body_text : "&nbsp;"}}</dd>
        <dt><%= t "color-body-text-secondary" %></dt><dd>{{= body_text_secondary ? body_text_secondary : "&nbsp;"}}</dd>
        <dt><%= t "color-action-bar-bg" %></dt><dd>{{= action_bar_bg ? action_bar_bg : "&nbsp;"}}</dd>
        <dt><%= t "color-action-bar-text" %></dt><dd>{{= action_bar_text ? action_bar_text : "&nbsp;"}}</dd>
        <dt><%= t "color-day-text" %></dt><dd>{{= day_text ? day_text : "&nbsp;"}}</dd>
        <dt><%= t "color-date-text" %></dt><dd>{{= date_text ? date_text : "&nbsp;"}}</dd>
        <dt><%= t "color-time-text" %></dt><dd>{{= time_text ? time_text : "&nbsp;"}}</dd>
        <dt><%= t "color-page-flipper-text" %></dt><dd>{{= page_flipper_text ? page_flipper_text : "&nbsp;"}}</dd>
        <dt><%= t "color-page-flipper-bg" %></dt><dd>{{= page_flipper_bg ? page_flipper_bg : "&nbsp;"}}</dd>
        <dt><%= t "color-page-flipper-separators" %></dt><dd>{{= page_flipper_separators ? page_flipper_separators : "&nbsp;"}}</dd>
        <dt><%= t "color-page-flipper-selection-bar" %></dt><dd>{{= page_flipper_selection_bar ? page_flipper_selection_bar : "&nbsp;"}}</dd>
    </dl>
</script>
