
<script type="text/template" id="phone-view-template">
    <div id="phone-display"></div>
</script>

<script type="text/template" id="phone-theme-ctl-template">
    <dl class="dl-horizontal">
        <dt><%= t "color-card-background" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= card_background }};">
            </dd>
        <dt><%= t "color-card-shadow" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= card_shadow }};">
            </dd>
        <dt><%= t "color-favourite-on-bg" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= favourite_on_bg }};">
            </dd>
        <dt><%= t "color-favourite-off-bg" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= favourite_off_bg }};">
            </dd>
        <dt><%= t "color-favourite-on" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= favourite_on }};">
            </dd>
        <dt><%= t "color-favourite-off" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= favourite_off }};">
            </dd>
        <dt><%= t "color-hot-ribbon" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= hot_ribbon }};">
            </dd>
        <dt><%= t "color-hot-ribbon-text" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= hot_ribbon_text }};">
            </dd>
        <dt><%= t "color-updated-ribbon" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= updated_ribbon }};">
            </dd>
        <dt><%= t "color-updated-ribbon-text" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= updated_ribbon_text }};">
            </dd>
        <dt><%= t "color-new-ribbon" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= new_ribbon }};">
            </dd>
        <dt><%= t "color-new-ribbon-text" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= new_ribbon_text }};">
            </dd>
        <dt><%= t "color-main-background" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= main_background }};">
            </dd>
        <dt><%= t "color-item-name" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= item_name }};">
            </dd>
        <dt><%= t "color-item-format" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= item_format }};">
            </dd>
        <dt><%= t "color-body-text" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= body_text }};">
            </dd>
        <dt><%= t "color-body-text-secondary" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= body_text_secondary }};">
            </dd>
        <dt><%= t "color-action-bar-bg" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= action_bar_bg }};">
            </dd>
        <dt><%= t "color-action-bar-text" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= action_bar_text }};">
            </dd>
        <dt><%= t "day" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= day_text }};">
            </dd>
        <dt><%= t "color-date-text" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= date_text }};">
            </dd>
        <dt><%= t "color-time-text" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= time_text }};">
            </dd>
        <dt><%= t "color-page-flipper-text" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= page_flipper_text }};">
            </dd>
        <dt><%= t "color-page-flipper-bg" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= page_flipper_bg }};">
            </dd>
        <dt><%= t "color-page-flipper-separators" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= page_flipper_separators }};">
            </dd>
        <dt><%= t "color-page-flipper-selection-bar" %></dt><dd>
            <img src="/assets/ui-colorpicker.png" alt="Color" title="Color" style="background-color: {{= page_flipper_selection_bar }};">
            </dd>
    </dl>
</script>
