
<script type="text/template" id="phone-view-template">
    <div id="phone-display"></div>
</script>

<script type="text/template" id="phone-theme-ctl-template">
    <dl class="dl-horizontal">
        <dt><%= t "main_background" %></dt><dd>{{= main_background ? main_background : "&nbsp;"}}</dd>
        <dt><%= t "title_background" %></dt><dd>{{= title_background ? title_background : "&nbsp;"}}</dd>
        <dt><%= t "primary_text" %></dt><dd>{{= primary_text ? primary_text : "&nbsp;"}}</dd>
        <dt><%= t "secondary_text" %></dt><dd>{{= secondary_text ? secondary_text : "&nbsp;"}}</dd>
        <dt><%= t "card_background" %></dt><dd>{{= card_background ? card_background : "&nbsp;"}}</dd>
        <dt><%= t "updated_ribbon" %></dt><dd>{{= updated_ribbon ? updated_ribbon : "&nbsp;"}}</dd>
        <dt><%= t "hot_ribbon" %></dt><dd>{{= hot_ribbon ? hot_ribbon : "&nbsp;"}}</dd>
        <dt><%= t "favourite_on" %></dt><dd>{{= favourite_on ? favourite_on : "&nbsp;"}}</dd>
        <dt><%= t "card_shadow" %></dt><dd>{{= card_shadow ? card_shadow : "&nbsp;"}}</dd>
    </dl>
</script>
