<!-- TODO: put in survey form id in the path and have a copy method -->
<div class='copy-form'>
<% form_tag('/survey_respondents/reviews/'+@respondentId+'/copySurvey') do %>
	<%= check_box_tag(:name, 1) %> <%= label_tag(:name, "Name") %>
	<% if @copyStatus && @copyStatus.nameCopied %>
	<em>(Copied)</em>
	<% end %>
	<br/>
	<%= check_box_tag(:pseudonym, 1) %> <%= label_tag(:pseudonym, "Pub Name") %>
	<% if @copyStatus && @copyStatus.pseudonymCopied %>
	<em>(Copied)</em>
	<% end %>
	<br/>
	<%= check_box_tag(:address, 1) %> <%= label_tag(:address, "Address") %>
	<% if @copyStatus && @copyStatus.addressCopied %>
	<em>(Copied)</em>
	<% end %>
	<br/>
	<%= check_box_tag(:phone, 1) %> <%= label_tag(:phone, "Phone") %>
	<% if @copyStatus && @copyStatus.phoneCopied %>
	<em>(Copied)</em>
	<% end %>
	<br/>
	<%= check_box_tag(:email, 1) %> <%= label_tag(:email, "Email") %>
	<% if @copyStatus && @copyStatus.emailCopied %>
	<em>(Copied)</em>
	<% end %>
	<br/>
	<%= check_box_tag(:tags, 1) %> <%= label_tag(:tags, "Tags") %>
	<% if @copyStatus && @copyStatus.tagsCopied %>
	<em>(Copied)</em>
	<% end %>
	<br/>
	<%= check_box_tag(:available_date, 1) %> <%= label_tag(:available_date, "Available Dates") %>
	<% if @copyStatus && @copyStatus.availableDatesCopied %>
	<em>(Copied)</em>
	<% end %>
	<br/>
	<%= submit_tag("Copy") %> 
<% end %> 
</div>
