<div id="app-menu-div" data-spy="affix" data-offset-top="66" data-offset-bottom="0">
    <nav id="grenadine-application-menu" class="navbar navbar-default" role="navigation" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-md hidden-lg hidden-sm" href='<%= "/" + I18n.locale.to_s %>' alt='<%= @page_title or (t 'Convention Planner') %>'>
                <i class="icon-home">&nbsp;<%= (t "Menu") %></i>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="collapse-2">
            <ul class="nav navbar-nav">
                <% @menu.each do |k, v| %>
                    <li class="<%= 'active' if request.fullpath.include? v[:target_base] %>"><a href="<%= '/' + I18n.locale.to_s + v[:target] %>">
                        <i class="glyphicon <%= v[:icon]%>"></i> <%= t k %></a>
                    </li>
                <% end %>
            </ul>
        </div>
    </nav>
</div>

