<div id="app-menu-div" data-spy="affix" data-offset-top="66" data-offset-bottom="0">
    <nav id="grenadine-application-menu" class="navbar navbar-default" role="navigation" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-md hidden-lg hidden-sm" href='<%= "/" + I18n.locale.to_s + baseUri_no_lang %>' alt='<%= @page_title or (t 'convention-planner') %>'>
                <i class="icon-home">&nbsp;<%= (t "menu") %></i>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="collapse-2">
            <ul class="nav navbar-nav">
                <% @menu.each do |k, v| %>
                    <% if v %>
                        <% if v[:target_base].length == 1 %>
                            <li class="<%= 'active' if request.fullpath.eql? v[:target_base] %>"><a href="<%= '/' + I18n.locale.to_s + baseUri_no_lang + v[:target] %>">
                                <i class="glyphicon <%= v[:icon]%>"></i> <%= k.empty? ? '' : (t k) %></a>
                            </li>
                        <% else %>
                            <li class="<%= 'active' if request.fullpath.include? v[:target_base] %>"><a href="<%= '/' + I18n.locale.to_s + baseUri_no_lang + v[:target] %>">
                                <i class="glyphicon <%= v[:icon]%>"></i> <%= k.empty? ? '' : (t k) %></a>
                            </li>
                        <% end %>
                    <% end %>
                <% end %>
            </ul>
        </div>
    </nav>
</div>

