
<%= render_cell "surveys/report", :javascript,
    :queryListRefreshMethod => "SurveyReportApp.SurveyQueries.refreshQueryList"
    %>

<%= render_cell "surveys/query_list", :javascript,
    :caption => "My Queries",
    :selectNotifyMethod => "SurveyReportApp.SurveyReport.selectQuery",
    :clearNotifyMethod => "SurveyReportApp.SurveyReport.clearDetails"
    %>

<%= render_cell "surveys/report", :templates %>
<%= render_cell "surveys/query_list", :templates %>

<div class="row">
    <div class="col-xs-4">
        <div class="col-xs-12">
            <%= render_cell "surveys/query_list", :display %>
        </div>
    </div>
    <div class="col-xs-8">
        <div class="well">
            <div id='query-view'></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id='query-results'></div>
    </div>
</div>
