<% content_for :cssheader do %>
<%= stylesheet_link_tag '/vendor/backgrid/backgrid' %>
<%= stylesheet_link_tag '/vendor/bootstrap/bootstrap' %>
<%= stylesheet_link_tag '/vendor/bootstrap/bootstrap-responsive' %>
<%= stylesheet_link_tag '/vendor/backgrid/extensions/text-cell/backgrid-text-cell' %>
<%= stylesheet_link_tag '/vendor/backgrid/extensions/paginator/backgrid-paginator' %>
<%= stylesheet_link_tag '/vendor/backgrid/extensions/filter/backgrid-filter' %>
<% end %>
<% content_for :jsheader do %>
    <%= javascript_include_tag '/vendor/lunr' %>
    <%= javascript_include_tag '/vendor/backbone/extensions/backbone-pageable' %>
    <%= javascript_include_tag '/vendor/backgrid/extensions/paginator/backgrid-paginator' %>
    <%= javascript_include_tag '/vendor/backgrid/extensions/filter/backgrid-filter' %>
  <%= render_cell :mailing, :javascript %>
<% end %>
<% content_for :styleheader do %>
.pagination {
    margin : 0 0;
    float: none;
}
<% end %>

<%= render_cell :mailing, :templates %>

<div class='container_12'>
    <div class='grid_3 mailings-area'>
        <div class='mailing-configs-control' id='mailing-configs-control'>
        </div>
    </div>
    <div class='grid_9 mailings-config-area'>
        <div class='current-mailing-configs' id='current-mailing-configs'>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class='container_12'>
    <div class='grid_4 mailings-people-area'>
        <div class='mailing-people-pager' id='mailing-people-pager'>
        </div>
        <ul class='mailing-people selectable' id='mailing-people'>
        </ul>
    </div>
    <div class='grid_1'>
        <div class='mailing-people-controls' id='mailing-people-controls'>
        </div>
    </div>
    <div class='grid_5 mailings-assigned-people-area'>
        <div class='current-mailing-control' id='current-mailing-control'>
        </div>
        <ul class='current-mailing-people selectable' id='current-mailing-people'>
        </ul>
    </div>
</div>
