
<script type="text/template" id="data-source-template">
    <div class="well" style="padding-bottom: 0;">
        <center>
        <div class="form-horizontal" data-fieldsets>
            <div style="float: right; padding-left: 10px;">
                <a class="btn btn-primary btn-small back-step pull-left" href="<%= baseUri%>/pages/admin_dash/system_configs#data_sources_config">
                    <%= t "create-a-data-source" %>
                </a>
            </div>
        </div>
        </center>
    </div>
</script>

<script type="text/template" id="step-layout">
    <div id='current-step'></div>
    <div id='control'></div>
</script>

<script type="text/template" id="step-control">
    <button type="button" class="btn btn-primary back-step pull-left"><%= t "back" %></button>
    <button type="button" class="btn btn-primary next-step pull-right"><%= t "next-step" %></button>
</script>

<script type="text/template" id="step-1">

    <div id="step-1-text">
        <h3 class="h3-underlined"><%= t 'people-import-wizard-step-1'%></h3>
        <div class="bs-callout bs-callout-info">
            <h4><%= t 'hint' %></h4>
            <%= (t 'before-importing-people-text').html_safe %>  
        </div>
        <p><%= t 'people-import-wizard-intro'%> <%= t 'people-import-wizard-step-1-text'%> <a href="<%= baseUri + '/pages/admin_dash/system_configs#data_sources_config' %>"><%= t 'people-import-wizard-step-1-create-data-source-link'%></a>. <%= t 'people-import-wizard-step-1-text-2' %></p>
    </div>
    <div id='form'></div>
</script>

<script type="text/template" id="step-2">
    <div id="step-2-text">
        <h3 class="h3-underlined"><%= t 'people-import-wizard-step-2'%></h3>
        <p><%= t 'people-import-wizard-step-2-text'%></p>
    </div>    
    <div id='form'></div>
</script>

<script type="text/template" id="mapping-layout">
    <div class="row">
        <div class="col-md-12">
            <div id="step-3-text">
                <h3 class="h3-underlined"><%= t 'people-import-wizard-step-3'%></h3>
                <p><%= t 'people-import-wizard-step-3-text'%></p>
                <div class="bs-callout bs-callout-info">
                    <h4><%= t 'hint'%></h4>
                    <%= (t 'dbid-hint').html_safe %>
                </div>
            </div>
        </div>
        <div class="voffset20">&nbsp;</div>
        <div class="col-xs-6">
            <h4><%= t 'grenadine-fields'%></h4>
            <div id='mapping'></div>
        </div>
        <div class="col-xs-6">
            <h4><%= t 'your-fields'%></h4>
            <div id='source'></div>
        </div>
    </div>
</script>

<script type="text/template" id="result-layout">
    <div class="row">
        <div class="col-xs-12">
            <div id='result'></div>
        </div>
    </div>
</script>

<script type="text/template" id="step-3"> 
    <div>    
        <ul class="list-group">
            <%= render_cell "participants/import", :mapping_element, :field => "prefix" %>
            <%= render_cell "participants/import", :mapping_element, :field => "first_name" %>
            <%= render_cell "participants/import", :mapping_element, :field => "last_name" %>
            <%= render_cell "participants/import", :mapping_element, :field => "suffix" %>
            <%= render_cell "participants/import", :mapping_element, :field => "pub_prefix" %>
            <%= render_cell "participants/import", :mapping_element, :field => "pub_first_name" %>
            <%= render_cell "participants/import", :mapping_element, :field => "pub_last_name" %>
            <%= render_cell "participants/import", :mapping_element, :field => "pub_suffix" %>
            <%= render_cell "participants/import", :mapping_element, :field => "job_title" %>
            <%= render_cell "participants/import", :mapping_element, :field => "company" %>
            <%= render_cell "participants/import", :mapping_element, :field => "line1" %>
            <%= render_cell "participants/import", :mapping_element, :field => "line2" %>
            <%= render_cell "participants/import", :mapping_element, :field => "city" %>
            <%= render_cell "participants/import", :mapping_element, :field => "postcode" %>
            <%= render_cell "participants/import", :mapping_element, :field => "state" %>
            <%= render_cell "participants/import", :mapping_element, :field => "country" %>
            <%= render_cell "participants/import", :mapping_element, :field => "phone" %>
            <%= render_cell "participants/import", :mapping_element, :field => "email" %>
            <%= render_cell "participants/import", :mapping_element, :field => "registration_number" %>
            <%= render_cell "participants/import", :mapping_element, :field => "registration_type" %>
            <%= render_cell "participants/import", :mapping_element, :field => "bio" %>
            <%= render_cell "participants/import", :mapping_element, :field => "invite_status" %>
            <%= render_cell "participants/import", :mapping_element, :field => "invite_category" %>
            <%= render_cell "participants/import", :mapping_element, :field => "accept_status" %>
            <%= render_cell "participants/import", :mapping_element, :field => "datasource_dbid" %>
        </ul>
    </div>
</script>

<script type="text/template" id="csv-source">
    <div class="column {{if (typeof _.find(_.reject(_.pairs(mapping.attributes), function(n) { return ((n[0] == "datasource_id") || (n[0] == "id") || (n[0] == "lock_version")) }), function(v) {return v[1] == posn}) == 'undefined') {  }} ui-draggable {{ } else { }} mapping-assigned {{ } }}" id="{{= posn}}">
        {{= name ? name : '<i>?</i>' }} 
    </div>
</script>

<script type="text/template" id="step-4">
    <div id="step-4-text">
        <h3 class="h3-underlined"><%= t 'people-import-wizard-step-4'%></h3>
        <p><%= t 'people-import-wizard-step-4-text'%></p>
    </div>     
    <div id='form'></div>
</script>

<script type="text/template" id="result-template">
    <div id="step-5-text">
        <h3 class="h3-underlined"><%= t 'people-import-wizard-step-5'%></h3>
        <h4><%= t 'results'%></h4>
        <p><%= t "created" %>: {{= created }}</p>
        <p><%= t "updated" %>: {{= updates }}</p>
        <p><%= t "possible-matches" %>: {{= possible_matches }}</p>
        <p><%= t "registration-in-use" %> <a class="mtooltip"><i class="glyphicon glyphicon-info-sign"></i><span><%= t "registration-in-use-explanation" %></span></a> : {{= registration_in_use }}</p>
        <p><%= t "possible-name-updates" %>: {{= possible_name_updates }}</p>
    </div>
</script>
