<div id="survey_list">
	<div id='survey-accordian'>
		<% @surveys.each do |survey| %> 
			<h3 surveyid='<%= survey.id %>'><a href="#"><%= survey.name %></a></h3>
			<div>
			<div class="survey-buttons">
					<%= link_to survey.name, survey, :class => "survey-display survey-name" %>
					<%= link_to 'Edit', edit_survey_path(survey), :class => "survey-edit" %>
					<%= link_to "Destroy", survey_path(survey), :class => "survey-delete" %>

<!-- 					<div class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
						<%= button_to "Destroy", survey_path(survey), :method => :delete, :class => "survey-remove-button" %>
					</div> -->
			</div>
				<div id="<%= 'current_groups-' + survey.id.to_s %>" ><div></div></div>
			</div>
		<% end %>
	</div>
</div>
