<%= error_messages_for :survey %>
<% form_for @survey, :url => @urlstr, :html => {:class => "layerform", :id => "layerform"} do |f| %>
<div class='survey_form'>
	<div class='line'><div class='field_name'>Name:</div><div class='field_value'><%= f.text_field :name %></div></div>
    <div class='line'><div class='field_name'>Alias:</div><div class='field_value'><%= f.text_field :alias %></div></div>
    <div class='line'><div class='field_name'>Header Image:</div><div class='field_value'><%= f.text_field :header_image %></div></div>
    <div class='line'><div class='field_name'>Save Button:</div><div class='field_value'><%= f.text_field :submit_string %></div></div>
	<div class='line'><div class='field_name'>Welcome:</div></div>
	<div class='line'><%= f.text_area :welcome, :cols => "80", :rows => "10", :class => "rte" %></div>
	<div class='line'><div class='field_name'>Thank You:</div></div>
	<div class='line'><%= f.text_area :thank_you, :cols => "80", :rows => "10", :class => "rte" %></div>
	<div class='form-buttons'>
		<%= f.submit "Submit" %>
        <% if @survey.id != nil %>
		  <%= link_to "Cancel", survey_path(@survey), {:class =>'cancel-link'} %> <!-- TODO - change to a button ... -->
		<%end%>
	</div>
</div>
<% end %>
