<% content_for :styleheader do %>
<% end %>
<% content_for :jsheader do %>
  <%= javascript_include_tag 'plugins/cpdialog' %>
  <%= javascript_include_tag 'surveys/surveys' %>
<% end %>

<!-- TODO - put in a list of the suveys, plus new, delete etc. -->
<% @surveys.each do |survey| %>
<div class='container_12'>
	<div><%= survey.name %></div>
    <div><%= link_to 'Show', survey, :class => "survey-dialog" %></div>
    <div><%= link_to 'Edit', edit_survey_path(survey), :class => "survey-dialog" %></div>
    <div><%= link_to 'Destroy', survey, :confirm => 'Are you sure?', :method => :delete %></div>
</div>
<% end %>

<br />

<div><%= link_to 'New survey', new_survey_path, :class => "survey-dialog" %></div>
