<% content_for :styleheader do %>
.survey-name, .survey-edit, .survey-delete,
.group-name, .group-edit, .group-delete {
	white-space:nowrap;
	overflow: hidden;
}

.survey-name {
	width: 70%;
	text-align: left;
}

.group-name {
	width: 85%;
	text-align: left;
}

.survey-question-top {
    clear: both;
    float: none;
    display: inline;
}

.question-edit, .question-delete {
    float: right;
    margin-right: 0.5em;
}

#toolbar {
	padding: 10px 4px;
}
	
#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#selectable li { margin: 3px; padding: 0.4em; height: 26px; }

#selectable-questions .ui-selecting { background: #FECA40; }
#selectable-questions .ui-selected { background: #F39814; color: white; }
#selectable-questions { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#selectable-questions li { margin: 3px; padding: 0.4em; }
<% end %>
<%= stylesheet_link_tag 'jquery.coolfieldset.css' %>
<% content_for :jsheader do %>
<%= javascript_include_tag '/ckeditor/ckeditor.js' %>
<%= javascript_include_tag '/ckeditor/adapters/jquery.js' %>
<%= javascript_include_tag 'vendor/jquery.coolfieldset' %>

<%= javascript_include_tag 'plugins/cpdialog' %>
<%= javascript_include_tag 'plugins/cpremovebutton' %>
<%= javascript_include_tag 'plugins/cpDynamicArea' %>
<%= javascript_include_tag 'surveys/surveys' %>

<% end %>
<div class='container_12'>
	<div>
		<%= link_to 'New survey', new_survey_path, :class => "survey-dialog" %>
	</div>
</div>
<div class='container_12'>
	<div class="grid_3">
		<%=render :partial => 'survey_list' %>
	</div>
	<div class="grid_9">
		<div id='edit-area-1'></div>
		<div id='edit-area-2'></div>
	</div>
</div>
<div class='container_12'>
	<div id="messages">
	</div>
</div>
