<div class='address'>
    <div>
        <div class=address_header>
            <% if @emailAddresses.length > 0 %>
            <div class='infolabel'>
                Email Address(es)
            </div>
            <%else %>
            <div class='infolabel'>
                No Email Address
            </div>
            <%end %>
            <div class=add-form>
                <%= link_to "Add Email Address", @urlemailstr, :class => 'entrydialog' %>
            </div>
        </div>
        <div class='addressAccordian'>
            <% @emailAddresses.each do |eaddress| %>
            <h3>EMAIL</h3>
            <div class='address_email'>
                <div class='controls'>
                    <div class='remove-form'>
                        <%= button_to "remove", eaddress, :method => :delete, :class => 'remove-button' %>
                    </div>
                    <div class='edit-form'>
                        <%= link_to "edit", {:controller => 'email_addresses', :action => 'edit', :id => eaddress}, :class => 'entrydialog' %>
                    </div>
                </div>
                <div class='address_details'>
                    <div class='boolean'>
                        <div class='field_name'>
                            default?:
                        </div>
                        <div class='field_value'>
                            <%= eaddress.isdefault %>
                        </div>
                    </div>
                    <div class='email'>
                        <div class='field_name'>
                            email:
                        </div>
                        <div class='field_value'>
                            <%= eaddress.email %>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
        <div class=address_header>
            <% if @postalAddresses.length > 0 %>
            <div class='infolabel'>
                Postal Address(es)
            </div>
            <%else %>
            <div class='infolabel'>
                No Postal Address
            </div>
            <%end %>
            <div class=add-form>
                <%= link_to "Add Postal Address", @urlstr, :class => 'entrydialog' %>
            </div>
        </div>
        <div class='addressAccordian'>
            <% @postalAddresses.each do |address| %>
            <h3>Postal Address</h3>
            <div class='address_postal'>
                <div class='controls'>
                    <div class='remove-form'>
                        <%= button_to "remove", address, :method => :delete, :class => 'remove-button' %>
                    </div>
                    <div class='edit-form'>
                        <%= link_to "edit", {:controller => 'postal_addresses', :action => 'edit', :id => address}, :class => 'entrydialog' %>
                    </div>
                </div>
                <div class='address_details'>
                    <div class='boolean'>
                        <div class='field_name'>
                            default?:
                        </div>
                        <div class='field_value'>
                            <%= address.isdefault %>
                        </div>
                    </div>
                    <div class='line'>
                        <div class='field_name'>
                            line1:
                        </div>
                        <div class='field_value'>
                            <%= address.line1 %>
                        </div>
                    </div>
                    <div class='line'>
                        <div class='field_name'>
                            line2:
                        </div>
                        <div class='field_value'>
                            <%= address.line2 %>
                        </div>
                    </div>
                    <div class='line'>
                        <div class='field_name'>
                            line3:
                        </div>
                        <div class='field_value'>
                            <%= address.line3 %>
                        </div>
                    </div>
                    <div class='city'>
                        <div class='field_name'>
                            city:
                        </div>
                        <div class='field_value'>
                            <%= address.city %>
                        </div>
                    </div>
                    <div class='state'>
                        <div class='field_name'>
                            state:
                        </div>
                        <div class='field_value'>
                            <%= address.state %>
                        </div>
                    </div>
                    <div class='postcode'>
                        <div class='field_name'>
                            post code:
                        </div>
                        <div class='field_value'>
                            <%= address.postcode %>
                        </div>
                    </div>
                    <div class='country'>
                        <div class='field_name'>
                            country:
                        </div>
                        <div class='field_value'>
                            <%= address.country %>
                        </div>
                    </div>
                    <div class='phone'>
                        <div class='field_name'>
                            phone:
                        </div>
                        <div class='field_value'>
                            <%= address.phone %>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
        <div class='message' id='tab-messages'>
        </div>
        <div class="jqmWindow" id="edialog">
            Please wait...
        </div>
    </div>
