<div class='address'>
	<% @postalAddresses.each do |address|%>
    <div class='address_postal'>
      <div class='controls'>
        <div class='remove-form'>
          <%=  button_to "remove", address, :method => :delete, :class => 'remove-button' %>
        </div>
        <div class='edit-form'>
          <%=  link_to "edit", {:controller => 'postal_addresses', :action => 'edit', :id => address}, :class => 'entrydialog' %>
        </div>
      </div>
      <div class='address_details'>
	      <div class='boolean'><div class='field_name'>default?:</div><div class='field_value'><%= address.isdefault %></div></div>
  	      <div class='line'><div class='field_name'>line1:</div><div class='field_value'><%= address.line1 %></div></div>
	      <div class='line'><div class='field_name'>line2:</div><div class='field_value'><%= address.line2 %></div></div>
	      <div class='line'><div class='field_name'>line3:</div><div class='field_value'><%= address.line3 %></div></div>
	      <div class='city'><div class='field_name'>city:</div><div class='field_value'><%= address.city %></div></div>
	      <div class='state'><div class='field_name'>state:</div><div class='field_value'><%= address.state %></div></div>
  	      <div class='postcode'><div class='field_name'>post code:</div><div class='field_value'><%= address.postcode %></div></div>
	      <div class='country'><div class='field_name'>country:</div><div class='field_value'><%= address.country %></div></div>
	      <div class='phone'><div class='field_name'>phone:</div><div class='field_value'><%= address.phone %></div></div>
	  </div>
 	</div>
	<% end %>
</div>
<p>
  <%= link_to "Add Postal Address", @urlstr, :class => 'entrydialog' %>
</p>
<div class='message' id='tab-messages'></div>
<div class="jqmWindow" id="edialog">
Please wait...
</div>
</div>
