<br/>
<h1> Edit a room</h1>
<%= error_messages_for :room %>
<% form_for @room do |f| -%>
	<p>
		<%= f.label :name, "Name " %> <br/>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :venue, "Venue " %> <br/>
		<%= f.collection_select :venue_id, @venues, :id, :name %>
	</p>
	<p>
		<%= f.submit "Submit" %>
	</p>
<% end %>
<hr />
<%= link_to 'Room List', {:action => 'index'} %>

