<br/>
<h1> Create a room</h1>
<%= error_messages_for :room %>
<% form_for :room, @room, :url => { :action => "create" } do |f| -%>
	<p>
		<%= f.label :name, "Name " %> <br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :capacity, "Capacity " %> <br>
		<%= f.text_field :capacity %>
	</p>
	<p>
		<%= f.label :venue_id, "Venue " %> <br>
		<%= f.collection_select :venue_id, @venues, :id, :name %>
	</p>
	<p>
		<%= f.submit "Submit" %>
	</p>
<% end %>
<hr />
<%= link_to 'Room List', {:action => 'index'} %>

