<br/>
<h2> Name: <%= @room.name %></h1>
<p> Capacity: <%= @room.capacity %></p>
<p> Venue: <%= link_to @venue.name, venue_path(@venue.id) %></p>
<p> Purpose: <%= @room.purpose %></p>
<p> Comment: <%= @room.comment %></p>
<hr />
<%= link_to 'Room List', {:action => 'index'} %>

