<br/>
<h1> Edit a Mapped Survey Question</h1>
<%= render "shared/error_messages", :target => @mapped_survey_question %>
<%= form_for @mapped_survey_question, :html => {:'accept-charset' => 'UTF-8'} do |f| -%>
	<p>
		<%= f.label :name, "Survey Question Text " %> <br/>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :question, "Survey Question Code" %> <br/>
		<%= f.text_field :question %>
	</p>
    <p>
		<%= f.label :code, "Survey Question Code Value" %> <br/>
		<%= f.text_field :code %>
	</p>
	<p>
		<%= f.submit "submit" %>
	</p>
<% end %>

