<br/>
<h1> Create a mapped survey question</h1>
<%= error_messages_for :mapped_survey_questions %>
<% form_for @mapped_survey_question do |f| -%>
	<p>
		<%= f.label :name, "Name " %> <br/>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :question, "Survey Question Code " %> <br/>
		<%= f.text_field :question %>
	</p>
	<p>
		<%= f.label :code, "Survey Question Code Value " %> <br/>
		<%= f.text_field :code %>
	</p>
	<p>
		<%= f.submit "Submit" %>
	</p>
<% end %>
