
<%= render_cell "communications/mailing_list", :javascript,
    :caption => "Mailings"
    %>

<%= render_cell "communications/manage", :javascript %>

<%= render_cell "communications/mailing_list", :templates %>
<%= render_cell "communications/manage", :templates %>

<%= render_cell "participants/participant_list", :javascript, 
    :caption => "comm-potential-participants",
    :pager => "participants-pager",
    :place => "participants",
    :del => false,
    :edit => false,
    :add => false,
    :delayed => true,
    
    :pub_first_name => false,
    :pub_last_name => false,
    :pub_suffix => false,
    
    :multiselect => true,
    :showControls => false
%>

<%= render_cell "participants/participant_list", :javascript, 
    :caption => "comm-mailing-list",
    :pager => "mailing-people-pager",
    :place => "mailing-participants",
    :del => false,
    :edit => false,
    :add => false,
    :delayed => true,
    
    :invite_status => false,
    :invite_category => false,
    :acceptance_status => false,
    :has_survey => false,
    :pub_first_name => false,
    :pub_last_name => false,
    :pub_suffix => false,
    
    :multiselect => true,
    :showControls => false
%>

<div class="row">
    <div class="col-xs-4" style="height : 370px; overflow : auto;">
        <%= render_cell "communications/mailing_list", :display %>
    </div>
    <div class="col-xs-8">
        <div id="mailing-edit-area"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <%= render_cell "participants/participant_list", :display,
            :pager => "participants-pager",
            :place => "participants"
         %>
    </div>
    <div class="col-xs-2">
        <div id="list-control-view"></div>
    </div>
    <div class="col-xs-4">
        <div class="row">
            <div class='col-xs-12'>
                <div id="preview-control-area"></div>
            </div>
        </div>
        <div class="row">
            <div class='col-xs-12'>
                <%= render_cell "participants/participant_list", :display,
                    :pager => "mailing-people-pager",
                    :place => "mailing-participants"
                 %>
            </div>
        </div>
    </div>
</div>
