
<%= render_cell "communications/mailing_list", :javascript,
    :caption => "mailings"
    %>

<%= render_cell "communications/manage", :javascript %>

<%= render_cell "communications/mailing_list", :templates %>
<%= render_cell "communications/manage", :templates %>

<%= render_cell "participants/participant_list", :javascript, 
    :caption => "comm-potential-recipients",
    :pager => "participants-pager",
    :place => "participants",
    :del => false,
    :edit => false,
    :add => false,
    :delayed => true,
    
    :pub_first_name => false,
    :pub_last_name => false,
    :pub_suffix => false,
    
    :multiselect => true,
    :showControls => false
%>

<%= render_cell "participants/participant_list", :javascript, 
    :caption => "comm-mailing-recipients",
    :pager => "mailing-people-pager",
    :place => "mailing-participants",
    :del => false,
    :edit => false,
    :add => false,
    :delayed => true,
    
    :invite_status => false,
    :invite_category => false,
    :acceptance_status => false,
    :has_survey => false,
    :reg_type => false,
    :pub_first_name => false,
    :pub_last_name => false,
    :pub_suffix => false,
    
    :multiselect => true,
    :showControls => false
%>

<div class="row">
    
    <div class="col-md-4">
        <%= render_cell "communications/mailing_list", :display %>
    </div>
    <div class="col-md-8">
        <h3 class="h3-underlined"><%= t 'mailing-details' %></h3>
        <div id="mailing-edit-area"></div>
        <div id="mailing-control-area"></div>
    </div>
</div>
<div id="mailing-area" class="row voffset10">
    <h3 class="h3-underlined"><%= t 'recipients' %><a class="mtooltip"><i class="glyphicon glyphicon-info-sign"></i><span><%= t 'hint-recipients' %></span></a></h3>
    <div class="col-xs-8 left-jqgrid right-jqgrid">
        <%= render_cell "participants/participant_list", :display,
            :pager => "participants-pager",
            :place => "participants"
         %>
    </div>
    <div class="col-xs-1" style="padding-top: 50px;">
        <center>
       	    <div id="list-control-view"></div>
       	</center>
    </div>
    <div class="col-xs-3" style="padding-left: 0;">
        <div class='right-jqgrid'>
            <%= render_cell "participants/participant_list", :display,
                :pager => "mailing-people-pager",
                :place => "mailing-participants"
             %>
        </div>
        <div class="voffset10"></div>
        <div>
            <div id="preview-control-area"></div>
        </div>
	</div>
</div>
<div class="voffset20"></div>

