
<%= render_cell "communications/manage", :javascript %>

<%= render_cell "communications/mailing_list", :javascript,
    :caption => "Mailings"
    %>

<%= render_cell "communications/mailing_list", :templates %>
<%= render_cell "communications/manage", :templates %>

<div class="row-fluid">
    <div class="span4" style="height : 370px; overflow : auto;">
        <%= render_cell "communications/mailing_list", :display %>
    </div>
    <div class="span8">
        <div id="mailing-edit-area"></div>
    </div>
</div>
<div class="row-fluid">
    <div class="span4">
        People
    </div>
    <div class="span4">
        Op
    </div>
    <div class="span4">
        Mailing List
    </div>
</div>
