

<%= render_cell "participants/participant_list", :javascript, 
    :caption => "participants-(confirmed)",
    :pager => "participants-pager",
    :del => false,
    :edit => false,
    :add => false,
    :invite_status => false,
    :invite_category => true,
    :acceptance_status => true,
    :has_survey => false,
    :reg_type => false,
    
    :pub_first_name => false,
    :pub_last_name => false,
    :pub_suffix => false,
    
    :multiselect => true,
    :showControls => false,
    :selectNotifyMethod => "ItemApp.PeopleManagement.showPerson"
%>
    
<%= render_cell "items/item_list", :javascript, 
    :caption => "prog-items", 
    :pager => "#items-pager",
    :del => false,
    :edit => false,
    :add => false,
    :format_name => false,
    :duration => false,
    :room => false,
    :day => false,
    :time => false,
    :ref_number => false,
    :selectNotifyMethod => "ItemApp.PeopleManagement.showProgrammeItem",
    :showControls => false
%>
    
<%= render_cell "items/add_people", :javascript, :prog_item => @prog_item %>
<%= render_cell "items/add_people", :templates %>

<div class="row">
    <div class="col-xs-4 left-jqgrid" id="participants-list">
        <%= render_cell "participants/participant_list", :display,
                :pager => "participants-pager"
         %>
        <div class="voffset10"></div>
        <div id="people-control-view"></div>
    </div>
    <div class="col-xs-5" id="program-item-view">
        <div></div>
    </div>
    <div class="col-xs-3 right-jqgrid" >
        <%= render_cell "items/item_list", :display %>
    </div>
</div>
