<script type="text/template" id="people-control-view-template">
    <div>
        <center>
            <button class="btn btn-primary add-people-button" >
                <%= t "assign" %> <i class="fa fa-chevron-right"></i>
            </button>
        </center>
    </div>
</script>

<script type="text/template" id="program-item-view-template">
    {{ if (typeof id != 'undefined') { }}
        {{ if (title) {}}
            <b>{{= title ? title : "&nbsp;" }}</b>
        {{ }; }}
        <dl class="dl-horizontal dt35 no-bottom-margin">
            {{ if (format_name) {}}
                <dt><%= t "format" %></dt><dd>{{= format_name ? format_name : "&nbsp;" }}</dd>
            {{ }; }}
            {{ if (precis) {}}
                <dt><%= t "item-description" %></dt><dd><%= t 'hover-to-show' %><i class="glyphicon glyphicon-info-sign bpopover" title="<%= t "item-description" %>" data-container="body" data-trigger="hover" data-placement="auto top" data-toggle="popover" data-content='{{= precis ? _.escape(precis) : "&nbsp;" }}'></i></dd>
            {{ }; }}
            {{ if (start_day_str) {}}
                <dt><%= t "item-start-time" %></dt><dd>{{= start_day_str ? start_day_str : "&nbsp;" }} {{= start_time_str ? start_time_str : "&nbsp;" }}</dd>
            {{ }; }}
            {{ if (duration) {}}
                <dt><%= t "duration" %></dt><dd>{{= duration ? duration : "&nbsp;" }} mins</dd>
            {{ }; }}
            {{ if (room) {}}
                <dt><%= t "room" %></dt><dd>{{= room ? room : "&nbsp;" }}</dd>
            {{ }; }}
            {{ if (minimum_people && maximum_people) {}}
                <dt><%= t "item-nb-participants" %></dt><dd>min {{= minimum_people ? minimum_people : "&nbsp;" }} max {{= maximum_people ? maximum_people : "&nbsp;" }}</dd>
            {{ }; }}
        </dl>
    {{ }; }}
</script>

<script type="text/template" id="participant-template">
    <div class="assignment-details" id="{{= person_id}}" src="{{= role_name}}">
        <small>{{= person_name }}</small>
        <button class="btn btn-xs btn-link pull-right remove-person" src="{{= role_name}}" person="{{= person_id}}"><i class="glyphicon glyphicon-remove"></i></button>
    </div>
</script>
