<script type="text/template" id="people-control-view-template">
    <button class="btn btn-primary add-people-button pull-right"><%= t "add" %></button>
</script>

<script type="text/template" id="program-item-view-template">
    {{ if (typeof id != 'undefined') { }}
        <div class="row">
            <div class="col-xs-10" style="padding-left:0;">
                <h4>{{= title ? title : "&nbsp;" }}</h4>
            </div>
            <div class="col-xs-2" style="padding-right:0;">
            	<button class="btn btn-primary save-button pull-right"><%= t "save" %></button>
            </div>
        </div>
        <div class="voffset10"></div>
        <div class="row">
        <div class="well col-xs-12">
            <dl class="dl-horizontal">
                <dt><%= t "ref-number" %></dt><dd>{{= pub_reference_number ? pub_reference_number : "&nbsp;" }}</dd>
                <dt><%= t "format" %></dt><dd>{{= format_name ? format_name : "&nbsp;" }}</dd>
                <dt><%= t "setup" %></dt><dd>{{= setup_name ? setup_name : "&nbsp;" }}</dd>
                <dt><%= t "short-title" %></dt><dd>{{= short_title ? short_title : "&nbsp;" }}</dd>
                <dt><%= t "item-description" %></dt><dd>{{= precis ? precis : "&nbsp;" }}</dd>
                <dt><%= t "notes" %></dt><dd>{{= item_notes ? item_notes : "&nbsp;" }}</dd>
                <dt><%= t "duration" %></dt><dd>{{= duration ? duration : "&nbsp;" }}</dd>
                <dt><%= t "for-print" %></dt><dd>{{= print ? '<%= t "yes" %>' : '<%= t "no" %>' }}</dd>
                <dt><%= t "max-people" %></dt><dd>{{= maximum_people ? maximum_people : "&nbsp;" }}</dd>
                <dt><%= t "min-people" %></dt><dd>{{= minimum_people ? minimum_people : "&nbsp;" }}</dd>
                <dt><%= t "room" %></dt><dd>{{= room ? room : "&nbsp;" }}</dd>
                <dt><%= t "item-start-time" %></dt><dd>{{= start_day_str ? start_day_str : "&nbsp;" }} {{= start_time_str ? start_time_str : "&nbsp;" }}</dd>
            </dl>
        </div>
        </div>
        <div class="row">
        <!-- List of participants etc. -->
        <div><%= t "moderator(s)" %></div>
        <div class="ui-droppable well" id="moderator-area"> <!-- need an id so that we can identify this area -->
        {{ _.each(moderators, function(person) { }}
        <div class="thumbnail clearfix ui-draggable" id="{{= person.id}}" src="moderators">
            <small>
                {{ if (person.pseudonym) { }}
                    {{= person.pseudonym.prefix }} {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                    ({{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                {{ } else if (person.pub_first_name || person.pub_last_name) { }}
                    {{= person.pub_prefix}} {{= person.pub_first_name }} {{= person.pub_last_name }} {{= person.pub_suffix }}
                    ({{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                {{ } else { }}
                    {{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                {{ } }}
            </small>
            <button class="btn btn-xs btn-link pull-right remove-person" src="moderators" person="{{= person.id}}"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
        {{ }); }}
        </div>
        <div><%= t "program-participants" %></div>
        <div class="ui-droppable well" id="participant-area">
        {{ _.each(participants, function(person) { }}
        <div class="thumbnail clearfix ui-draggable" id="{{= person.id}}" src="participants">
            <small>
                {{ if (person.pseudonym) { }}
                    {{= person.pseudonym.prefix }} {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                    ({{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                {{ } else if (person.pub_first_name || person.pub_last_name) { }}
                    {{= person.pub_prefix}} {{= person.pub_first_name }} {{= person.pub_last_name }} {{= person.pub_suffix }}
                    ({{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                {{ } else { }}
                    {{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                {{ } }}
            </small>
            <button class="btn btn-xs btn-link pull-right remove-person" src="participants" person="{{= person.id}}"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
        {{ }); }}
        </div>
        <div><%= t "reserved" %></div>
        <div class="ui-droppable well" id="reserve-area">
        {{ _.each(reserves, function(person) { }}
        <div class="thumbnail clearfix ui-draggable" id="{{= person.id}}" src="reserves">
            <small>
                {{ if (person.pseudonym) { }}
                    {{= person.pseudonym.prefix }} {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                    ({{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                {{ } else if (person.pub_first_name || person.pub_last_name) { }}
                    {{= person.pub_prefix}} {{= person.pub_first_name }} {{= person.pub_last_name }} {{= person.pub_suffix }}
                    ({{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                {{ } else { }}
                    {{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                {{ } }}
            </small>
            <button class="btn btn-xs btn-link pull-right remove-person" src="reserves" person="{{= person.id}}"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
        {{ }); }}
        </div>
        <div><%= t "invisible" %></div>
        <div class="ui-droppable well" id="invisible-area">
        {{ _.each(invisibles, function(person) { }}
        <div class="thumbnail clearfix ui-draggable" id="{{= person.id}}" src="invisibles">
            <small>
                {{ if (person.pseudonym) { }}
                    {{= person.pseudonym.prefix }} {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                    ({{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                {{ } else if (person.pub_first_name || person.pub_last_name) { }}
                    {{= person.pub_prefix}} {{= person.pub_first_name }} {{= person.pub_last_name }} {{= person.pub_suffix }}
                    ({{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                {{ } else { }}
                    {{= person.prefix }} {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                {{ } }}
            </small>
            <button class="btn btn-xs btn-link pull-right remove-person" src="invisibles" person="{{= person.id}}"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
        {{ }); }}
        </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding-right:0;">
                <button class="btn btn-primary save-button pull-right"><%= t "save" %></button>
            </div>
        </div>
        <div class="voffset10"></div>
    {{ }; }}    
</script>
