<script type="text/template" id="people-control-view-template">
    <button class="btn btn-primary add-people-button pull-right"><%= t "Add" %></button>
</script>

<script type="text/template" id="program-item-view-template">
    {{ if (typeof id != 'undefined') { }}
        <div class="row">
            <div class="col-xs-10">
                <h5>{{= title ? title : "&nbsp;" }}</h5>
            </div>
            <div class="col-xs-2">
                <button class="btn btn-primary save-button pull-right"><%= t "Save" %></button>
            </div>
        </div>
        <div class="row">
        <div class="well col-xs-12">
            <dl class="dl-horizontal">
                <dt><%= t "Ref Number" %></dt><dd>{{= pub_reference_number ? pub_reference_number : "&nbsp;" }}</dd>
                <dt><%= t "Format" %></dt><dd>{{= format_name ? format_name : "&nbsp;" }}</dd>
                <dt><%= t "Setup" %></dt><dd>{{= setup_name ? setup_name : "&nbsp;" }}</dd>
                <dt><%= t "short-title" %></dt><dd>{{= short_title ? short_title : "&nbsp;" }}</dd>
                <dt><%= t "description" %></dt><dd>{{= precis ? precis : "&nbsp;" }}</dd>
                <dt><%= t "Notes" %></dt><dd>{{= notes ? notes : "&nbsp;" }}</dd>
                <dt><%= t "Duration" %></dt><dd>{{= duration ? duration : "&nbsp;" }}</dd>
                <dt><%= t "For Print" %></dt><dd>{{= print ? '<%= t "yes" %>' : '<%= t "no" %>' }}</dd>
                <dt><%= t "Max People" %></dt><dd>{{= maximum_people ? maximum_people : "&nbsp;" }}</dd>
                <dt><%= t "Min People" %></dt><dd>{{= minimum_people ? minimum_people : "&nbsp;" }}</dd>
                <dt><%= t "Room" %></dt><dd>{{= room ? room : "&nbsp;" }}</dd>
                <dt><%= t "Start Time" %></dt><dd>{{= start_day_str ? start_day_str : "&nbsp;" }} {{= start_time ? start_time : "&nbsp;" }}</dd>
            </dl>
        </div>
        </div>
        <div class="row">
        <!-- List of participants etc. -->
        <div><%= t "Moderators" %></div>
        <div class="ui-droppable well" id="moderator-area"> <!-- need an id so that we can identify this area -->
        {{ _.each(moderators, function(person) { }}
        <div class="thumbnail clearfix ui-draggable" id="{{= person.id}}" src="moderators">
            <small>
                {{ if (person.pseudonym) { }}
                    {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                    ({{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                {{ } else { }}
                    {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                {{ } }}
            </small>
            <button class="btn btn-xs btn-link pull-right remove-person" src="moderators" person="{{= person.id}}"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
        {{ }); }}
        </div>
        <div><%= t "Participants" %></div>
        <div class="ui-droppable well" id="participant-area">
        {{ _.each(participants, function(person) { }}
        <div class="thumbnail clearfix ui-draggable" id="{{= person.id}}" src="participants">
            <small>
                {{ if (person.pseudonym) { }}
                    {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                    ({{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                {{ } else { }}
                    {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                {{ } }}
            </small>
            <button class="btn btn-xs btn-link pull-right remove-person" src="participants" person="{{= person.id}}"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
        {{ }); }}
        </div>
        <div><%= t "Reserved" %></div>
        <div class="ui-droppable well" id="reserve-area">
        {{ _.each(reserves, function(person) { }}
        <div class="thumbnail clearfix ui-draggable" id="{{= person.id}}" src="reserves">
            <small>
                {{ if (person.pseudonym) { }}
                    {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                    ({{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                {{ } else { }}
                    {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                {{ } }}
            </small>
            <button class="btn btn-xs btn-link pull-right remove-person" src="reserves" person="{{= person.id}}"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
        {{ }); }}
        </div>
        <div><%= t "Invisible" %></div>
        <div class="ui-droppable well" id="invisible-area">
        {{ _.each(invisibles, function(person) { }}
        <div class="thumbnail clearfix ui-draggable" id="{{= person.id}}" src="invisibles">
            <small>
                {{ if (person.pseudonym) { }}
                    {{= person.pseudonym.first_name }} {{= person.pseudonym.last_name }}  {{= person.pseudonym.suffix }}
                    ({{= person.first_name }} {{= person.last_name }}  {{= person.suffix }})
                {{ } else { }}
                    {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}
                {{ } }}
            </small>
            <button class="btn btn-xs btn-link pull-right remove-person" src="invisibles" person="{{= person.id}}"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
        {{ }); }}
        </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary save-button pull-right"><%= t "Save" %></button>
            </div>
        </div>
    {{ }; }}    
</script>
