<%= render "shared/error_messages", :target => @postalAddress %>
<%= form_for @postalAddress, :url => @urlstr, :html => {:class => "layerform", :id => "layerform", :'accept-charset' => 'UTF-8'} do |f| %>
<div class='address_postal'>
<div class='address_details'>
	<div class='line'><div class='field_name'>Line1:</div><div class='field_value'><%= f.text_field :line1 %></div></div>
	<div class='line'><div class='field_name'>Line2:</div><div class='field_value'><%= f.text_field :line2 %></div></div>
	<div class='line'><div class='field_name'>Line3:</div><div class='field_value'><%= f.text_field :line3 %></div></div>
	<div class='city'><div class='field_name'>city:</div><div class='field_value'><%= f.text_field :city %></div></div>
	<div class='state'><div class='field_name'>state:</div><div class='field_value'><%= f.text_field :state %></div></div>
	<div class='postcode'><div class='field_name'>post code:</div><div class='field_value'><%= f.text_field :postcode %></div></div>
	<div class='country'><div class='field_name'>country:</div><div class='field_value'><%= f.text_field :country %></div></div>
	<div class='boolean'><div class='field_name'>default?:</div><div class='field_value'><%= f.check_box :isdefault %></div></div>
	<div class='form-buttons'>
		<%= f.submit "Submit" %>
		<button type="button" class='jqmClose'>Close</button>
	</div>
</div>
</div>
<% end %>
<div id='form-response'>
</div>
