<div class='address'>
    <div class='address_postal'>
	  <div class='boolean'>default?: <%= @postalAddress.isdefault %></div>
  	  <div class='line'>line1: <%= @postalAddress.line1 %></div>
	  <div class='line'>line2: <%= @postalAddress.line2 %></div>
	  <div class='line'>line3: <%= @postalAddress.line3 %></div>
	  <div class='city'>city: <%= @postalAddress.city %></div>
	  <div class='state'>state: <%= @postalAddress.state %></div>
	  <div class='postcode'>post code: <%= @postalAddress.postcode %></div>
	  <div class='country'>country: <%= @postalAddress.country %></div>
	  <div class='phone'>phone: <%= @postalAddress.phone %></div>
	</div>
</div>
