
<% form_for(@mail_config) do |f| %>
    <%= f.error_messages %>
    <div class='line'><div class='field_name'>Conference Name</div><div class='field_value'><%= f.text_field :conference_name %></div></div>
    <div class='line'><div class='field_name'>CC</div><div class='field_value'><%= f.text_field :cc %></div></div>
    <div class='line'><div class='field_name'>From</div><div class='field_value'><%= f.text_field :from %></div></div>
    <div class='line'><div class='field_name'>Info</div><div class='field_value'><%= f.text_field :info %></div></div>
    <div class='line'><div class='field_name'>Domain</div><div class='field_value'><%= f.text_field :domain %></div></div>
    <%= f.submit 'Save' %>
<% end %>
