
<div class='line'><div class='field_name'>Conference Name</div><div class='field_value'><%= @mail_config.conference_name %></div></div>
<div class='line'><div class='field_name'>CC</div><div class='field_value'><%= @mail_config.cc %></div></div>
<div class='line'><div class='field_name'>From</div><div class='field_value'><%= @mail_config.from %></div></div>
<div class='line'><div class='field_name'>Info</div><div class='field_value'><%= @mail_config.info %></div></div>
<div class='line'><div class='field_name'>Domain</div><div class='field_value'><%= @mail_config.domain %></div></div>
