<table>
  <tr>
  </tr>

<% @mail_configs.each do |mail_config| %>
  <tr>
    <td><%= mail_config.conference_name %></td>
    <td><%= link_to 'Show', mail_config %></td>
    <td><%= link_to 'Edit', edit_mail_config_path(mail_config) %></td>
    <td><%= link_to 'Destroy', mail_config, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New mail_config', new_mail_config_path %>