
<%= render_cell "publications/print", :javascript %>
<%= render_cell "publications/print", :templates %>

<div class="row">
    <div class="col-xs-2">
        <div class="gr-sidebar" role="complementary">
            <ul class="gr-sidenav nav nav-pills nav-stacked">
                <li>
                    <a href="#report/program_book_report"><%= t "publications-program-guide" %></a>
                </li>
                <li>
                    <a href="#table_tents"><%= t "publications-table-tents" %></a>
                </li>
                <li>
                    <a href="#badge_labels"><%= t "publications-back-of-badge-labels" %></a>
                </li>
                <li>
                    <a href="#publications_room_signs"><%= t "publications-room-signs" %></a>
                </li>
                <!-- TODO - add participants -->
                <!-- TODO - add pink sheets -->
            </ul>
        </div>
    </div>
    <div class="col-xs-10">
        <div id='report-form-area'></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id='report-results-area'></div>
    </div>
</div>
