
<script type="text/template" id="merge-actions-template">

    <row>
        <div class="col-md-12" style='margin-top: 2em;'>
            <p><%= t 'pending-import-intro' %></p>
        </div>
        <div class="col-md-5 col-md-offset-4">
            <p>
                <button type="button" class="btn btn-primary btn-lg btn-block discard"><%= t "discard" %></button>
            </p>
        </div>
    </row>
    <row>
        <div class="col-md-5 col-md-offset-4">
            <p>
                <button type="button" class="btn btn-primary btn-lg btn-block merge"><%= t "merge" %></button>
            </p>
        </div>
    </row>
    <row>
        <div class="col-md-5 col-md-offset-4">
            <p>
                <button type="button" class="btn btn-primary btn-lg btn-block create"><%= t "create new" %></button>
            </p>
        </div>
    </row>
    <row>
        <div class="col-md-12" style='margin-top: 2em;'>
            <p><%= t 'pending-import-merge-all' %></p>
        </div>
        <div class="col-md-5 col-md-offset-4">
            <p>
                <button type="button" class="btn btn-primary btn-lg btn-block merge-all"><%= t "merge-all" %></button>
            </p>
        </div>
    </row>

</script>
