
<%= render_cell "surveys/manage", :javascript %>

<%= render_cell "surveys/survey_list", :javascript,
    :caption => "Surveys"
    # :selectNotifyMethod => "RoomApp.RoomManagement.selectRoom"
    %>
    
<%= render_cell "surveys/group_list", :javascript,
    :caption => "Groups"
    # :selectNotifyMethod => "RoomApp.RoomManagement.selectRoom"
    %>

<%= render_cell "surveys/survey_list", :templates %>
<%= render_cell "surveys/group_list", :templates %>

<div class="row-fluid">
    <div class="span2" style="height : 370px; overflow : auto;">
        <%= render_cell "surveys/survey_list", :display %>
    </div>
    <div class="span2" style="height : 370px; overflow : auto;">
        <%= render_cell "surveys/group_list", :display %>
    </div>
    <div class="span8" >
    </div>
</div>
