
<%= render_cell "surveys/manage", :javascript %>

<%= render_cell "surveys/survey_list", :javascript,
    :caption => "Surveys",
    :drillDownNotifyMethod => "SurveyGroupApp.SurveyGroupManagement.showGroups",
    :selectNotifyMethod => "SurveyApp.SurveyManagement.selectSurvey"
    %>
    
<%= render_cell "surveys/group_list", :javascript,
    :caption => "Groups",
    :drillDownNotifyMethod => "SurveyQuestionApp.SurveyQuestionManagement.showQuestions",
    :selectNotifyMethod => "SurveyGroupApp.SurveyGroupManagement.selectGroup"
    %>

<%= render_cell "surveys/question_list", :javascript,
    :caption => "Questions"
    %>

<%= render_cell "surveys/survey_list", :templates %>
<%= render_cell "surveys/group_list", :templates %>
<%= render_cell "surveys/question_list", :templates %>

<div class="row">
    <div class="col-xs-4" style="height : 370px; overflow : auto;">
        <%= render_cell "surveys/survey_list", :display %>
    </div>
    <div class="col-xs-4" style="height : 370px; overflow : auto;">
        <%= render_cell "surveys/group_list", :display %>
    </div>
    <div class="col-xs-4" style="height : 370px; overflow : auto;">
        <%= render_cell "surveys/question_list", :display %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 well" >
        <div id="survey-edit-area"></div>
    </div>
</div>
