
<ul class="nav nav-tabs" id="participant-tabs">
    <li class="active"><a href="#invite-tab" data-toggle="tab"><%= t 'summary' %></a></li>
    <li><a href="#contacts-tab" data-toggle="tab"><%= t 'contact-info' %></a></li>
    <li><a href="#published-info-tab" data-toggle="tab"><%= t 'published-info' %></a></li>
    <li><a href="#tags-tab" data-toggle="tab"><%= t 'tags' %></a></li>
    <li><a href="#surveys-tab" data-toggle="tab"><%= t 'surveys' %></a></li>
    <li><a href="#availability-tab" data-toggle="tab"><%= t 'availability' %></a></li>
    <li><a href="#items-tab" data-toggle="tab"><%= t 'program-items' %></a></li>
    <li><a href="#emails-tab" data-toggle="tab"><%= t 'emails' %></a></li>
    <%= extra_participant_tabs.html_safe %>
</ul>
<div id="item-tabs" class="panel-body"></div>

<%= render_cell "participants/survey_review", :templates %>
<%= render_cell "participants/survey_review", :javascript %>
<%= render_cell "communications/mail_history", :javascript, 
                :pageSize => 5,
                :pageList => '[5, 10, 15]',
                :delayed => true,
                :selectNotifyMethod => 'ParticipantApp.PeopleManagement.showEmail'
%>
