<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#registration-tab" data-toggle="tab"><%= t 'reg-detais' %></a></li>
    <li><a href="#contacts-tab" data-toggle="tab"><%= t 'contact-info' %></a></li>
    <li><a href="#invite-tab" data-toggle="tab"><%= t 'invite-details' %></a></li>
    <li><a href="#bio-tab" data-toggle="tab"><%= t 'bio' %></a></li>
    <li><a href="#bio-image" data-toggle="tab"><%= t 'picture' %></a></li>
    <li><a href="#tags-tab" data-toggle="tab"><%= t 'tags' %></a></li>
    <li><a href="#availability-tab" data-toggle="tab"><%= t 'availability' %></a></li>
    <li><a href="#items-tab" data-toggle="tab"><%= t 'items' %></a></li>
</ul>
<br>
<div id="item-tabs"></div>
