<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#invite-tab" data-toggle="tab"><%= t 'Summary' %></a></li>
    <li><a href="#contacts-tab" data-toggle="tab"><%= t 'contact-info' %></a></li>
    <li><a href="#published-info" data-toggle="tab"><%= t 'published info' %></a></li>
    <li><a href="#bio-image" data-toggle="tab"><%= t 'picture' %></a></li>
    <li><a href="#bio-tab" data-toggle="tab"><%= t 'bio' %></a></li>
    <li><a href="#tags-tab" data-toggle="tab"><%= t 'tags' %></a></li>
    <li><a href="#surveys-tab" data-toggle="tab"><%= t 'surveys' %></a></li>
    <li><a href="#registration-tab" data-toggle="tab"><%= t 'reg-detais' %></a></li>
    <li><a href="#availability-tab" data-toggle="tab"><%= t 'availability' %></a></li>
    <li><a href="#items-tab" data-toggle="tab"><%= t 'program-items' %>&nbsp;&nbsp;<span class="badge">13</span></a></li>
    <li><a href="#emails-tab" data-toggle="tab"><%= t 'emails' %>&nbsp;&nbsp;<span class="badge">2</span></a></li>
    <li><a href="#tasks-tab" data-toggle="tab"><%= t 'tasks' %>&nbsp;&nbsp;<span class="badge">1</span></a></li>
    <li><a href="#documents-tab" data-toggle="tab"><%= t 'documents' %>&nbsp;&nbsp;<span class="badge">4</span></a></li>
</ul>
<div id="item-tabs" class="panel-body"></div>