<% @extra_template.each do |extra| %>
    <%= render extra %>
<% end %>

<script type="text/template" id="person-tab-layout-template">
    <div class="tab-content">
        <div class="tab-pane  active" id="invite-tab"><div id="invite-view"></div></div>
        <div class="tab-pane" id="contacts-tab">
            <div id="contacts-view"></div>
        </div>
        <div class="tab-pane" id="published-info-tab"><div id="published-info-view"></div></div>
        <div class="tab-pane" id="tags-tab">
            <div id="tags-view"></div>
        </div>
        <div class="tab-pane " id="surveys-tab">
            <%= render_cell "participants/survey_review", :tab_display %>            
        </div>
        <div class="tab-pane" id="availability-tab">
            <section>
                <div id="availability-div"></div>
                <%= t "do-not-schedule-against:" %>
                <div id="exclusion-items-div"></div>
                <%= t "do-not-schedule-at:" %>
                <div id="exclusion-times-div"></div>
            </section>
        </div>
        <div class="tab-pane" id="items-tab"><div id="items-view"></div></div>
        <div class="tab-pane" id="emails-tab">
            <%= render_cell "communications/mail_history", :display %>
        </div>
        <% @extra_tab_template.each do |extra| %>
            <%= render extra %>
        <% end %>
    </div>
</script>

<script type="text/template" id="address-layout-template">
    <section>
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <div id="postal-control-div"></div>
                <div id="postal-region-div"></div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div id="email-control-div"></div>
                <div id="email-region-div"></div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div id="phone-control-div"></div>
                <div id="phone-region-div"></div>
            </div>    
        </div>
    </section>
</script>


<script type="text/template" id="address-control-template">
    <button class="add-model-button btn btn-xs btn-primary pull-right ">
        <%= t "add-address" %>
    </button>
    <h5><%= t "postal-addresses" %></h5>
</script>

<script type="text/template" id="email-control-template">
<div>
    <button class="add-model-button btn btn-xs btn-primary pull-right "><%= t "add-email" %></button>
    <h5><%= t "email-addresses" %></h5>
</div>
</script>

<script type="text/template" id="phone-control-template">
<div>
    <button class="add-model-button btn btn-xs btn-primary pull-right ">
        <%= t "add-phone" %>
    </button>
    <h5><%= t "phone" %></h5>
</div>
</script>

<script type="text/template" id="person-form-template">
    <form class="form-horizontal" role="form">
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                   <%= t  "name" %>
                </label>
                <span data-editor>
                <div class="col-sm-4" data-editors="first_name"></div> <!--  The form element needs a placeholder="XXXXXX" -->
                <div class="col-sm-4" data-editors="last_name"></div>
                <div class="col-sm-2" data-editors="suffix"></div>
                </span>
            </div>
            <div class="form-group">
            <label class="col-sm-2 control-label">
                <%= t "publication-name" %>
            </label>
            <div class="col-sm-4" data-editors="pseudonym.first_name"></div>
            <div class="col-sm-4" data-editors="pseudonym.last_name"></div>
            <div class="col-sm-2" data-editors="pseudonym.suffix"></div>
            </div>
            <div class="form-group">
            <label class="col-sm-2 control-label">
                <%= t "company-info" %>
            </label>
            <div class="col-sm-5" data-editors="company"></div>
            <div class="col-sm-5" data-editors="job_title"></div>
            </div>
            <div class="form-group">
            <label class="col-sm-2 control-label">
                <%= t "comments" %>
            </label>
            <div class="col-sm-10" data-editors="comments"></div>
            </div>
            <div class="form-group">
            <label class="col-sm-2 control-label">
                <%= t "invitation-status" %>
            </label>
            <div class="col-sm-4" data-editors="invitestatus_id"></div>
            </div>
            <div class="form-group">
            <label class="col-sm-2 control-label">
                <%= t "acceptance-status" %>
            </label>
            <div class="col-sm-4" data-editors="acceptance_status_id"></div>
            </div>
            <div class="form-group">
            <label class="col-sm-2 control-label">
                <%= t "invitation-category" %>
            </label>
            <div class="col-sm-4" data-editors="invitation_category_id"></div>
            </div>
        </fieldset>
    </form>
</script>

<script type="text/template" id="summary-layout-template">
    <section>
        <div id="id-region-div"></div>
        <div id="reg-region-div"></div>
    </section>
</script>

<script type="text/template" id="registration-view-template">
    <div class="col-md-4" id="registration-view-details">  
        <h5><%= t "registration"%></h5>  
        {{ if (typeof id != 'undefined') { }}
            
            <button class="model-edit-button btn btn-primary btn-xs pull-right"><%= t "edit" %></button>
            <dl class="dl-horizontal-small dt50">
                <dt><%= t "reg-number" %></dt>
                <dd>{{= registration_number ? registration_number : "&nbsp;" }}</dd>
                <dt><%= t "reg-type" %></dt>
                <dd>{{= registration_type ? registration_type : "&nbsp;" }}</dd>
                <dt><%= t "registered" %></dt>
                <dd>{{= registered ? '<%= t "yes" %>' : '<%= t "no" %>' }}</dd>
                <dt><%= t "can-share-details" %></dt>
                <dd>{{= can_share ? '<%= t "yes" %>' : '<%= t "no" %>' }}</dd>
            </dl>       
        {{ } else { }}
            <%= t "no-registration-details" %>
            <button class="model-new-button btn btn-primary btn-xs pull-right">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
            
        {{ }; }}
    </div>
</script>

<script type="text/template" id="invite-view-template">
    <div class="col-md-3">
        <h5>Identification</h5>
        <button class="model-edit-button btn btn-primary btn-xs pull-right"><i class="glyphicon glyphicon-pencil"></i></button>
        <p>
            {{ if (first_name || last_name) { }}
                <strong>{{= first_name ? first_name : "" }} {{= last_name ? last_name : "" }} {{= suffix ? suffix : "" }}</strong>
                <br>
            {{ } }}  
            {{ if (typeof pseudonym != 'undefined') { }}  
                {{ if (pseudonym.first_name || pseudonym.last_name) { }}
                    <strong>{{= pseudonym.first_name ? pseudonym.first_name : "" }} {{= pseudonym.last_name ? pseudonym.last_name : "" }} {{= pseudonym.suffix ? pseudonym.suffix : "" }}</strong>
                    <span class="minor-text">(<%= t "published-name" %>)</span>
                    <br>
                {{ } }}    
            {{ } }}    
            {{= job_title ? job_title : '<span class="minor-text"><%= t "no-job-title-specified" %></span>' }}<br>
            {{= company ? company : '<span class="minor-text"><%= t "no-company-specified" %></span>' }}
        </p>
        <p><span class="label label-default">Participant</span></p>
    </div>

    <div class="col-md-5">
        <h5><%= t "invitation-status"%></h5>
        <button class="model-edit-button btn btn-primary btn-xs pull-right"><i class="glyphicon glyphicon-pencil"></i></button>
        {{ if (typeof id != 'undefined') { }}
            {{ if (!survey_key) { }}
            <p>
                <button class="model-generate-invite-key-button btn btn-primary btn-xs pull-right"><%= t "generate-invite-key" %></button>
            </p>
            {{ } }}
            <dl class="dl-horizontal-small dt35">
                <dt><%= t "invite-status" %></dt>
                <dd>{{= invitestatus_name ? invitestatus_name : "&nbsp;"}}</dd>
                <dt><%= t "acceptance-status" %></dt>
                {{ if (acceptance_status_name == 'Accepted') { }}
                    <dd><span class="label label-success"><span class="glyphicon glyphicon-ok"></span> <%= t "person-acceptance-accepted" %></span></dd>
                    {{ } else if (acceptance_status_name == 'Declined')  { }}
                    <dd><span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> <%= t "person-acceptance-declined" %></span></dd>
                    {{ } else if ((acceptance_status_name == 'Unknown') || (acceptance_status_name == 'Probable'))  { }}
                    <dd><span class="label label-warning"> <%= t "person-acceptance-unknown" %></span></dd>                    
                    {{ } else { }}
                    <dd>{{= acceptance_status_name ? acceptance_status_name : "&nbsp;"}}</dd>
                {{ } }}    
                <dt><%= t "invitation-category" %></dt>
                <dd>{{= invitation_category_name ? invitation_category_name : "&nbsp;"}}</dd>
                <dt><%= t "survey-key" %></dt>
                <dd>{{= survey_key }}</dd>
                <dt><%= t "comments" %></dt>
                <dd>{{= comments }}</dd>
            </dl>
        {{ }; }}
    </div>
</script>

<script type="text/template" id="published-info-layout-template">
    <section>
        <div id="picture-region-div" class="col-md-3"></div>
        <div id="bio-region-div" class="col-md-9"></div>
    </section>
</script>

<script type="text/template" id="bio-image-template">
            <h5><%= t "published-picture" %><a class="mtooltip"><i class="glyphicon glyphicon-info-sign"></i><span><%= t 'tip-published-picture' %></span></a></h5>
            <% if ConfigService.hasCloudinaryConfig? %>
            <div>
                {{ if (typeof id != 'undefined') { }}
                <div align="left" class="voffset10">
                	<image src="{{= bio_picture ? bio_picture.standard.url : '' }}" class="img-responsive img-rounded"></image>
                </div>
                <div class="caption voffset5">
                    <p><%= t "bio-image" %>
                        <button class="model-delete-button btn btn-primary btn-xs pull-right">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                        <button class="model-edit-button btn btn-primary btn-xs pull-right">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    </p>
                </div>
                {{ } else { }}
                <div class="caption">
                    <p>
                        <%= t "bio-image" %>
                        <button class="model-new-button btn btn-primary btn-xs pull-right">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    </p>
                </div>
                {{ }; }}
            </div>
            <% else %>
                <%= t 'cloudinary-not-configured' %>
            <% end %>
   
</script>

<script type="text/template" id="bio-view-template">
        <h5><%= t 'biography' %><a class="mtooltip"><i class="glyphicon glyphicon-info-sign"></i><span><%= t 'tip-published-bio' %></span></a></h5>
        {{ if (typeof id != 'undefined') { }}
            <button class="model-edit-button btn btn-primary btn-xs pull-right"><span class="glyphicon glyphicon-pencil"></span></button>
            <dl class="dl-airy">
                <dt><%= t "bio" %>{{= bio ? ' <span class="minor-text"> (<%= t "biography-edited" %>)</span>' : (survey_bio ? ' <span class="minor-text"> (<%= t "biography-filled-out-by-person-on-the-survey" %>)</span>' : '&nbsp;') }}</dt>
                <dd>{{= bio ? bio : (survey_bio ? survey_bio : "&nbsp;") }}</dd>
                <dt><%= t "participant-photo" %></dt>
                <dd>{{= photourl ? "<a href='" + photourl + "' target='_blank'>" + photourl + "</a>" : "<span class='minor-text'><%= t "none-provided" %></span>" }}</dd>
                <dt><%= t "participant-url" %></dt>
                <dd>{{= website ? "<a href='" + website + "' target='_blank'>" + website + "</a>" : "<span class='minor-text'><%= t "none-provided" %></span>" }}</dd>
                <dt><%= t "participant-twitter-handle" %></dt>
                <dd>{{= twitterinfo ? "<a href='https://twitter.com/" + twitterinfo + "' target='_blank'>" + twitterinfo + "</a>" : "<span class='minor-text'><%= t "none-provided" %></span>" }}</dd>
                <dt><%= t "participant-facebook-url" %></dt>
                <dd>{{= facebook ? "<a href='" + facebook + "' target='_blank'>" + facebook + "</a>" : "<span class='minor-text'><%= t "none-provided" %></span>" }}</dd>
                <dt><%= t "other-social-media" %></dt>
                <dd>{{= othersocialmedia ? "<a href='" + othersocialmedia + "' target='_blank'>" + othersocialmedia + "</a>" : "<span class='minor-text'><%= t "none-provided" %></span>" }}</dd>
            </dl>
        {{ } else { }}
            <button class="model-new-button btn btn-primary btn-xs pull-right"><span class="glyphicon glyphicon-pencil"></span></button>
            <dl class="dl-airy">
                <dt><%= t "bio" %></dt>
                <dd>{{= survey_bio ? survey_bio : "&nbsp;" }}</dd>
            </dl>
        {{ }; }}

</script>

<script type="text/template" id="phone-view-template">
<div>
    <div  class="contact-details-div">
        <div class="caption" class="pull-left">
            <button class="model-delete-button btn btn-primary btn-xs pull-right">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
            <button class="model-edit-button btn btn-primary btn-xs pull-right">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
            <small>
                <dl class="dl-horizontal-small">
                    <dt>
                        {{= phone_type_name ? phone_type_name : "&nbsp;"}}
                    </dt>
                    <dd>
                        {{= number ? "<a href='tel:" + number + "'>" + number + "</a>" : "&nbsp;" }}
                    </dd>
                </dl> </small>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="email-view-template">
<div>
    <div class="contact-details-div">
        
            <button class="model-delete-button btn btn-primary btn-xs pull-right">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
            <button class="model-edit-button btn btn-primary btn-xs pull-right">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
            {{= isdefault ? '<div class="default-label pull-right"><span class="glyphicon glyphicon-ok"></span> <%= t "default" %></div>' : ''}}
            <small>
                <dl class="dl-horizontal-small">
                    <dd>
                        {{= email ? "<a href='mailto:" + email + "'>" + email + "</a>" : "&nbsp;" }}
                    </dd>
                </dl> </small>
        
    </div>
</div>
</script>


<script type="text/template" id="address-view-template">
    <div class="contact-details-div">
            
            <button class="model-delete-button btn btn-primary btn-xs pull-right">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
            <button class="model-edit-button btn btn-primary btn-xs pull-right">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
            {{= isdefault ? '<div class="default-label pull-right"><span class="glyphicon glyphicon-ok"></span> <%= t "default" %></div>' : ''}}
            <small>
                <dl class="dl-horizontal-small">
                    <dt>
                        <%= t "line1" %>
                    </dt>
                    <dd>
                        {{= line1 ? line1 : "&nbsp;" }}
                    </dd>
                    {{ if (line2) { }}                    
                        <dt>
                            <%= t "line2" %>
                        </dt>
                        <dd>
                            {{= line2 ? line2 : "&nbsp;" }}
                        </dd>
                    {{ } }}    
                    {{ if (line3) { }}
                        <dt>
                            <%= t "line3" %>
                        </dt>
                        <dd>
                            {{= line3 ? line3 : "&nbsp;" }}
                        </dd>
                    {{ } }}
                    <dt>
                        <%= t "city" %>
                    </dt>
                    <dd>
                        {{= city ? city : "&nbsp;" }}
                    </dd>
                    <dt>
                        <%= t "state" %>
                    </dt>
                    <dd>
                        {{= state ? state : "&nbsp;" }}
                    </dd>
                    <dt>
                        <%= t "post-code" %>
                    </dt>
                    <dd>
                        {{= postcode ? postcode : "&nbsp;" }}
                    </dd>
                    <dt>
                        <%= t "country" %>
                    </dt>
                    <dd>
                        {{= country ? country : "&nbsp;" }}
                    </dd>
                </dl> 
            </small>
        
    </div>
</script>

<script type="text/template" id="exclusions-layout-template">
<section>
    <div id="dates-exclusions-div"></div>
    <%= t "do-not-schedule-against:" %>
    <div id="items-exclusions-div"></div>
    <%= t "do-not-schedule-at:" %>
    <div id="times-exclusions-div"></div>
</section>
</script>

<script type="text/template" id="tag-context-layout-template">
<div class="thumbnail clearfix">
    <button class="model-add-tag-button btn btn-primary btn-xs pull-right" tagcontext="{{= context }}">
        <%= t "add" %>
    </button>
    <span class="label label-default">{{= context }}</span>
    {{ _.each(tags, function(tag) { }}
    <span class="label label-info">{{= tag }} <a href="{{= '/tags/' + obj_id + '/remove?class=Person&context=' + context + '&tag=' + tag }}" class="tag-remove-link"><i class="glyphicon glyphicon-remove"></i></a></span>
    {{ }); }}
</div>
</script>

<script type="text/template" id="tag-cloud-context-layout-template">
<div class="panel-group" id="participant-tag-cloud-parent">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title tag-panel-title">
                <a data-toggle="collapse" data-parent="#participant-tag-cloud-parent" href="#{{= context }}">{{= context }}</a>
            </h5>
        </div>
        <div id="{{= context }}" class="panel-collapse collapse">
            <div class="panel-body">
                {{ _.each(tags, function(tag) { }}
                <span class="label label-info select-tag-button" tagcontext="{{= context}}" tagname="{{= tag.name}}">{{= tag.name }} {{= tag.count }}</span>
                {{ }); }}
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="date-exclusion-view-template">
{{ if (typeof id != 'undefined') { }}
<div class="thumbnail clearfix">
    <button class="model-edit-button btn btn-primary btn-xs pull-right">
        <%= t "edit" %>
    </button>
    <small> <em><%= t 'arrival'%></em>: {{= start_time_str }} <i class="glyphicon glyphicon-arrow-right"></i> <em><%= t 'departure'%></em>: {{= end_time_str }} </small>
</div>
{{ } else { }}
    <button class="model-new-button btn btn-primary btn-xs pull-right">
        <%= t "new" %>
    </button>
{{ }; }}
</script>

<script type="text/template" id="item-exclusion-view-template">
<div class="thumbnail clearfix">
    <small> {{= title }} </small>
</div>
</script>

<script type="text/template" id="time-exclusion-view-template">
<div class="thumbnail clearfix">
    <small> {{= start_str }} <i class="glyphicon glyphicon-arrow-right"></i> {{= end_str }} </small>
</div>
</script>

<script type="text/template" id="program-item-view-template">
    {{ if (typeof id != 'undefined') { }}
            <td>
                <strong><a href="#">{{= title ? title : "&nbsp;" }}</a></strong> ({{= role ? role : "&nbsp;" }})<br>
                {{= time_slot ? start_time_str : '<span class="minor-text"><%= t "no-date-and-time-specified" %></span>' }}
                {{ if ((typeof other_participants.join(", ") != 'undefined') && other_participants.join(", ").length > 1) { }}
                    <br>
                    <strong><%= t "with"%> </strong><em>{{= other_participants.join(", ") }}</em>
                {{ }; }}
            </td>
            <td align="right">
                <nobr>{{= isPublished ? '<div class="default-label"><span class="glyphicon glyphicon-ok"></span> <%= t "published" %></div>' : ''}}</nobr>
            </td>
    {{ }; }}
</script>


<script type="text/template" id="participant-filters-template">
    <span class="label label-info remove-filter-button filter-remove-button" tagcontext="{{= context}}" tagname="{{= name }}">{{= name }}<i class="glyphicon glyphicon-remove"></i></span>
</script>


