<!--
-->
<script type="text/template" id="person-form-template">
    <form class="form-horizontal" role="form">
        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label">
                   <%= t  "name" %>
                </label>
                <span data-editor>
                <div class="col-sm-4" data-editors="first_name"></div> <!--  The form element needs a placeholder="XXXXXX" -->
                <div class="col-sm-4" data-editors="last_name"></div>
                <div class="col-sm-2" data-editors="suffix"></div>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
            <label class="col-sm-2 control-label">
                <%= t "publication-name" %>
            </label>
            <div class="col-sm-4" data-editors="pseudonym.first_name"></div>
            <div class="col-sm-4" data-editors="pseudonym.last_name"></div>
            <div class="col-sm-2" data-editors="pseudonym.suffix"></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
            <label class="col-sm-2 control-label">
                <%= t "company-info" %>
            </label>
            <div class="col-sm-5" data-editors="company"></div>
            <div class="col-sm-5" data-editors="job_title"></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
            <label class="col-sm-2 control-label">
                <%= t "comments" %>
            </label>
            <div class="col-sm-10" data-editors="comments"></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
            <label class="col-sm-2 control-label">
                <%= t "invitation-status" %>
            </label>
            <div class="col-sm-4" data-editors="invitestatus_id"></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
            <label class="col-sm-2 control-label">
                <%= t "acceptance-status" %>
            </label>
            <div class="col-sm-4" data-editors="acceptance_status_id"></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
            <label class="col-sm-2 control-label">
                <%= t "invitation-category" %>
            </label>
            <div class="col-sm-4" data-editors="invitation_category_id"></div>
            </div>
        </div>
    </form>
</script>
    
<script type="text/template" id="registration-view-template">
<div class="registration-view-details">
    {{ if (typeof id != 'undefined') { }}
    <div class="col-xs-6 clearfix">
        <div class="caption" class="pull-left">
            <button class="model-edit-button btn btn-primary btn-xs pull-right">
                <%= t "edit" %>
            </button>
            <dl class="dl-horizontal">
                <dt>
                    <%= t "reg-number" %>
                </dt>
                <dd>
                    {{= registration_number ? registration_number : "&nbsp;" }}
                </dd>
                <dt>
                    <%= t "reg-type" %>
                </dt>
                <dd>
                    {{= registration_type ? registration_type : "&nbsp;" }}
                </dd>
                <dt>
                    <%= t "registered" %>
                </dt>
                <dd>
                    {{= registered ? '<%= t "yes" %>' : '<%= t "no" %>' }}
                </dd>
            </dl>
        </div>
    </div>
    {{ } else { }}
    <div id="registration-view-details">
        <%= t "no-registration-details" %>
        <button class="model-new-button">
            <%= t "add-details" %>
        </button>
    </div>
    {{ }; }}
</div>
</script>

<script type="text/template" id="invite-view-template">
{{ if (typeof id != 'undefined') { }}
<button class="model-generate-invite-key-button btn btn-primary btn-xs pull-right">
    <%= t "generate-invite-key" %>
</button>
<dl class="dl-horizontal">
    <dt>
        <%= t "first-name" %>
    </dt>
    <dd>
        {{= first_name ? first_name : "&nbsp;" }}
    </dd>
    <dt>
        <%= t "last-name" %>
    </dt>
    <dd>
        {{= last_name ? last_name : "&nbsp;" }}
    </dd>
    <dt>
        <%= t "suffix" %>
    </dt>
    <dd>
        {{= suffix ? suffix : "&nbsp;" }}
    </dd>
    <dt>
        <%= t "company" %>
    </dt>
    <dd>
        {{= company ? company : "&nbsp;" }}
    </dd>
    <dt>
        <%= t "job-title" %>
    </dt>
    <dd>
        {{= job_title ? job_title : "&nbsp;" }}
    </dd>
    <dt>
        <%= t "invite-status" %>
    </dt>
    <dd>
        {{= invitestatus_name ? invitestatus_name : "&nbsp;"}}
    </dd>
    <dt>
        <%= t "acceptance-status" %>
    </dt>
    <dd>
        {{= acceptance_status_name ? acceptance_status_name : "&nbsp;"}}
    </dd>
    <dt>
        <%= t "invitation-category" %>
    </dt>
    <dd>
        {{= invitation_category_name ? invitation_category_name : "&nbsp;"}}
    </dd>
    <dt>
        <%= t "survey-key" %>
    </dt>
    <dd>
        {{= survey_key }}
    </dd>
    <dt>
        <%= t "comments" %>
    </dt>
    <dd>
        {{= comments }}
    </dd>
</dl>
{{ }; }}
</script>

<script type="text/template" id="bio-image-template">
    <div class="row">
        <div class="col-md-6">
            <% if ConfigService.hasCloudinaryConfig? %>
            <div class="thumbnail">
                {{ if (typeof id != 'undefined') { }}
                <image src="{{= bio_picture ? bio_picture.standard.url : '' }}"></image>
                <div class="caption">
                    <h3><%= t "bio-image" %></h3>
                    <p>
                        <button class="model-edit-button btn btn-primary btn-xs">
                            <%= t "edit" %>
                        </button>
                    </p>
                </div>
                {{ } else { }}
                <div class="caption">
                    <h3><%= t "bio-image" %></h3>
                    <p>
                        <button class="model-new-button btn btn-primary btn-xs">
                            <%= t "new" %>
                        </button>
                    </p>
                </div>
                {{ }; }}
            </div>
            <% else %>
            <%= t 'cloudinary-not-configured' %>
            <% end %>
        </div>
    </div>    
</script>

<script type="text/template" id="bio-view-template">
{{ if (typeof id != 'undefined') { }}
<button class="model-edit-button btn btn-primary btn-xs pull-right">
    <%= t "edit" %>
</button>
<dl class="dl-horizontal">
    <dt>
        <%= t "bio" %>
    </dt>
    <dd>
        {{= bio ? bio : "&nbsp;" }}
    </dd>
    <dt>
        <%= t "participant-photo" %>
    </dt>
    <dd>
        {{= photourl ? photourl : "&nbsp;" }}
    </dd>
    <dt>
        <%= t "participant-url" %>
    </dt>
    <dd>
        {{= website ? website : "&nbsp;" }}
    </dd>
    <dt>
        <%= t "participant-twitter-handle" %>
    </dt>
    <dd>
        {{= twitterinfo ? twitterinfo : "&nbsp;" }}
    </dd>
    <dt>
        <%= t "participant-facebook-url" %>
    </dt>
    <dd>
        {{= facebook ? facebook : "&nbsp;" }}
    </dd>
    <dt>
        <%= t "participant-other-url" %>
    </dt>
    <dd>
        {{= othersocialmedia ? othersocialmedia : "&nbsp;" }}
    </dd>
</dl>
{{ } else { }}
<button class="model-new-button btn btn-primary btn-xs pull-right">
    <%= t "new" %>
</button>
<dl class="dl-horizontal">
    <dt>
        <%= t "bio-from-survey" %>
    </dt>
    <dd>
        {{= survey_bio ? survey_bio : "&nbsp;" }}
    </dd>
</dl>
{{ }; }}
</script>

<script type="text/template" id="phone-view-template">
<div class="col-xs-4 clearfix">
    <div class="thumbnail clearfix">
        <div class="caption" class="pull-left">
            <button class="model-delete-button btn btn-primary btn-xs pull-right">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
            <button class="model-edit-button btn btn-primary btn-xs pull-right">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
            <small>
                <dl class="dl-horizontal-small">
                    <dt>
                        <%= t "phone-number" %>
                    </dt>
                    <dd>
                        {{= number ? number : "&nbsp;" }}
                    </dd>
                    <dt>
                        <%= t "phone-number-type" %>
                    </dt>
                    <dd>
                        {{= phone_type_name ? phone_type_name : "&nbsp;"}}
                    </dd>
                </dl> </small>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="email-view-template">
<div class="col-xs-4 clearfix">
    <div class="thumbnail clearfix">
        <div class="caption" class="pull-left">
            <button class="model-delete-button btn btn-primary btn-xs pull-right">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
            <button class="model-edit-button btn btn-primary btn-xs pull-right">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
            <small>
                <dl class="dl-horizontal-small">
                    <dt>
                        <%= t "email" %>
                    </dt>
                    <dd>
                        {{= email ? email : "&nbsp;" }}
                    </dd>
                    <dt>
                        <%= t "is-default" %>
                    </dt>
                    <dd>
                        {{= isdefault ? '<%= t "yes" %>' : '<%= t "no" %>'}}
                    </dd>
                </dl> </small>
        </div>
    </div>
</div>
</script>


<script type="text/template" id="address-view-template">
<div class="col-xs-4 clearfix">
    <div class="thumbnail clearfix">
        <div class="caption" class="pull-left">
            <button class="model-delete-button btn btn-primary btn-xs pull-right">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
            <button class="model-edit-button btn btn-primary btn-xs pull-right">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
            <small>
                <dl class="dl-horizontal-small">
                    <dt>
                        <%= t "line1" %>
                    </dt>
                    <dd>
                        {{= line1 ? line1 : "&nbsp;" }}
                    </dd>
                    <dt>
                        <%= t "line2" %>
                    </dt>
                    <dd>
                        {{= line2 ? line2 : "&nbsp;" }}
                    </dd>
                    <dt>
                        <%= t "line3" %>
                    </dt>
                    <dd>
                        {{= line3 ? line3 : "&nbsp;" }}
                    </dd>
                    <dt>
                        <%= t "city" %>
                    </dt>
                    <dd>
                        {{= city ? city : "&nbsp;" }}
                    </dd>
                    <dt>
                        <%= t "state" %>
                    </dt>
                    <dd>
                        {{= state ? state : "&nbsp;" }}
                    </dd>
                    <dt>
                        <%= t "post-code" %>
                    </dt>
                    <dd>
                        {{= postcode ? postcode : "&nbsp;" }}
                    </dd>
                    <dt>
                        <%= t "country" %>
                    </dt>
                    <dd>
                        {{= country ? country : "&nbsp;" }}
                    </dd>
                    <dt>
                        <%= t "is-default" %>
                    </dt>
                    <dd>
                        {{= isdefault ? '<%= t "yes" %>' : '<%= t "no" %>'}}
                    </dd>
                </dl> </small>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="address-control-template">
<div>
    <button class="add-model-button btn-xs btn-primary pull-right ">
        <%= t "add-address" %>
    </button>
    <%= t "postal-addresses" %>
</div>
</script>

<script type="text/template" id="address-layout-template">
<section>
    <div class="row">
        <div id="postal-control-div" class="col-xs-12"></div>
    </div>
    <div class="row">
        <div id="postal-region-div" class="col-xs-12"></div>
    </div>
</section>
</script>

<script type="text/template" id="email-control-template">
<div>
    <button class="add-model-button btn-xs btn-primary pull-right ">
        <%= t "add-email" %>
    </button>
    <%= t "email-addresses" %>
</div>
</script>

<script type="text/template" id="email-layout-template">
<section>
    <div class="row">
    <div id="email-control-div" class="col-xs-12"></div>
    </div>
    <div class="row">
    <div id="email-region-div" class="col-xs-12"></div>
    </div>
</section>
</script>

<script type="text/template" id="phone-control-template">
<div>
    <button class="add-model-button btn-xs btn-primary pull-right ">
        <%= t "add-phone" %>
    </button>
    <%= t "phone" %>
</div>
</script>

<script type="text/template" id="phone-layout-template">
<section>
    <div class="row">
    <div id="phone-control-div" class="col-xs-12"></div>
    </div>
    <div class="row">
    <div id="phone-region-div" class="col-xs-12"></div>
    </div>
</section>
</script>

<script type="text/template" id="exclusions-layout-template">
<section>
    <div id="dates-exclusions-div"></div>
    <%= t "do-not-schedule-against:" %>
    <div id="items-exclusions-div"></div>
    <%= t "do-not-schedule-at:" %>
    <div id="times-exclusions-div"></div>
</section>
</script>

<script type="text/template" id="tag-context-layout-template">
<div class="thumbnail clearfix">
    <button class="model-add-tag-button btn btn-primary btn-xs pull-right" tagcontext="{{= context }}">
        <%= t "add" %>
    </button>
    <span class="label label-default">{{= context }}</span>
    {{ _.each(tags, function(tag) { }}
    <span class="label label-info">{{= tag }} <a href="{{= '/tags/' + obj_id + '/remove?class=Person&context=' + context + '&tag=' + tag }}" class="tag-remove-link"><i class="glyphicon glyphicon-remove"></i></a></span>
    {{ }); }}
</div>
</script>

<script type="text/template" id="tag-cloud-context-layout-template">
<div class="panel-group" id="participant-tag-cloud-parent">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#participant-tag-cloud-parent" href="#{{= context }}">{{= context }}</a>
            </h5>
        </div>
        <div id="{{= context }}" class="panel-collapse collapse">
            <div class="panel-body">
                {{ _.each(tags, function(tag) { }}
                <span class="label label-info select-tag-button" tagcontext="{{= context}}" tagname="{{= tag.name}}">{{= tag.name }} {{= tag.count }}</span>
                {{ }); }}
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="date-exclusion-view-template">
{{ if (typeof id != 'undefined') { }}
<div class="thumbnail clearfix">
    <button class="model-edit-button btn btn-primary btn-xs pull-right">
        <%= t "edit" %>
    </button>
    <small> <em>Arrival</em>: {{= moment(start_time).format("dddd, MMMM Do YYYY, h:mm a") }} <i class="glyphicon glyphicon-arrow-right"></i> <em>Departure</em>: {{= moment(end_time).format("dddd, MMMM Do YYYY, h:mm a") }} </small>
</div>
{{ }; }}
</script>

<script type="text/template" id="item-exclusion-view-template">
<div class="thumbnail clearfix">
    <small> {{= title }} </small>
</div>
</script>

<script type="text/template" id="time-exclusion-view-template">
<div class="thumbnail clearfix">
    <small> {{= moment(start).format("dddd, MMMM Do YYYY, h:mm a") }} <i class="glyphicon glyphicon-arrow-right"></i> {{= moment(start).date() == moment(end).date() ? moment(end).format("h:mm a") : moment(end).format("dddd, MMMM Do YYYY, h:mm a") }} </small>
</div>
</script>

<script type="text/template" id="program-item-view-template">
<div>
    {{ if (typeof id != 'undefined') { }}
    <div class="thumbnail clearfix">
        <small>
            <dl class="dl-horizontal-small">
                <dt>
                    <%= t "title" %>
                </dt>
                <dd>
                    {{= title ? title : "&nbsp;" }}
                </dd>
                <dt>
                   <%= t "published" %>
                </dt>
                <dd>
                    {{= isPublished ? '<%= t "yes" %>' : '<%= t "no" %>' }}
                </dd>
                <dt>
                    <%= t "item-start-time" %>
                </dt>
                <dd>
                    {{= time_slot ? moment(time_slot.start).format("dddd, MMMM Do YYYY, h:mm a") : "&nbsp;" }}
                </dd>
            </dl> 
        </small>
    </div>
    {{ }; }}
</div>
</script>


<script type="text/template" id="participant-filters-template">
    <span class="label label-info remove-filter-button filter-remove-button" tagcontext="{{= context}}" tagname="{{= name }}">{{= name }}<i class="glyphicon glyphicon-remove"></i></span>
</script>


