<div class='address'>
    <div>
        <div class=address_header>
            <div class='infolabel'>
                Email Address(es)
            </div>
            <% if @urlemailstr %>
            <div class=add-form>
                <%= link_to "Add Email Address", @urlemailstr, :class => 'entrydialog' %>
            </div>
            <%end %>
        </div>
        <div class='addressAccordian'>
            <% @emailAddresses.each do |eaddress| %>
            <h3><a href='#'></>EMAIL</a></h3>
			<%= render :partial => 'email_addresses/email_address', :locals => { :emailAddress => eaddress, :editable => editable} %>
			<% end %>
        </div>
        <div class=address_header>
            <div class='infolabel'>
                Postal Addresses
            </div>
            <% if @urlstr %>
            <div class=add-form>
                <%= link_to "Add Postal Address", @urlstr, :class => 'entrydialog' %>
            </div>
            <%end %>
        </div>
        <div class='addressAccordian'>
            <% @postalAddresses.each do |address| %>
            <h3><a href='#'></>Postal Address</a></h3>
			<%= render :partial => 'postal_addresses/postal_address', :locals => { :postalAddress => address, :editable => editable} %>
			<% end %>
        </div>
        <div class='address_header'>
            <div class='infolabel'>
                Phone Numbers
            </div>
            <% if @urlphonestr %>
            <div class=add-form>
                <%= link_to "Add Phone Number", @urlphonestr, :class => 'entrydialog' %>
            </div>
            <%end %>
        </div>
        <div class='addressAccordian'>
            <% @phoneNumbers.each do |paddress| %>
            <h3><a href='#'></>Phone Number</a></h3>
			<%= render :partial => 'phone_numbers/phone_number', :locals => { :phoneNumber => paddress, :editable => editable} %>
			<% end %>
        </div>
        <div class='message' id='tab-messages'>
        </div>
        <div class="jqmWindow" id="edialog">
            Please wait...
        </div>
    </div>
</div>
