<% if @venues.blank? %>
   <p>There are not any venues currently in the system.</p>
<% else %>
   <p>These are the current venues in our system:</p>
   <ul id="venues">
   <% @venues.each do |v| %>
      <li><h3><%= link_to v.name, {:action => 'show', :id => v.id} %> - <%= @rooms[v.id] %> rooms</h3> 
      <%= link_to 'Edit', {:action => "edit", :id => v.id} %>
      <%= link_to 'Delete', {:action => "destroy", :id => v.id}, :confirm => "Are you sure you want to delete this venue?"%>
      </li>
   <% end %>
   </ul>
<% end %>
<hr />
<p><%= link_to "Add new venue", {:action => 'new' }%></p>

