<div class='group-edit'>
	<%= link_to 'edit', edit_survey_survey_group_path(@survey,@group), :class => "group-edit-link" %>
</div>
<div class='line'>
	<div class='field_name'>
		Name:
	</div>
	<div class='field_value'>
		<%= @group.name %>
	</div>
</div>
<div class='line'>
	<div class='field_name'>
		Alt Name:
	</div>
	<div class='field_value'>
		<%= @group.altname %>
	</div>
</div>
<div class='line'>
	<div class='field_name'>
		Description:
	</div>
	<div class='field_value'>
		<%= @group.description %>
	</div>
</div>
<div class='line'>
    <div class='field_name'>
        Sort Order:
    </div>
    <div class='field_value'>
        <%= @group.sort_order %>&nbsp;
    </div>
</div>
<% if @group.survey_format != nil %>
    <fieldset class="coolfieldset survey_group_format">
        <legend>Formatting</legend>
        <%= render :partial => 'surveys/format_detail', :object => @group.survey_format %>
    </fieldset>
<% end %>
