<div class='row'>
	<div id="login-form">
		<%= form_for @user_session, :url => user_session_path, html: {class: "form-horizontal"} do |f| %>
		<div class="form-group">
		  <%= f.label t 'login', class: "control-label" %>
		  <div>
		  	<%= f.text_field :login, class: "form-control login-field", tabindex: "1", autofocus: "autofocus", autocorrect: "off", autocapitalize: "off" %>
		  </div>
		  <%= f.label t 'password', class: "control-label" %>
		  <div>
		  	<%= f.password_field :password, class: "form-control login-field", tabindex: "2" %>
		  </div>
		</div>
		<div class="form-group">
		  <%= f.label t 'remember-me', class: "control-label" %>
		  <div>
		  	<%= f.check_box :remember_me %>
		  </div>
		</div>
		<div class="form-group">
		    <div>
		        <%= f.submit "Login", class: "btn btn-primary btn-lg", tabindex: "3" %>
		    </div>
		</div>
		<div class="voffset20 boffset80" id="login-form-text-helpers">
			    <!-- We only need the locale for other languages besides English because in the public web site, English is the default language and set to the root domain -->
                <% if I18n.locale.to_s == 'en' %>
                    <a target="new" href="http://events.grenadine.co/support"><%= (t "trouble-logging-in") %></a>&nbsp;&nbsp;·&nbsp;
                    <a target="new" href="http://events.grenadine.co/contact"><%= (t "contact-to-create-account") %></a>
                <% else %>
                    <a target="new" href="http://events.grenadine.co<%= '/' + I18n.locale.to_s + '/' %>support"><%= (t "trouble-logging-in") %></a>&nbsp;&nbsp;·&nbsp;
                    <a target="new" href="http://events.grenadine.co<%= '/' + I18n.locale.to_s + '/' %>contactez-nous"><%= (t "contact-to-create-account") %></a>  
                <% end %>
		</div>
		<% end %>
	</div>
</div>

