<div class='row'>
<div class="col-xs-offset-3 col-xs-9">
<%= form_for @user_session, :url => user_session_path, html: {class: "form-horizontal"} do |f| %>
<div class="form-group">
  <%= f.label :login, class: "control-label col-xs-2" %>
  <div class="col-xs-10">
  <%= f.text_field :login, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :password, class: "control-label col-xs-2" %>
  <div class="col-xs-10">
  <%= f.password_field :password %>
  </div>
</div>
<div class="form-group">
  <%= f.label :remember_me, class: "control-label col-xs-2" %>
  <div class="col-xs-10">
  <%= f.check_box :remember_me %>
  </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
        <%= f.submit "Login", class: "btn btn-default"%>
    </div>
</div>
<% end %>
</div>
</div>
