<%= render_cell "items/item_details", :templates %>

<%= render_cell "items/item_list", :javascript, 
    :pager => "#items-pager",
    :caption => "program-items", 
    :selectNotifyMethod => "ItemApp.ItemManagement.showDetails", 
    :clearNotifyMethod => "ItemApp.ItemManagement.clearDetails",
    :modelType => "ItemApp.ItemManagement.ProgramItem",
    :modelTemplate => "#item-form-template",
    :showControls => true,
    :showNbrParticipants => true
    %>
    
<%= render_cell "items/item_details", :javascript %>

<div class="row">
    <div class="col-md-9 left-jqgrid" style="margin-bottom: 35px;">
        <div id="item-filters" class="top-tag-filters"></div>
        <%= render_cell "items/item_list", :display %>
        <h3 id='selected-program-item'></h3>
        <%= render_cell "items/item_details", :display %>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs" >
        <div class="right-bar-action-group">
            <h5>Import and export</h5>
            <span class="glyphicon glyphicon-export"></span> <a href="<%= baseUri + '/pages/items_dash/export' %>">Export Schedule Items</a>     
            <h5>Assignments</h5>
            <span class="glyphicon glyphicon-chevron-right"></span> <a href="<%= baseUri + '/pages/items_dash/add_people' %>">Assign Participants to Items</a><br>
            <span class="glyphicon glyphicon-chevron-right"></span> <a href="<%= baseUri + '/pages/items_dash/exclusions' %>">Assignment Exclusions</a>         
            <h5>Filter by tag</h5>
            <div class='collapse-group tag-cloud-area' style="overflow : auto;">
                <div id="item-tag-cloud" class="collapse in"></div>
            </div>
        </div>
    </div>
</div>