<%= render_cell "items/item_details", :templates %>

<%= render_cell "items/item_list", :javascript, 
    :pager => "#items-pager",
    :caption => "program-items", 
    :selectNotifyMethod => "ItemApp.ItemManagement.showDetails", 
    :clearNotifyMethod => "ItemApp.ItemManagement.clearDetails",
    :modelType => "ItemApp.ItemManagement.ProgramItem",
    :modelTemplate => "#item-form-template",
    :showControls => true,
    :showNbrParticipants => true
    %>
<%= render_cell "items/item_details", :javascript %>

<div class="row">
    <div class="col-xs-9 left-jqgrid">
        <div id="item-filters"></div> <!-- TODO -->
        <%= render_cell "items/item_list", :display %>
    </div>
    <div class="col-xs-3 well" >
        <div class='collapse-group tag-cloud-area' style="height : 333px; overflow : auto;"> <!-- TODO - move this to the style sheet -->
            <div id="item-tag-cloud" class="collapse in"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 well">
        <h4 id='selected-program-item'></h4>
        <%= render_cell "items/item_details", :display %>
    </div>
</div>
