<%= render_cell "items/item_details", :templates %>

<%= render_cell "items/item_list", :javascript, 
    :pager => "#items-pager",
    :caption => "prog-items", 
    :selectNotifyMethod => "ItemApp.ItemManagement.showDetails", 
    :clearNotifyMethod => "ItemApp.ItemManagement.clearDetails",
    :modelType => "ItemApp.ItemManagement.ProgramItem",
    :modelTemplate => "#item-form-template",
    :showControls => true,
    :showNbrParticipants => true,
    :extra_button => true,
    :extra_button_title => t("copy"),
    :extra_modal_action => "ItemApp.ItemManagement.cloneItem"
    %>
    
<%= render_cell "items/item_details", :javascript %>

<div class="row">
    <div class="col-md-9 left-jqgrid" id="item-detail-div" style="margin-bottom: 35px;">
        <div class="row">
            <div id="item-filters" class="top-tag-filters col-sm-12"> </div>
        </div>
        <%= render_cell "items/item_list", :display %>
        <h3 id='selected-program-item'></h3>
        <%= render_cell "items/item_details", :display %>
    </div>
    <div id="right-panel-action-group" class="col-md-3 col-fixed-large hidden-sm hidden-xs">
        <button type="button" id="collapseButton" class="btn btn-default btn-sm pull-right">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        <button type="button" id="expandButton" style="display: none;" class="btn btn-default btn-sm pull-right">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>        
        <div id="right-bar-action-group" class="right-bar-action-group">
            <h5><%= t "import-and-export" %></h5>
            <span class="glyphicon glyphicon-export"></span> <a href="<%= baseUri + '/pages/items_dash/export' %>"><%= t "export-schedule-items" %></a>     
            <h5><%= t "assignments" %></h5>
            <span class="glyphicon glyphicon-chevron-right"></span> <a href="<%= baseUri + '/pages/items_dash/add_people' %>"><%= t "assign-participants-to-items" %></a><br>
            <span class="glyphicon glyphicon-chevron-right"></span> <a href="<%= baseUri + '/pages/items_dash/exclusions' %>"><%= t "exclusions" %></a>
            <h5><%= t "quick-links" %></h5>
            <span class="glyphicon glyphicon-chevron-right"></span> <a href="<%= baseUri + '/planner_multi/pages/venues_dash/manage' %>"><%= t "add-remove-venues" %></a><br>
            <span class="glyphicon glyphicon-chevron-right"></span> <a href="<%= baseUri + '/pages/admin_dash/system_configs#item_format_config' %>"><%= t "add-remove-item-formats" %></a><br>         
            <span class="glyphicon glyphicon-chevron-right"></span> <a href="<%= baseUri + '/pages/admin_dash/system_configs#room_setups_config' %>"><%= t "add-remove-room-setups" %></a>
            
            <h5><%= t "filter-by-theme" %></h5>
            <div class="form-horizontal">
                <input id="theme-filters" type="text" class="form-control">
            </div>
            <h5><%= t "filter-by-tag" %></h5>
            <div class='collapse-group tag-cloud-area' style="overflow : auto;">
                <div id="item-tag-cloud" class="collapse in"></div>
            </div>
        </div>
    </div>
</div>