        <div class="navbar-header"> 
        	<button id="grenadine-collapsed-button"  type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-1">
      			<span class="sr-only">Toggle navigation</span>
      			<span class="icon-bar"></span>
      			<span class="icon-bar"></span>
      			<span class="icon-bar"></span>
    		</button>
        	<a id="event-planner-logo-link-container" class="navbar-brand" href='<%= "/" + I18n.locale.to_s %>' alt='<%= @page_title or (t "Convention Planner") %>'>
        		<img class="hidden-xs" id="event-planner-logo" src="http://fastmedia.grenadine.co/Grenadine-Event-Planner-4-67.png" alt='<%= @page_title or (t "Convention Planner") %>'></img>
        		<img class="hidden-md hidden-lg hidden-sm" id="event-planner-logo" src="http://fastmedia.grenadine.co/Grenadine-Event-Planner-4-50.png" height="50" alt='<%= @page_title or (t "Convention Planner") %>'></img>
        	</a>
        </div>
		<div class="collapse navbar-collapse" id="collapse-1">
	        <ul class="nav navbar-nav navbar-right" id="right-menu-navbar">
	            <li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                    <%= t I18n.locale %>
	                    <b class="caret"></b>
	                </a>
	                <ul class="dropdown-menu">
	                    <% UISettingsService.getLanguages.each do |lang| %>
	                        <% if lang != I18n.locale.to_s %>
	                            <li><a href="<%= '/' + lang + request.fullpath %>"><%= t lang %></a></li>
	                        <% end %>
	                    <% end %>
	                </ul>
	            </li>
	            <% if current_user %>
	                <li><%= link_to (t "Edit Profile"), edit_user_path(:current) %></li>
	                <li><%= link_to (t "Logout"), logout_path %></li>
	            <% end %>
	        </ul>			
		</div>