<div class="navbar-header"> 
	<button id="grenadine-collapsed-button"  type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a id="event-planner-logo-link-container" class="navbar-brand" href='<%= "/" + I18n.locale.to_s + baseUri_no_lang + "/" %>' alt='<%= @page_title or (t "convention-planner") %>'>
	</a>
</div>
<div class="collapse navbar-collapse" id="collapse-1">
    <div class="nav navbar-nav"><h2 class="conference-title"><%= SiteConfig.first ? SiteConfig.first.name : '' %></h2></div>
    <ul class="nav navbar-nav navbar-right" id="right-menu-navbar">
        <%= extra_navigation.html_safe %>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t I18n.locale %>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <% UISettingsService.getLanguages.each do |lang| %>
                    <% if lang != I18n.locale.to_s %>
                        <li><a href="<%= '/' + lang + baseUri_no_lang + request.fullpath %>"><%= t lang %></a></li>
                    <% end %>
                <% end %>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t 'settings' %>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <% settings_menu.each do |item| %>
                    <li><%= link_to (t item[:title]), item[:target] %></li>
                <% end %>
            </ul>
        </li>
        <% if current_user %>
            <li><%= link_to (t "logout"), main_app.destroy_user_session_path, :method => :delete %></li>
        <% end %>
    </ul>			
</div>