<!--  -->

<script type="text/template" id="table-control-template">
    <button class='add-model-button btn btn-primary btn-xs toolbar-button'><i class="fa fa-plus"></i> <%= t "add" %></button>
    <button class='edit-model-button btn btn-primary btn-xs toolbar-button'><%= t "edit" %></button>
    <button class='delete-model-button btn btn-primary btn-xs toolbar-button'><%= t "delete" %></button>
    {{ if ((typeof(display) !== 'undefined') && display) { }}
        <button class='extra-action-model-button btn btn-primary btn-xs toolbar-button'>{{= label }}</button>
    {{ }; }}
</script>

<script type="text/template" id="bs-table-control-template">
    <button class='add-model-button btn btn-primary btn-xs toolbar-button'><i class="fa fa-plus"></i> <%= t "add" %></button>
    <button class='edit-model-button btn btn-primary btn-xs toolbar-button'><%= t "edit" %></button>
    <button class='delete-model-button btn btn-primary btn-xs toolbar-button'><%= t "delete" %></button>
</script>

<script type="text/template" id="add-table-control-template">
    <a href='#' class='add-model-button toolbar-button' style="margin-right: 0px;">
        <button class="btn btn-xs btn-primary">
            <i class="fa fa-plus" aria-hidden="true"></i> <%= t 'add' %>
        </button>
    </a>
</script>

<script type="text/template" id="modal-info-template">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<form>
    <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h4 id="myModalLabel" class="modal-title">{{= title }}</h4>
    </div>
    <div class="modal-body" id="modal-body"></div>
    <div class="modal-footer">
        <button class="btn btn-primary close-modal" data-dismiss="modal" aria-hidden="true">
            <%= t "btn-ok" %>
        </button>
    </div>
</form>
</div>    
</div>    
</script>

<script type="text/template" id="modal-confirm-template">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<form>
    <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h4 id="myModalLabel" class="modal-title">{{= title }}</h4>
    </div>
    <div class="modal-body" id="modal-body"></div>
    <div class="modal-footer">
        <button class="btn close-modal" data-dismiss="modal" aria-hidden="true" class='close'>
            <%= t "cancel" %>
        </button>
        <button class="btn btn-primary">
            <%= t "confirm" %>
        </button>
    </div>
</form>
</div>    
</div>    
</script>

<script type="text/template" id="modal-panel-template">
<div class="modal-dialog modal-extra-lg">
<div class="modal-content">
<form>
    <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h4 id="myModalLabel" class="modal-title">{{= title }}</h4>
    </div>
    <div class="modal-body" id="modal-body" style="height: 650px">
            <iframe src="{{= url }}" width="100%" height="100%" frameBorder="0" id="modal-iframe">
                <p><%= t "your-browser-does-not-support-iframes" %></p>
            </iframe>
    </div>
    <div class="modal-footer">
        <button class="btn close-modal" data-dismiss="modal" aria-hidden="true">
            <%= t "close" %>
        </button>
    </div>
</form>
</div>    
</div>    
</script>

<script type="text/template" id="modal-plain-panel-template">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<form>
    <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h4 id="myModalLabel" class="modal-title">{{= title }}</h4>
    </div>
    <div id="dialog-alert-area"></div>
    <div class="modal-body" id="modal-body">
        {{= content }}
    </div>
    <div class="modal-footer">
        <button class="btn close-modal" data-dismiss="modal" aria-hidden="true">
            <%= t "close" %>
        </button>
    </div>
</form>
</div>    
</div>    
</script>

<script type="text/template" id="modal-msg-template"> 
        <div id="msg">{{= text }}</div><button type="button" class="close" aria-label="Close"><span aria-hidden="true"><i class="{{= buttonIconClass }}"></i></span></button> 
</script> 

<script type="text/template" id="modal-edit-template">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 id="myModalLabel">{{= title }}</h4>
                </div>
                <div class="modal-body" id="modal-body"></div>
                <div class="modal-footer">
                    <button class="btn close-modal" data-dismiss="modal" aria-hidden="true" tabindex="-1">
                        <%= t "cancel" %>
                    </button>
                    <button class="btn btn-primary">
                        <%= t "save-changes" %>
                    </button>
                </div>
            </form>
        </div>
    </div>
</script>

<script type="text/template" id="item-edit-template">
<form>
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <button class="btn btn-primary model-edit-button">
                    <%= t "edit" %>
                </button>
                <button class="btn btn-primary model-cancel-button"  tabindex="-1">
                    <%= t "cancel" %>
                </button>
                <button class="btn btn-primary model-submit-button">
                    <%= t "save-changes" %>
                </button>
            </div>
        </div>
    </div>
    <div class="voffset15"></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="model-body" id="model-body"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <button class="btn btn-primary model-edit-button">
                    <%= t "edit" %>
                </button>
                <button class="btn btn-primary model-cancel-button"  tabindex="-1">
                    <%= t "cancel" %>
                </button>
                <button class="btn btn-primary model-submit-button">
                    <%= t "save-changes" %>
                </button>
            </div>
        </div>
    </div>
    <div class="voffset15">
</form>
</script>

<!-- TODO - change so that the message is -->
<script type="text/template" id="modal-leave-template">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<form>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h4 id="myModalLabel" class="modal-title">{{= title }}</h4>
    </div>
    <div class="modal-body" id="modal-body">{{= confirm_message ? confirm_message : "<%= t 'confirm-message' %>" }}</div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            <%= t "remain-on-item" %>
        </button>
        <button class="btn btn-primary abandon">
            <%= t "abandon-changes" %>
        </button>
    </div>
</form>
</div>    
</div>    
</script>

<script type="text/template" id="report-template">
    <div class="report-title"><h4>{{= caption }}</h4></div>
    <div class="report-body" id="report-body"></div>
    <div id="report-buttons">
        <button class="btn btn-primary report-submit-button">
            <%= t "reports-run-report-button" %>
        </button>
        <button class="btn btn-primary report-csv-button">
            <%= t "reports-csv-button" %>
        </button>
    </div>
</script>

<script type="text/template" id="logistics-template">
    <div class="report-title"><h4>{{= caption }}</h4></div>
    <div class="report-body" id="report-body"></div>
    <div id="report-buttons">
        <button class="btn btn-primary report-xlsx-button">
            <%= t "publications-export-to-xlsx" %>
        </button>
    </div>
</script>

<script type="text/template" id="export-template">
    <div class="row">
        <div class="col-xs-12">
            <div class="report-title pull-right"><h2>{{= caption }}</h2></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="report-body" id="report-body"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <button class="btn btn-primary report-xlsx-button">
                    <%= t "publications-export-to-xlsx" %>
                </button>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="publication-template">
    <div class="row">
        <div class="col-xs-12">
            <div class="report-body" id="report-body"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <button class="btn btn-primary report-xml-button">
                    <%= t "publications-export-to-xml" %>
                </button>
                <button class="btn btn-primary report-pdf-button">
                    <%= t "publications-export-as-pdf" %>
                </button>
                <button class="btn btn-primary report-xlsx-button">
                    <%= t "publications-export-to-xlsx" %>
                </button>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="schedule-conflict-view-template">
    <div class="thumbnail clearfix">
        <button type="button" class="close exclude" aria-hidden="true">×</button>
        <small class='conflict'>
            <b>{{= person_name }}</b> <%= t "has-a-conflict" %> <br/>
            {{= room_name}}: <b>{{= item_title }}</b> ({{= item_role}}) <%= t "at" %> {{= item_day_string }} {{= item_start_string }} <br/>
            <%=t "with" %> {{= conflict_room_name}}: <b>{{= conflict_item_title }}</b> ({{= conflict_item_role}}) <%= t "at" %> {{= conflict_day_string }} {{= conflict_start_string }}
        </small>
    </div>
</script>
<script type="text/template" id="room-conflict-view-template">
    <div class="thumbnail clearfix">
        <button type="button" class="close exclude" aria-hidden="true">×</button>
        <small class='conflict'>
            <%= t "room" %> <b>{{= room_name}}</b> <%= t "at" %> {{= item_day_string }} {{= item_start_string }} <br/>
            <i>{{= item_title }}</i> <%= t "conflicts-with" %>
            <i>{{= conflict_item_title }}</i> 
        </small>
    </div>
</script>
<script type="text/template" id="excluded-item-conflict-view-template">
    <div class="thumbnail clearfix">
        <button type="button" class="close exclude" aria-hidden="true">×</button>
        <small class='conflict'>
            <b>{{= person_name }}</b> ({{= item_role}}) <%= t "has-a-conflict" %> <br/>
            <%= t "do-not-schedule-against" %> <i>{{= conflict_item_title }}</i><br/>
            <%= t "conflicts-with" %> <i>{{= item_title }}</i> 
            <%= t "at" %> {{= item_day_string }} {{= item_start_string }}
        </small>
    </div>
</script>
<script type="text/template" id="excluded-time-conflict-view-template">
    <div class="thumbnail clearfix">
        <button type="button" class="close exclude" aria-hidden="true">×</button>
        <small class='conflict'>
            <b>{{= person_name }}</b> ({{= item_role}}) <%= t "has-a-conflict" %> <br/>
            <%= t "do-not-schedule-between" %> <b>{{= period_start_string }}</b> <%= t "to" %> <b>{{= period_end_string }}</b><br/>
            <%= t "conflicts-with" %> <i>{{= item_title }}</i>
            <%= t "at" %> <b>{{= item_day_string }} {{= item_start_string }}</b>
        </small>
    </div>
</script>
<script type="text/template" id="availability-conflict-view-template">
    <div class="thumbnail clearfix">
        <button type="button" class="close exclude" aria-hidden="true">×</button>
        <small class='conflict'>
            <b>{{= person_name }}</b> ({{= item_role}}) <%= t "has-a-conflict" %> <br/>
            <%= t "only-available-between:" %> <b>{{= period_start_string }}</b> <%= t "to" %> <b>{{= period_end_string }}</b><br/>
            <%= t "conflicts-with" %> <i>{{= item_title }}</i>
            <%= t "at" %> <b>{{= item_day_string }} {{= item_start_string }}</b>
        </small>
    </div>
</script>
<script type="text/template" id="back-to-back-conflict-view-template">
    <div class="thumbnail clearfix">
        <button type="button" class="close exclude" aria-hidden="true">×</button>
        <small class='conflict'>
            <b>{{= person_name }}</b> <%= t "has-a-back-to-back" %> <br/>
            {{= room_name}}: <b>{{= item_title }}</b> ({{= item_role}}) <%= t "at" %>{{= item_day_string }} {{= item_start_string }} <%= t "precedes-conflict" %>
             {{= conflict_room_name}}: <b>{{= conflict_item_title }}</b> ({{= conflict_item_role}}) <%= t "at" %> {{= conflict_day_string }}  {{= conflict_start_string }}
        </small>
    </div>
</script>
