<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title><%= @page_title or 'Renovation Convention Planner' %></title>
        <%=render 'layouts/common_styles' %>
        <%=render 'layouts/common_js' %>
		<%= yield(:jsheader) if @content_for_jsheader %>
		<style type="text/css">
			<%= yield(:styleheader) if @content_for_styleheader %>
		</style>
    </head>
    <body>
    	<div class='container_12'>
        	<%=render 'layouts/common_page_top' %>
        	<%= yield(:content) or yield %>
    	<div>
    </body>
</html>
