<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Convention Planner Application" %>">
    <title><%= @page_title or 'Convention Planner' %></title>
    
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= stylesheet_link_tag "cells/" + params[:cellname] if params[:cellname] %>
    
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag params[:controller] %>
    <%= javascript_include_tag "cells/" + params[:cellname] if params[:cellname] %>
    
    <%= csrf_meta_tags %>
    
    <%=render 'layouts/common_js' %>
    
    <%= yield(:cssheader) if content_for?(:cssheader) %>
    <%= yield(:jsheader) if content_for?(:jsheader) %>
    
    <style type="text/css">
        <%= yield(:styleheader) if content_for?(:styleheader) %>
    </style>
  </head>
  <body>
    <!-- %=render 'layouts/common_page_top' % -->
          <%= render 'layouts/navigation' %>
    <main role="main">
      <div class="container-fluid">
           <div class="row-fluid">
              <%= render partial: 'layouts/messages', flash: flash %>
           </div>
              <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
      <footer class="footer">
      <div class="container-fluid">
              <div class="container-fluid">
                  Cell is: 
                  <%= params[:cellname] %>
              </div>
      </div>
      </footer>
    </main>
  </body>
</html>