<html>
    <head>
        <title><%= @page_title or 'Renovation Convention Planner' %></title>
        <%=render 'layouts/common_styles' %>
        <%=render 'layouts/common_js' %>
    </head>
    <body>
        <%=render 'layouts/common_page_top' %>
        <%= yield(:content) or yield %>
    </body>
</html>
