<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Convention Planner Application" %>">
    <title><%= @page_title or 'Convention Planner' %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%=render 'layouts/common_js' %>
    <%= yield(:cssheader) if content_for?(:cssheader) %>
    <%= yield(:jsheader) if content_for?(:jsheader) %>
    
    <style type="text/css">
        <%= yield(:styleheader) if content_for?(:styleheader) %>
    </style>
  </head>
  <body>
    <!-- %=render 'layouts/common_page_top' % -->
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <main role="main">
      <div class="container-fluid">
        <div class="content">
           <div class="row-fluid">
            <div class="span12">
              <%= render partial: 'layouts/messages', flash: flash %>
              <%= content_for?(:content) ? yield(:content) : yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>