<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title><%= @page_title or (t "Survey") %></title>
        
        <%= csrf_meta_tags %>
        
        <%= stylesheet_link_tag "application", :media => "all" %>
        
        <%= javascript_include_tag "application" %>
        <%= javascript_include_tag params[:controller] if params[:controller] && PlannerRc1::Application.assets.find_asset( params[:controller] + ".js") %>

        <%=render 'layouts/common_js' %>
    </head>

  <body>
    <div id="main-screen-container" class="container">
        <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </body>
</html>
