<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title><%= @page_title or (t "survey") %></title>
        
        <%= csrf_meta_tags %>
        
        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= stylesheet_link_tag params[:controller] if params[:controller] && Rails.application.assets.find_asset( params[:controller] + ".css") %>
        
        <%= javascript_include_tag "application" %>
        <%= javascript_include_tag params[:controller] if params[:controller] && Rails.application.assets.find_asset( params[:controller] + ".js") %>

        <%=render 'layouts/common_js' %>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="icon" type="image/ico" href="/event-planner-ico.ico"/>
        
        <%= cloudinary_js_config %> 
    </head>
    <body class="survey-body">
        <div id="main-screen-container" class="container survey-container">
            <div class="row">
                <div id="alert-area"><%= render partial: 'layouts/messages', flash: flash %>
                
                </div>
            </div>
            <%= content_for?(:content) ? yield(:content) : yield %>
            <div class="voffset20"></div>

        </div>
    </body>
</html>
