<html>
    <head>
        <title><%= @page_title or 'Survey' %></title>
        
        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= stylesheet_link_tag params[:controller] %>
        
        <%= javascript_include_tag "application" %> <!-- TODO minimize to only what is needed for surveys -->
        <%= javascript_include_tag params[:controller] if params[:controller] && PlannerRc1::Application.assets.find_asset( params[:controller] + ".js") %>
    </head>

  <body>
    <main role="main">
      <div class="survey-container">
           <div class="survey-row">
                <div class="full-width">
                    <%= content_for?(:content) ? yield(:content) : yield %>
                </div>
           </div>
      </div>
    </main>
  </body>
</html>
