<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Convention Planner Application" %>">
        <title><%= @page_title or (t "convention-planner") %></title>
        
        <%= csrf_meta_tags %>
        
        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= stylesheet_link_tag params[:controller] if params[:controller] && PlannerRc1::Application.assets.find_asset( params[:controller] + ".css") %>
        <%= stylesheet_link_tag "cells/" + params[:cellname] if params[:cellname] && PlannerRc1::Application.assets.find_asset("cells/" + params[:cellname] + ".css") %> 
        <%= yield(:cssheader) if content_for?(:cssheader) %>
        
        <%= javascript_include_tag "application" %>
        <%= javascript_include_tag params[:controller] if params[:controller] && PlannerRc1::Application.assets.find_asset( params[:controller] + ".js") %>
        <%= javascript_include_tag "cells/" + params[:cellname] if params[:cellname] && PlannerRc1::Application.assets.find_asset("cells/" + params[:cellname] + ".js") %>
        <%=render 'layouts/common_js' %>
        <%= yield(:jsheader) if content_for?(:jsheader) %>
        
        <style type="text/css">
            <%= yield(:styleheader) if content_for?(:styleheader) %>
        </style>
        <link rel="icon" type="image/ico" href="http://fastmedia.grenadine.co/event-planner-ico.ico"/>
    </head>
    <body lang="<%= I18n.locale %>">
        <div id="main-screen-container" class="container">
            <div class="row"><div id="alert-area"><%= render partial: 'layouts/messages', flash: flash %></div></div>
            <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
    </body>
</html>
