<html>
<head>
<title>
	<%= @page_title or 'Page Title' %></title>
	<%=render 'layouts/common_styles' %>
	<%=render 'layouts/common_js' %>
</head>
<body>
    <%=render 'layouts/common_page_top' %>
	<div id="content"><%= yield(:content) or yield %></div>
</body>
</html> 