<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" >
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title><%= @page_title or 'Survey' %></title>
        <%= stylesheet_link_tag 'start/jquery-ui-1.8.11.custom' %>
        <%= stylesheet_link_tag 'jquery.tooltip.css' %>
        <%= stylesheet_link_tag 'reset.css' %>
        <%= stylesheet_link_tag 'text.css' %>
        <%= stylesheet_link_tag '960.css' %>
        <%= stylesheet_link_tag 'survey.css' %>
        <%= javascript_include_tag 'vendor/jquery-1.8.3' %>
        <%= javascript_include_tag 'vendor/jquery-ui-1.9.2.custom.min' %>
        <%= javascript_include_tag 'vendor/jquery-migrate-1.1.1' %>
        <%= javascript_include_tag 'vendor/jquery.tooltip.min' %>
        <script>
            $(function(){
				
                if (!$('#pub_first_name').val() && !$('#pub_last_name').val()) {
                    $('div.pubname_toggle').parent().append("<a class='prefix_1 grid_4 toggle_pub_name'>Click to add Publication Name (if different from above)</a>");
                    $('a.toggle_pub_name').click(function(){
                        $('div.pubname_toggle').show();
                        $(this).hide();
                        return false;
                    });
                    $('div.pubname_toggle').hide();
                }
				
				var first_name = $("#pre_first_name").text();
				if ($("#first_name").val() == '') {
					$("#first_name").val(first_name);
				}
				var last_name = $("#pre_last_name").text();
				if ($("#last_name").val() == '') {
					$("#last_name").val(last_name);
				}
				var name_suffix = $("#pre_suffix").text();
				if ($("#name_suffix").val() == '') {
					$("#name_suffix").val(name_suffix);
				}
				var email = $("#pre_email").text();
				if ($("#email_address").val() == '') {
					$("#email_address").val(email);
				}

				var pub_first_name = $("#pre_pub_first_name").text();
				if ($("#pub_first_name").val() == '') {
					$("#pub_first_name").val(pub_first_name);
				}
				var pub_last_name = $("#pre_pub_last_name").text();
				if ($("#pub_last_name").val() == '') {
					$("#pub_last_name").val(pub_last_name);
				}
				var pub_suffix = $("#pre_pub_suffix").text();
				if ($("#pub_suffix").val() == '') {
					$("#pub_suffix").val(pub_suffix);
				}

				var street = $("#pre_postal_street").text();
				if ($("#postal_street").val() == '') {
					$("#postal_street").val(street);
				}

				var city = $("#pre_postal_city").text();
				if ($("#postal_city").val() == '') {
					$("#postal_city").val(city);
				}
            
				var state = $("#pre_postal_state").text();
				if ($("#postal_state").val() == '') {
					$("#postal_state").val(state);
				}
            
				var zip = $("#pre_postal_zip").text();
				if ($("#postal_zip").val() == '') {
					$("#postal_zip").val(zip);
				}
            
				var country = $("#pre_postal_country").text();
				if ($("#postal_country").val() == '') {
					$("#postal_country").val(country);
				}
            
                $("input:text, textarea, input:password").each(function(){
                    if (this.value == '' && this.title != '') {
                        this.value = this.title;
                        this.style.color = 'lightgrey';
                    }
                });
                $("input:text, textarea, input:password").focus(function(){
                    if (this.value == this.title) {
                        this.value = '';
                        this.style.color = '';
                    }
                });
                $("input:text, textarea, input:password").blur(function(){
                    if (this.value == '' && this.title != '') {
                        this.value = this.title;
                        this.style.color = 'lightgrey';
                    }
                });
                
                $("input:image, input:button, input:submit").click(function(){
					$("input:text, textarea, input:password").each(function(){
                        if (this.type == 'text' || this.type == 'textarea' || this.type == 'password') {
                            if (this.value == this.title && this.title != '') {
                                this.value = '';
                            }
                        }
                    });
                });
                
                // Prevent submit on return	
                $(window).keydown(function(event){
                    if (event.keyCode == 13 && event.target.tagName != "TEXTAREA") {
                        event.preventDefault();
                        return false;
                    }
                });
                
                //$( "#surveyAccordian" ).accordion({ header : 'h3', collapsible: true, autoHeight: false });
				
                function toggleQuestions(state){
                    $('div.timeselect > select').attr('disabled', state);
                    $('div.timeselect input').attr('disabled', state);
                };
                
				if (!$('input#timeselect').attr("checked")) {
                	toggleQuestions('true');
				};
                
                $('#timeselect').click(function(){
                    $('div.timeselect > select').removeAttr('disabled');
                    $('div.timeselect input').removeAttr('disabled');
                });
                
                $('#timedisable').click(function(){
                    toggleQuestions('true');
                });
                
                $('#survey-set a').tooltip();
                
                // hide all of the elements with a class of 'toggle'
                $('.toggle').hide();
                
                $('a.toggleLink').click(function(){
                    // switch visibility
					$(this).hide();
                    $(this).next('.toggle').show().next('.toggleLink').show();
                    // return false so link destination for pane is not followed
                    return false;
                });
                
                function split(val){
                    return val.split(/,\s*/);
                }
                function extractLast(term){
                    return split(term).pop();
                }

                // Iterate through all the elements in the page and assign the autocomplete to it
                // then make calls to the server to get the tags for each of the associated contexts
                $('div.taggable').each(function(index){ // for all divs that have the class taggable
                    var context = $(this).find('#context').text(); // get the context
                    var element = $(this).find('.' + context); // get the text or text area that needs to have autocomplete
                    var cloud = $(this).find('.cloud');
                    
                    // create the cloud for /survey_respondents/tags/cloud?context=excludedTimes
                    $.ajax({
                        url: "/survey_respondents/tags/cloud?context=" + context,
                        dataType: "html",
                        success: function(response){
                            cloud.append(response);
                        }
                    });
                    
                    //                    
                    $.ajax({
                        url: "/survey_respondents/tags/alltags?context=" + context,
                        async: true,
                        dataType: "xml",
                        success: function(xmlResponse){
                            // Put all the tags into an array
                            var gtags = new Array();
                            $(xmlResponse).find("tag").each(function(){
                                gtags.push($(this).text());
                            });
                            
                            // and then use this array with the autocomplete functionality
                            element.autocomplete({
                                source: function(request, response){
                                    var re = $.ui.autocomplete.escapeRegex(extractLast(request.term));
                                    var matcher = new RegExp("^" + re, "i");
                                    var a = $.grep(gtags, function(item, index){
                                        return matcher.test(item);
                                    });
                                    response(a);
                                },
                                focus: function(){
                                    return false; // prevent value insertion on focus
                                },
                                select: function(event, ui){
                                    var terms = split(this.value);
                                    terms.pop(); // remove the current input
                                    terms.push(ui.item.value); // add the selected item
                                    terms.push(""); // add placeholder to get the comma-and-space at the end
                                    this.value = terms.join(", ");
                                    return false;
                                }
                            });
                        }
                    });
                });
                //
            });
        </script>
    </head>
    <body>
        <div class="grid_12">
        </div>
        <div class="clear">
        </div>
        <div class="container_12">
            <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
    </body>
</html>
